Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: python, javascript, 0http, express, fastify, feathersjs, foxify, fyrejet, hapi, iotjs-express, koa, moleculer, muneem, nanoexpress, naturaljs-router, nestjs-express, nestjs-fastify, polka, polkadot, rayo, restana, restify, sails, sifrr, tinyhttp, php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, lumen, mark, mezzio, nano, nette, one, phalcon, siler, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro

python:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

javascript:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

0http:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: 0http
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

express:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: express
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

fastify:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: fastify
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

feathersjs:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: feathersjs
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

foxify:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: foxify
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

fyrejet:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: fyrejet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

hapi:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: hapi
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

Update dependency index.py to >=0.18,<0.20
  python/index.py/requirements.txt
Due: python

update link
  cpp/drogon/config.yaml
Due: none

update results
  data.json
  data.min.json
Due: python

Update dependency metosin:ring-http-response to v0.9.3
  clojure/luminus/project.clj
Due: none

[C++] Update drogon to v1.7.2 (#4581)
  cpp/drogon/config.yaml
  data.json
  data.min.json
Due: python

update version in results
  python/index.py/config.yaml
  python/index.py/requirements.txt
Due: python

Update dependency io.quarkus:quarkus-maven-plugin to v2.2.0.Final
  java/quarkus/pom.xml
Due: none

update version in results
  java/quarkus/config.yaml
Due: none

Update Rust crate salvo to ~0.12
  rust/salvo/Cargo.toml
Due: none

Update swoole.php
  php/mixphp-swoole/bin/swoole.php
Due: php

Update workerman.php
  php/mixphp-workerman/bin/workerman.php
Due: php

Update start params
  php/mixphp-swoole/bin/swoole.php
  php/mixphp-workerman/bin/workerman.php
Due: php

[PHP] Update start params for mixphp (#4587)
  php/mixphp-swoole/bin/swoole.php
  php/mixphp-workerman/bin/workerman.php
Due: php

update version in results
  rust/salvo/config.yaml
Due: none

Update module github.com/gofiber/fiber/v2 to v2.18.0
  go/fiber/go.mod
Due: none

update version in results
  go/fiber/config.yaml
Due: none

set enable_coroutine=false
  php/imi-swoole/config/config.php
Due: php

[PHP] Optimize imi (#4589)
  php/imi-swoole/config/config.php
Due: php

Update module github.com/fasthttp/router to v1.4.2
  go/router/go.mod
Due: none

Update quarkus.platform.version
  java/quarkus/pom.xml
Due: none

Update module github.com/savsgio/atreugo/v11 to v11.8.2
  go/atreugo/go.mod
Due: none

add swoole / workerman for mixphp
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  php/mixphp-swoole/config.yaml
  php/mixphp-swoole/src/Controller/Benchmark.php
  php/mixphp-swoole/src/Vega.php
  php/mixphp-workerman/config.yaml
  php/mixphp-workerman/src/Controller/Benchmark.php
  php/mixphp-workerman/src/Vega.php
  php/mixphp/.swoole/bin/swoole.php
  php/mixphp/.swoole/composer.json
  php/mixphp/.workerman/bin/workerman.php
  php/mixphp/.workerman/composer.json
  php/mixphp/config.yaml
  php/mixphp/public/.htaccess
Due: php

add hypercorn for django
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  php/antidot/config.yaml
  python/config.yaml
  python/django/config.yaml
Due: python, php, antidot

Update dependency com.fasterxml.jackson.core:jackson-core to v2.12.5
  clojure/luminus/project.clj
Due: none

add asgi adapter for django
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  php/mixphp/config.yaml
  python/django/app/asgi.py
  python/django/config.yaml
Due: python, php

Update mixphp swoole.php
  php/mixphp-swoole/bin/swoole.php
Due: php

Update dependency laravel/framework to ~8.57.0
  php/laravel/composer.json
Due: php, laravel

update version in results
  php/laravel/config.yaml
Due: php, laravel

Update results on 28th of August 2021 (#4596)
  data.json
  data.min.json
Due: python

Update dependency jonase:eastwood to v0.9.8
  clojure/luminus/project.clj
Due: none

add asgi support for baize
  python/baize-asgi/config.yaml
Due: python

Update ponylang/ponyc Docker tag to v0.43.2
  pony/Dockerfile
Due: none

Update dependency cprop:cprop to v0.1.19
  clojure/luminus/project.clj
Due: none

Update dependency jonase:eastwood to v0.9.9
  clojure/luminus/project.clj
Due: none

Update mixphp fast_mode
  php/mixphp-swoole/src/Controller/Benchmark.php
  php/mixphp-swoole/src/Vega.php
  php/mixphp-workerman/src/Controller/Benchmark.php
  php/mixphp-workerman/src/Vega.php
Due: php

Path conditions:
  python: any of: python/, data.json
  javascript: any of: javascript/
  0http: any of: javascript/0http
  express: any of: javascript/express
  fastify: any of: javascript/fastify
  feathersjs: any of: javascript/feathersjs
  foxify: any of: javascript/foxify
  fyrejet: any of: javascript/fyrejet
  hapi: any of: javascript/hapi
  iotjs-express: any of: javascript/iotjs-express
  koa: any of: javascript/koa
  moleculer: any of: javascript/moleculer
  muneem: any of: javascript/muneem
  nanoexpress: any of: javascript/nanoexpress
  naturaljs-router: any of: javascript/naturaljs-router
  nestjs-express: any of: javascript/nestjs-express
  nestjs-fastify: any of: javascript/nestjs-fastify
  polka: any of: javascript/polka
  polkadot: any of: javascript/polkadot
  rayo: any of: javascript/rayo
  restana: any of: javascript/restana
  restify: any of: javascript/restify
  sails: any of: javascript/sails
  sifrr: any of: javascript/sifrr
  tinyhttp: any of: javascript/tinyhttp
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
