Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

fix(agoo): Wrong startup command
  ruby/agoo/config.yaml
Due: ruby

fix(php): use bcmath on containers
  php/Dockerfile
Due: php

chore: Enfore styles
  dart/aqueduct/main.dart
Due: dart

feat(ice): Use old version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

chore(c): Stabilize builds
  c/.build/digitalocean/Dockerfile
  c/agoo-c/config.yaml
  c/kore/config.yaml
  c/kore/kore
Due: c

chore(elixir): Use multi-lines for bootstrap
  elixir/config.yaml
Due: elixir

chore: Do not read <lib> directory -> generated by crystal
  Rakefile
Due: none

chore(haskell): Stabilize build
  haskell/.build/digitalocean/Dockerfile
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

fix: Remove unsed config
  dart/aqueduct/main.dart
Due: dart

chore(elixir): No need for compilation script
  elixir/.gitignore
Due: elixir

chore(rust): Add build directory to ignore file
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/script/.gitignore
  elixir/phoenix/script/.gitignore
  elixir/plug/script/.gitignore
  rust/.gitignore
Due: rust, elixir

chore(swift): Use multi-lines for bootstrap
  swift/config.yaml
Due: swift

fix: Wrong condition
  Rakefile
Due: none

fix(hyperf): Add a docker workaround for shortname
  php/hyperf/config.yaml
Due: php

chore: Revert previous commit
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

fix(fastsitephp): Use new config.yaml directives
  php/fastsitephp/config.yaml
  php/fastsitephp/config/.gitignore
Due: php

chore(vapor): Remove lock file
  swift/vapor-framework/Package.resolved
Due: swift

chore(ci): Restore config
  .semaphore/semaphore.yml
Due: none

chore: Add elixir results
  README.md
Due: none

chore: Specify extension for clang-format
  .restyled.yaml
Due: none

chore: Add c frameworks to results [skip ci]
  README.md
Due: none

chore: Add pony results
  README.md
Due: none

chore:Add clojure results
  README.md
Due: none

docs(python): Update hug website
  python/hug/config.yaml
Due: python

chore: Add rust results
  README.md
Due: none

chore: Update results [skip ci]
  README.md
Due: none

feat: Use private IP (instead of public one) to communicate while bootstraping
  config.yaml
Due: none

chore: Add C# results
  README.md
Due: none

chore: Add scala results
  README.md
Due: none

chore: Add nim results
  README.md
Due: none

fix(javascript): Ensure deps installation
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

fix: Wrong rebase
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

chore: Update results
  README.md
Due: none

chore: Complete restylers list
  .restyled.yaml
Due: none

fix: Upload files as root, and set rights on runcmd
  Rakefile
  config.yaml
Due: none

chore: Simplify cloud-init use creation
  config.yaml
Due: none
