Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

Update dependency org.codehaus.mojo:exec-maven-plugin to v1.6.0
  java/light-4j/pom.xml
Due: java

Update dependency org.apache.maven.plugins:maven-jar-plugin to v3
  java/light-4j/pom.xml
Due: java

Update dependency org.apache.maven.plugins:maven-javadoc-plugin to v3
  java/light-4j/pom.xml
Due: java

Update dependency org.apache.maven.plugins:maven-shade-plugin to v3
  java/light-4j/pom.xml
Due: java

Update dependency org.codehaus.mojo:exec-maven-plugin to v3
  java/light-4j/pom.xml
Due: java

Update dependency Criollo to v1
  objc/criollo/Podfile
Due: none

Update version.light-4j to v2
  java/light-4j/pom.xml
Due: java

chore(light-4j): Remove plugin version
  java/light-4j/pom.xml
Due: java

Update dependency agoo to ~> 2.13.0
  ruby/agoo/Gemfile
Due: ruby

Update nimlang/nim Docker tag to v1.2.4
  nim/Dockerfile
Due: nim

[Java] Remove maven plugin version (#3095)
  java/light-4j/pom.xml
Due: java

chore(java): Upgrade to v11
  java/Dockerfile
  java/config.yaml
Due: java

chore(java): Update light4j to 2.0
  java/light-4j/config.yaml
  java/light-4j/pom.xml
Due: java

chore(blade): Use java 11
  java/blade/pom.xml
Due: java

chore(javalin): Use java 11
  java/javalin/pom.xml
Due: java

chore(jooby): Use java 11
  java/jooby/pom.xml
Due: java

chore(rapidoid): Use java 11
  java/rapidoid/pom.xml
Due: java

chore(ruby): Update agoo to 2.13
  ruby/agoo/config.yaml
Due: ruby

chore(spring-boot): Use java 11
  java/spring-boot/pom.xml
Due: java

chore(spring-framework): Use java 11
  java/Dockerfile
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
Due: java

chore(struts2): Use java 11
  java/struts2/config.yaml
  java/struts2/pom.xml
Due: java

Update servers.php
  php/simps/config/servers.php
Due: php

[Java] Update light4j to 2.0 (#3102)
  java/light-4j/config.yaml
  java/light-4j/pom.xml
Due: java

[Java] Upgrade to v11 (#3101)
  java/Dockerfile
  java/blade/pom.xml
  java/config.yaml
  java/javalin/pom.xml
  java/jooby/pom.xml
  java/light-4j/config.yaml
  java/light-4j/pom.xml
  java/rapidoid/pom.xml
  java/spring-boot/pom.xml
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
  java/struts2/config.yaml
  java/struts2/pom.xml
Due: java

Update dependency laravel/framework to ~7.19.0
  php/laravel/composer.json
Due: php

Update dependency fastify to v3
  javascript/fastify/package.json
Due: javascript

falco v2.0.0-alpha
  fsharp/falco/Program.fs
Due: fsharp

fsproj file package version
  fsharp/falco/web.fsproj
Due: fsharp

Optimized
  php/hyperf/app/Kernel/FastServer.php
  php/hyperf/sbin/hyperf.php
Due: php

Update server.php
  php/hyperf/config/autoload/server.php
Due: php

Update dependency apidaora to >=0.26.0,<0.27.1
  python/apidaora/requirements.txt
Due: python

Uses embedded Jetty
  java/struts2/config.yaml
  java/struts2/pom.xml
  java/struts2/src/etc/assembly.xml
  java/struts2/src/main/java/App.java
Due: java

Uses new PlainResult with lambdas
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/UserAction.java
  java/struts2/src/main/resources/struts.xml
  java/struts2/src/main/webapp/WEB-INF/index.jsp
  java/struts2/src/main/webapp/WEB-INF/user-id.jsp
  java/struts2/src/main/webapp/WEB-INF/web.xml
Due: java

[PHP] Urade hyperf to 2.0 (#3110)
  .github/CODEOWNERS
  php/hyperf/app/Kernel/FastServer.php
  php/hyperf/composer.json
  php/hyperf/config.yaml
  php/hyperf/config/autoload/server.php
  php/hyperf/sbin/hyperf.php
Due: php

Optimized code.
  php/hyperf/config.yaml
  php/hyperf/config/config.php
Due: php

Uses proper Java 11 settings for Maven
  java/struts2/pom.xml
Due: java

[PHP] Add cache at startup for hyperf (#3113)
  php/hyperf/config.yaml
  php/hyperf/config/config.php
Due: php

Update module gofiber/fiber to v1.12.5
  go/fiber/go.mod
Due: go

Update module savsgio/atreugo/v11 to v11.4.1
  go/atreugo/go.mod
Due: go

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
