Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: javascript, 0http, express, fastify, feathersjs, foxify, fyrejet, hapi, iotjs-express, koa, moleculer, muneem, nanoexpress, naturaljs-router, nestjs-express, nestjs-fastify, polka, polkadot, rayo, restana, restify, sails, sifrr, tinyhttp, php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, lumen, mark, mezzio, nano, nette, one, phalcon, siler, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro

Path conditions:
  javascript: any of: javascript/
  0http: any of: javascript/0http
  express: any of: javascript/express
  fastify: any of: javascript/fastify
  feathersjs: any of: javascript/feathersjs
  foxify: any of: javascript/foxify
  fyrejet: any of: javascript/fyrejet
  hapi: any of: javascript/hapi
  iotjs-express: any of: javascript/iotjs-express
  koa: any of: javascript/koa
  moleculer: any of: javascript/moleculer
  muneem: any of: javascript/muneem
  nanoexpress: any of: javascript/nanoexpress
  naturaljs-router: any of: javascript/naturaljs-router
  nestjs-express: any of: javascript/nestjs-express
  nestjs-fastify: any of: javascript/nestjs-fastify
  polka: any of: javascript/polka
  polkadot: any of: javascript/polkadot
  rayo: any of: javascript/rayo
  restana: any of: javascript/restana
  restify: any of: javascript/restify
  sails: any of: javascript/sails
  sifrr: any of: javascript/sifrr
  tinyhttp: any of: javascript/tinyhttp
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro

Update quarkus.platform.version to v2.1.3.Final
  java/quarkus/pom.xml
Due: none

add workerman config for imi
  php/imi/.workerman/config/config.php
Due: php, imi

Update golang Docker tag to v1.17
  go/Dockerfile
Due: none

bad version required for phalcon
  php/phalcon/composer.json
Due: php, phalcon

update ci config
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
Due: none

Update dependency vapor/vapor to from: "4.48.4"
  swift/vapor-framework/Package.swift
Due: none

lint
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  javascript/0http/.uwebsockets/app.js
  javascript/naturaljs-router/app.js
  javascript/tinyhttp/app.js
  php/chubbyphp/.road-runner/.rr.yaml
  php/cubex/.workerman/composer.json
Due: javascript, 0http, naturaljs-router, tinyhttp, php, chubbyphp, cubex

start pythonization
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
  javascript/fyrejet/.uwebsockets/app.js
  python/Dockerfile
  python/aiohttp/config.yaml
  python/aiohttp/requirements.txt
  python/aiohttp/server.py
  python/apidaora/config.yaml
  python/asgineer/config.yaml
  python/asgineer/requirements.txt
  python/config.yaml
  python/cyclone/config.yaml
  python/guillotina/config.yaml
  python/masonite/config.yaml
Due: javascript, fyrejet

run ci only for python
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update results
  data.json
  data.min.json
Due: none

add blacksheep
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/blacksheep/config.yaml
  python/blacksheep/requirements.txt
  python/config.yaml
Due: none

Update results on 22th of August 2021 (#4569)
  data.json
  data.min.json
Due: none

Update dependency @tinyhttp/app to v2
  javascript/tinyhttp/package.json
Due: javascript, tinyhttp

update version in results
  javascript/tinyhttp/config.yaml
Due: javascript, tinyhttp

[php-antiddot] fix dependency issues in composer json
  php/antidot/composer.json
Due: php, antidot

add bottle
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/Dockerfile
  python/bottle/config.yaml
  python/bottle/requirements.txt
  python/bottle/server.py
  python/config.yaml
  python/falcon/server.py
  python/flask/server.py
  python/hug/server.py
Due: none

add cyclone
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/config.yaml
  python/cyclone/config.yaml
Due: none

[php-antiddot] set react/http fixed to 1.2.0
  php/antidot/composer.json
  php/antidot/config.yaml
Due: php, antidot

Add .htaccess
  php/mixphp/public/.htaccess
Due: php

add gunicorn for django
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/config.yaml
  python/django/config.yaml
  python/django/requirements.txt
Due: none

[PHP] Add mixphp (#4559)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  php/mixphp-swoole/bin/swoole.php
  php/mixphp-swoole/composer.json
  php/mixphp-swoole/config.yaml
  php/mixphp-swoole/src/Controller/Benchmark.php
  php/mixphp-swoole/src/Vega.php
  php/mixphp-workerman/bin/workerman.php
  php/mixphp-workerman/composer.json
  php/mixphp-workerman/config.yaml
  php/mixphp-workerman/src/Controller/Benchmark.php
  php/mixphp-workerman/src/Vega.php
  php/mixphp/composer.json
  php/mixphp/config.yaml
  php/mixphp/public/.htaccess
  php/mixphp/public/index.php
  php/mixphp/src/Controller/Benchmark.php
  php/mixphp/src/Vega.php
Due: php

[PHP] Antidot: fix dependency issues in composer json (#4571)
  php/antidot/composer.json
  php/antidot/config.yaml
Due: php, antidot

disable daphne for blacksheep
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  python/blacksheep/config.yaml
Due: none

Update dependency react/http to v1.5.0
  php/antidot/composer.json
Due: php, antidot

Update results on 23th of August 2021 (#4573)
  data.json
  data.min.json
Due: none

use all latest components
  php/antidot/composer.json
Due: php, antidot

remmove --quiet
  php/antidot/config.yaml
Due: php, antidot

Update dependency hummingbird-project/hummingbird to from: "0.12.1"
  swift/hummingbird-framework/Package.swift
Due: none

Update dependency laravel/framework to ~8.56.0
  php/laravel/composer.json
Due: php, laravel

Update plugin io.micronaut.application to v1.5.4
  java/micronaut/build.gradle
Due: none

Update plugin com.github.johnrengelman.shadow to v7
  java/micronaut/build.gradle
Due: none

update version in results
  php/laravel/config.yaml
Due: php, laravel

Update plugin io.micronaut.application to v2
  java/micronaut/build.gradle
Due: none

update
  cpp/drogon/config.yaml
Due: none

update repo url
  cpp/drogon/config.yaml
Due: none
