Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Update dependency roda to ~> 3.35.0
  ruby/roda/Gemfile
Due: ruby

chore(ruby): Update roda to 3.35
  ruby/roda/config.yaml
Due: ruby

Update dependency vapor/vapor to from: "4.28.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.28
  swift/vapor-framework/config.yaml
Due: swift

[Nim] update basolato (#3234)
  nim/basolato/server.nimble
Due: nim

Update module gofiber/fiber to v1.14.2
  go/fiber/go.mod
Due: go

Update index.py config
  .travis.yml
  python/index.py/config.yaml
  python/index.py/requirements.txt
Due: python

[Python] Add index.py (#3242)
  .travis.yml
  python/index.py/config.yaml
  python/index.py/requirements.txt
  python/index.py/server.py
Due: python

chore(go): Update fiber to 1.14.2
  go/fiber/config.yaml
Due: go

Update module valyala/fasthttp to v1.16.0
  go/fasthttp/go.mod
  go/fasthttprouter/go.mod
  go/gorouter-fasthttp/go.mod
Due: go

chore(go): Update fasthttp to 1.16
  go/fasthttp/config.yaml
Due: go

Update dependency asgineer to >=0.7.0,<0.8.1
  python/asgineer/requirements.txt
Due: python

chore(python): Update asgineer to 0.8
  python/asgineer/config.yaml
  python/asgineer/requirements.txt
Due: python

chore(asginee): Add reviewer [skip ci]
  .github/CODEOWNERS
Due: none

Update dependency vapor/vapor to from: "4.29.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift); Update vapor to 4.29
  swift/vapor-framework/config.yaml
Due: swift

Update module gorilla/mux to v1.8.0
  go/gorilla-mux/go.mod
Due: go

chore(go): Update gorilla mux to 1.8.0
  go/gorilla-mux/config.yaml
Due: go

Update module gofiber/fiber to v1.14.4
  go/fiber/go.mod
Due: go

feat(r): Add restrserve
  .travis.yml
  r/Dockerfile
  r/config.yaml
  r/restrserve/.Rprofile
  r/restrserve/R/Functions.R
  r/restrserve/app.R
  r/restrserve/config.yaml
  r/restrserve/renv/activate.R
Due: none

Update module fasthttp/router to v1.3.0
  go/router/go.mod
Due: go

chore(go): Update router to 1.3.0
  go/router/config.yaml
Due: go

fix(perl): Specify version for dancer2
  perl/dancer2/config.yaml
  perl/dancer2/cpanfile
Due: perl

feat(r): Add before command hook
  r/Dockerfile
Due: none

chore(r): Use remotes to install from project manifest
  r/Dockerfile
  r/restrserve/.Rprofile
  r/restrserve/DESCRIPTION
  r/restrserve/config.yaml
  r/restrserve/renv/activate.R
Due: none

Update module savsgio/atreugo/v11 to v11.5.1
  go/atreugo/go.mod
Due: go

Update dependency fastify to ~3.3.0
  javascript/fastify/package.json
Due: javascript

Update dependency laravel/framework to ~7.26.0
  php/laravel/composer.json
Due: php

Update module fasthttp/router to v1.3.1
  go/router/go.mod
Due: go

chore(go): Update router to 1.3.1
  go/router/config.yaml
Due: go

Update module gogf/gf to v1.13.4
  go/gf/go.mod
Due: go

chore(php): Update laravel to 7.26
  php/laravel/config.yaml
Due: php

chore(javascript): Update fastify to 3.3
  javascript/fastify/config.yaml
Due: javascript

chore(fastify); Add reviewer
  .github/CODEOWNERS
Due: none

chore(fastify): Remove schema
  javascript/fastify/app.js
Due: javascript

chore(restrserve): Beautify code
  r/restrserve/DESCRIPTION
  r/restrserve/R/Functions.R
  r/restrserve/app.R
Due: none

Update dependency vapor/vapor to from: "4.29.1"
  swift/vapor-framework/Package.swift
Due: swift

chore(deps): Enable maven dependency tracker
  renovate.json
Due: none

Enable maven dependency tracker (#3267)
  renovate.json
Due: none
