Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore(crystal): Use kemal master
  crystal/kemal/shard.yml
Due: crystal

chore(ci): Restore config
  .travis.yml
Due: none

chore(crystal): Upgrade to 0.35.1
  crystal/Dockerfile
Due: crystal

Update dependency vapor/vapor to from: "4.10.1"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency javax.servlet:javax.servlet-api to v4
  java/struts2/pom.xml
Due: java

Uses proper content type
  java/struts2/src/main/webapp/WEB-INF/index.jsp
  java/struts2/src/main/webapp/WEB-INF/user-id.jsp
Due: java

chore(struts2): Add reviewer [skip ci]
  .github/CODEOWNERS
Due: none

[Java] Uses proper content type for struts2 (#3025)
  .github/CODEOWNERS
  java/struts2/src/main/webapp/WEB-INF/index.jsp
  java/struts2/src/main/webapp/WEB-INF/user-id.jsp
Due: java

Update dependency vapor/vapor to from: "4.10.2"
  swift/vapor-framework/Package.swift
Due: swift

chore(javascript): Update nanoexpress-pro to 1.12
  javascript/nanoexpress-pro/config.yaml
Due: javascript

Update dependency nanoexpress-pro to ~1.12.0
  javascript/nanoexpress-pro/package.json
Due: javascript

chore(nanoexpress-pro): Add reviewer
  .github/CODEOWNERS
Due: none

Update dependency vapor/vapor to from: "4.10.3"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency laravel/lumen-framework to ~7.2.0
  php/lumen/composer.json
Due: php

chore(php): Update lumen to 7.2
  php/lumen/config.yaml
Due: php

chore(php): Update laravel to 7.17
  php/laravel/config.yaml
Due: php

Update dependency laravel/framework to ~7.17.0
  php/laravel/composer.json
Due: php

chore(java): Do not specify version for plugins
  java/spring-framework/pom.xml
  java/struts2/pom.xml
Due: java

chore(java): Use the same versions of maven dependencies
  java/spring-framework/pom.xml
  java/struts2/pom.xml
Due: java

fix: Set concurrencies to 64,256,512
  tools/src/make.cr
Due: none

Update dependency vapor/vapor to from: "4.12.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.12
  swift/vapor-framework/config.yaml
Due: swift

[Clojure] Add Yada #3012
  .travis.yml
  clojure/yada/config.yaml
  clojure/yada/deps.edn
  clojure/yada/src/server.clj
Due: clojure

chore: Update results
  README.md
Due: none

Hardcode concurrencies (#3029)
  tools/src/make.cr
Due: none

Add Comet v0.7 into PHP frameworks
  php/comet/composer.json
  php/comet/config.yaml
  php/comet/start.php
Due: php

Fix minor issues
  .travis.yml
  php/comet/composer.json
  php/comet/start.php
Due: php

Update dependency vapor/vapor to from: "4.12.1"
  swift/vapor-framework/Package.swift
Due: swift

[PHP] Add Comet (#3033)
  .travis.yml
  php/comet/composer.json
  php/comet/config.yaml
  php/comet/start.php
Due: php

Update dependency chubbyphp/chubbyphp-framework to v3
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp/composer.json
Due: php

chore(php): Update chubbyphp to 3.0
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp/config.yaml
Due: php

fix: Wrong syntax
  tools/src/make.cr
Due: none

chubbyphp-v2-to-v3
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp-roadrunner/public/index.php
  php/chubbyphp/composer.json
  php/chubbyphp/config.yaml
  php/chubbyphp/public/index.php
Due: php

chore(chubbyphp): Add reviewer
  .github/CODEOWNERS
Due: none

chubbyphp: adapt dependencies
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp/composer.json
Due: php

Update hseeberger/scala-sbt Docker tag to v11.0.7_1.3.12_2.13.3
  scala/Dockerfile
Due: scala

Update dependency mark-php/mark to ~1.1.0
  php/mark/composer.json
Due: php

chore(php): Update mark to 1.1
  php/mark/config.yaml
Due: php
