Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

[Go] Upgrade webgo to v4
  go/webgo/config.yaml
  go/webgo/go.mod
  go/webgo/main.go
Due: go

[Go] Upgrade webgo to v4 (#2856)
  go/webgo/config.yaml
  go/webgo/go.mod
  go/webgo/main.go
Due: go

moved akka-http to sbt-native-packager
  scala/akkahttp/build.sbt
  scala/akkahttp/project/build.properties
  scala/akkahttp/project/plugins.sbt
  scala/http4s/build.sbt
  scala/http4s/project/build.properties
Due: scala

minor
  scala/http4s/build.sbt
  scala/http4s/project/plugins.sbt
Due: scala

feat(scala): Add play
  scala/play/config.yaml
Due: scala

fix(scala): Use an IP whitelist for play
  scala/play/src/main/resources/application.conf
Due: scala

chore(scala): Use universal packaging policy
  scala/Dockerfile
  scala/play/config.yaml
Due: scala

first commit
  scala/play/.gitignore
  scala/play/build.sbt
  scala/play/project/build.properties
  scala/play/project/plugins.sbt
  scala/play/src/main/resources/application.conf
  scala/play/src/main/resources/routes
  scala/play/src/main/scala/wf/Application.scala
Due: scala

chore(scala): Use version range for play
  scala/play/build.sbt
Due: scala

chore(scala): Use universal commands
  scala/akkahttp/config.yaml
  scala/http4s/config.yaml
  scala/play/config.yaml
Due: scala

minor: added sbt-native-packager for scala.http4s
  scala/http4s/build.sbt
  scala/http4s/project/plugins.sbt
Due: scala

fix(scala): Trailing whitespace on akkahttp version
  scala/akkahttp/build.sbt
Due: scala

fix(scala): Use port 3000 for play
  scala/play/src/main/resources/application.conf
Due: scala

chore(ci): Add play for scala
  .travis.yml
Due: none

chore(scala): Use label for multi-stage docker
  scala/Dockerfile
Due: scala

fix(play): Bad method for /user
  scala/play/src/main/resources/routes
Due: scala

[Scala] Introduce Play! (#2858)
  .travis.yml
  scala/Dockerfile
  scala/akkahttp/build.sbt
  scala/akkahttp/config.yaml
  scala/akkahttp/project/plugins.sbt
  scala/http4s/build.sbt
  scala/http4s/config.yaml
  scala/http4s/project/build.properties
  scala/http4s/project/plugins.sbt
  scala/play/.gitignore
  scala/play/build.sbt
  scala/play/config.yaml
  scala/play/project/build.properties
  scala/play/project/plugins.sbt
  scala/play/src/main/resources/application.conf
  scala/play/src/main/resources/routes
  scala/play/src/main/scala/wf/Application.scala
Due: scala

Update dependency org.scalameta:sbt-scalafmt to v2.4.0
  scala/play/project/plugins.sbt
Due: scala

chore(dart): Introduce start
  dart/start/config.yaml
  dart/start/main.dart
  dart/start/pubspec.yaml
Due: dart

chore(ci): Add start for dart
  .travis.yml
Due: none

chore(scala): Remove unecessary plugin for play
  scala/play/project/plugins.sbt
Due: scala

fix(start): Use 0.0.0.0 as hostname
  dart/start/main.dart
Due: dart

Update rust Docker tag to v1.44
  rust/Dockerfile
Due: rust

Add Frank #2869
  fsharp/frank/Program.fs
  fsharp/frank/config.yaml
  fsharp/frank/frankapp.fsproj
Due: fsharp

Add Giraffe
  fsharp/giraffe/Program.fs
  fsharp/giraffe/config.yaml
  fsharp/giraffe/giraffeapp.fsproj
Due: fsharp

Add Falco
  fsharp/falco/Program.fs
  fsharp/falco/config.yaml
  fsharp/falco/falcoapp.fsproj
Due: fsharp

Add path slash to Frank routes
  fsharp/frank/Program.fs
Due: fsharp

Include frameworks in build
  .travis.yml
Due: none

Fix docker builds
  fsharp/Dockerfile
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/suave/web.fsproj
Due: fsharp

Fix CodeFactor error
  fsharp/Dockerfile
Due: fsharp

Add WebSharper
  .travis.yml
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
  fsharp/websharper/wsconfig.json
Due: fsharp

Use port 3000 for F# projects
  fsharp/Dockerfile
Due: fsharp

chore(rust): Upgrade to 1.44
  rust/config.yaml
Due: rust

chore(rust): Use label for multi-stage docker
  rust/Dockerfile
Due: rust

chore(rust): Use tagged version for docker images
  rust/Dockerfile
Due: rust

chore: Use --no-install-recommends for ubuntu installations
  rust/Dockerfile
Due: rust

chore: Delete apt-get list after any installation
  rust/Dockerfile
Due: rust

chore: Add hadolint comment to ignore tag recommendation for mult-stage build
  rust/Dockerfile
Due: rust

[Dart] Add start (#2867)
  .travis.yml
  dart/start/config.yaml
  dart/start/main.dart
  dart/start/pubspec.yaml
Due: dart

Update configs
  fsharp/falco/config.yaml
  fsharp/frank/config.yaml
  fsharp/giraffe/config.yaml
Due: fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
