Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(kotlin): Upgrade to v1.4
  kotlin/config.yaml
  kotlin/kooby/build.gradle
  kotlin/ktor/build.gradle
Due: kotlin

chore(kotlin): Update ktor to v1.4
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
Due: kotlin

chore(crystal): Update shivneri to 0.16
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
Due: crystal

chore(java): Remove AggressiveOpts
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/rapidoid/config.yaml
  java/spring-framework/config.yaml
  java/struts2/config.yaml
  kotlin/Dockerfile
Due: kotlin, java

Disable logging for runcobo
  crystal/runcobo/config.yaml
Due: crystal

Update runcobo to 1.0
  crystal/runcobo/config.yaml
  crystal/runcobo/src/server.cr
Due: crystal

disable logging for spider-gazelle
  crystal/spider-gazelle/src/config.cr
Due: crystal

Update rust Docker tag to v1.46
  rust/Dockerfile
Due: rust

[Crystal] Update runcobo to 1.0 (#3274)
  crystal/runcobo/config.yaml
  crystal/runcobo/src/server.cr
Due: crystal

disable logging for router.cr
  crystal/router.cr/src/server.cr
Due: crystal

change process count
  php/mark/start.php
Due: php

Upgrade rust to 1.46
  rust/config.yaml
Due: rust

update simps
  php/simps/app/Controller/IndexController.php
  php/simps/composer.json
  php/simps/config.yaml
  php/simps/config/servers.php
Due: php

Deleted useless code.
  php/hyperf/config/autoload/server.php
Due: php

Update server.php
  php/hyperf/config/autoload/server.php
Due: php

--amend
  rust/rocket/Cargo.lock
  rust/rocket/Cargo.toml
  rust/rocket/config.yaml
  rust/rocket/src/main.rs
Due: rust

ignore all cid files generated inside folders
  .gitignore
Due: none

Update module labstack/echo/v4 to v4.1.17
  go/echo/go.mod
Due: go

[Crystal] Update shivneri to 0.16 (#3271)
  crystal/shivneri/config.yaml
  crystal/shivneri/shard.yml
Due: crystal

[R] Add restrserve (#3255)
  .travis.yml
  r/Dockerfile
  r/config.yaml
  r/restrserve/DESCRIPTION
  r/restrserve/app.R
  r/restrserve/config.yaml
Due: none

[Java] Remove AggressiveOpts (#3272)
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/rapidoid/config.yaml
  java/spring-framework/config.yaml
  java/struts2/config.yaml
  kotlin/Dockerfile
Due: kotlin, java

[Kotlin] Upgrade ktor to v1.4 (#3269)
  kotlin/config.yaml
  kotlin/kooby/build.gradle
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
Due: kotlin

Update node Docker tag to v14.9
  javascript/Dockerfile
Due: javascript

Update ponylang/ponyc Docker tag to v0.37.0
  pony/Dockerfile
Due: pony

chore(javascript): Use LTS version of node
  javascript/Dockerfile
  javascript/config.yaml
Due: javascript

update version in result
  pony/config.yaml
Due: pony

[Python] Fix index.py requirements
  python/index.py/requirements.txt
Due: python

Update node Docker tag to v12.18
  javascript/Dockerfile
Due: javascript

[Python] Fix index.py requirements (#3284)
  python/index.py/requirements.txt
Due: python

update node to 12.18 in results
  javascript/config.yaml
Due: javascript

chore(go): Remove fasthttprouter
  .travis.yml
  go/fasthttprouter/config.yaml
  go/fasthttprouter/go.mod
  go/fasthttprouter/main.go
Due: go

[Go] Remove fasthttprouter (#3270)
  .travis.yml
  go/fasthttprouter/config.yaml
  go/fasthttprouter/go.mod
  go/fasthttprouter/main.go
Due: go

Update dependency laravel/framework to ~7.27.0
  php/laravel/composer.json
Due: php

Update module gofiber/fiber to v1.14.5
  go/fiber/go.mod
Due: go

update version in results
  php/laravel/config.yaml
Due: php

Optimized Phalcon params
  php/phalcon/preload.php
Due: php

[PHP] Optimized Phalcon params
  php/phalcon/Dockerfile
Due: php

[PHP] Added results
  results.png
Due: none

Added new README.md
  README2.md
  php/phalcon/Dockerfile
Due: php

Update dependency sails to ~1.3.0
  javascript/sails/package.json
Due: javascript

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
