Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: javascript, 0http, express, fastify, feathersjs, foxify, fyrejet, hapi, iotjs-express, koa, moleculer, muneem, nanoexpress, naturaljs-router, nestjs-express, nestjs-fastify, polka, polkadot, rayo, restana, restify, sails, sifrr, tinyhttp, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro

Path conditions:
  javascript: any of: javascript/
  0http: any of: javascript/0http
  express: any of: javascript/express
  fastify: any of: javascript/fastify
  feathersjs: any of: javascript/feathersjs
  foxify: any of: javascript/foxify
  fyrejet: any of: javascript/fyrejet
  hapi: any of: javascript/hapi
  iotjs-express: any of: javascript/iotjs-express
  koa: any of: javascript/koa
  moleculer: any of: javascript/moleculer
  muneem: any of: javascript/muneem
  nanoexpress: any of: javascript/nanoexpress
  naturaljs-router: any of: javascript/naturaljs-router
  nestjs-express: any of: javascript/nestjs-express
  nestjs-fastify: any of: javascript/nestjs-fastify
  polka: any of: javascript/polka
  polkadot: any of: javascript/polkadot
  rayo: any of: javascript/rayo
  restana: any of: javascript/restana
  restify: any of: javascript/restify
  sails: any of: javascript/sails
  sifrr: any of: javascript/sifrr
  tinyhttp: any of: javascript/tinyhttp
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro

Update dependency Flask to v2
  python/flask/requirements.txt
Due: none

fix nest
  Rakefile
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript, nestjs-express, nestjs-fastify

Multiple engines, for javascript (#4274)
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
  javascript/0http/.uwebsockets/app.js
  javascript/0http/.uwebsockets/package.json
  javascript/0http/config.yaml
  javascript/Dockerfile
  javascript/config.yaml
  javascript/fyrejet-uwebsockets/config.yaml
  javascript/fyrejet/.uwebsockets/app.json
  javascript/fyrejet/.uwebsockets/package.json
  javascript/fyrejet/config.yaml
  javascript/low-http-server/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/naturaljs-router/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/polka/.turbo-net/app.js
  javascript/polka/.turbo-net/package.json
  javascript/sails/config.yaml
  javascript/sifrr/config.yaml
  javascript/turbo_polka/config.yaml
  php/laravel/config.yaml
Due: javascript, 0http, fyrejet, nanoexpress, naturaljs-router, nestjs-express, nestjs-fastify, polka, sails, sifrr

uopdate
  data.json
  data.min.json
Due: none

Update dependency cowboy to ~> 2.9.0
  elixir/cowboy/mix.exs
  elixir/cowboy_stream/mix.exs
Due: none

Update dependency io.quarkus:quarkus-maven-plugin to v1.13.4.Final
  java/quarkus/pom.xml
Due: none

Update dependency roda to ~> 3.44.0
  ruby/roda/Gemfile
Due: ruby, roda

Update Node.js to v14.17
  javascript/Dockerfile
Due: javascript

Update dependency chubbyphp/chubbyphp-framework to ~3.5.0
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp-swoole/composer.json
  php/chubbyphp-workerman/composer.json
  php/chubbyphp/composer.json
Due: none

Update dependency nanoexpress to ~3.1.0
  javascript/nanoexpress/package.json
Due: javascript, nanoexpress

Update dependency nanoexpress to ~3.2.0
  javascript/nanoexpress/package.json
Due: javascript, nanoexpress

update version
  ruby/roda/config.yaml
Due: ruby, roda

update version
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp-swoole/config.yaml
  php/chubbyphp-workerman/config.yaml
  php/chubbyphp/config.yaml
Due: none

ensure CI full-run if results are updated
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

Update quarkus.platform.version to v1.13.4.Final
  java/quarkus/pom.xml
Due: none

update version
  elixir/cowboy/config.yaml
  elixir/cowboy_stream/config.yaml
Due: none

update version
  python/flask/config.yaml
  python/flask/requirements.txt
Due: none

update version
  python/quart/config.yaml
  python/quart/requirements.txt
Due: none

update to v4.3
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: none

update version
  javascript/config.yaml
Due: javascript

replace-router-with-route-matcher
  php/chubbyphp-roadrunner/public/index.php
  php/chubbyphp-swoole/public/index.php
  php/chubbyphp-workerman/public/index.php
  php/chubbyphp/public/index.php
Due: none

Update dependency index.py to >=0.17,<0.19
  python/index.py/requirements.txt
Due: none

fix beetlex
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  csharp/beetlex/Program.cs
Due: none

update version
  python/index.py/config.yaml
  python/index.py/requirements.txt
Due: none

enable semaphore
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

introduce variants
  .tasks/collect.rake
  Rakefile
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby

test only rails
  Rakefile
Due: none

add iodine
  Rakefile
  ruby/config.yaml
Due: ruby

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: ruby, camping, cuba, hanami-api, rack-routing, rack_app, roda, syro

create configuration for all ruby frameworks
  Rakefile
Due: none

auto-generate ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/db.rake
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

display mutliple variants on README
  .spec/route_spec.rb
  .spec/spec_helper.rb
  .tasks/ci.rake
  .tasks/collect.rake
  .tasks/db.rake
  .tasks/support.rb
  Makefile
  dump.sql
  ruby/agoo/app.rb
Due: ruby, agoo

add run-all wrapper
  Rakefile
  config.yaml
Due: none

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: ruby, grape, sinatra

missing routes file for rack-routing
  ruby/rack-routing/config.yaml
Due: ruby, rack-routing

fix specs
  .tasks/db.rake
  php/laravel/config.yaml
  pony/config.yaml
Due: none

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: ruby, rails
