Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

fix: Wrong syntax
  tools/src/make.cr
Due: none

[PHP] Update chubbyphp to 3.0 (#3037)
  .github/CODEOWNERS
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp-roadrunner/public/index.php
  php/chubbyphp/composer.json
  php/chubbyphp/config.yaml
  php/chubbyphp/public/index.php
  tools/src/make.cr
Due: php

Update dependency vapor/vapor to from: "4.13.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.13
  swift/vapor-framework/config.yaml
Due: swift

falco upgrade to 1.2.0
  fsharp/falco/.vs/web/DesignTimeBuild/.dtbcache.v2
  fsharp/falco/.vs/web/config/applicationhost.config
  fsharp/falco/.vs/web/v16/.suo
  fsharp/falco/Program.fs
  fsharp/falco/web.fsproj
Due: fsharp

remove .vs cruft
  fsharp/falco/.vs/web/DesignTimeBuild/.dtbcache.v2
  fsharp/falco/.vs/web/config/applicationhost.config
  fsharp/falco/.vs/web/v16/.suo
Due: fsharp

Update dependency vapor/vapor to from: "4.14.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.14
  swift/vapor-framework/config.yaml
Due: swift

Update Falco sample
  fsharp/falco/Program.fs
Due: fsharp

chore(fsharp): Update falco to 1.2
  fsharp/falco/config.yaml
  fsharp/falco/web.fsproj
Due: fsharp

fix(falco): Method not allowed
  fsharp/falco/Program.fs
Due: fsharp

Update dependency nanoexpress-pro to v2
  javascript/nanoexpress-pro/package.json
Due: javascript

chore(javascript): Update nanoexpress-pro to 2.0
  javascript/nanoexpress-pro/config.yaml
Due: javascript

chore(act): Prevent using 1.8.33
  java/act/pom.xml
Due: java

chore: Update results
  README.md
Due: none

[F#] Update falco to 1.2 (#3035)
  README.md
  fsharp/falco/Program.fs
  fsharp/falco/config.yaml
  fsharp/falco/web.fsproj
  java/act/pom.xml
Due: java, fsharp

Update module gofiber/fiber to v1.12.1
  go/fiber/go.mod
Due: go

Update hseeberger/scala-sbt Docker tag to v11.0.7_1.3.13_2.13.3
  scala/Dockerfile
Due: scala

falco 1.2.1
  .gitignore
  fsharp/falco/Program.fs
  fsharp/falco/web.fsproj
Due: fsharp

🐦 fsharp / falco - userIdHandler
  fsharp/falco/Program.fs
Due: fsharp

Update all F# projects to 4.7.2
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/saturn/web.fsproj
  fsharp/suave/web.fsproj
  fsharp/websharper/web.fsproj
Due: fsharp

chore(java): Restore original interval
  java/act/pom.xml
Due: java

chore(kore): Re-use kore.io to download sources
  c/kore/config.yaml
Due: c

[Java] Update act to 1.8.33 (#3049)
  java/act/pom.xml
Due: java

chore: Fake commit
  README.md
Due: none

Removed explicit f# version
  fsharp/falco/web.fsproj
Due: fsharp

Update dependency org.actframework:act-starter-parent to [1.8,1.9.0.1)
  java/act/pom.xml
Due: java

chore(java): Updat act to 1.9
  java/act/config.yaml
  java/act/pom.xml
Due: java

Re-add mistakenly remove fsharp version reference
  fsharp/falco/web.fsproj
Due: fsharp

Disables logging
  java/struts2/src/main/resources/log4j2.xml
Due: java

update Lucky to use 0.23.0
  crystal/lucky/config.yaml
  crystal/lucky/shard.yml
Due: crystal

chore(python): Remove trailing decorator
  python/cherrypy/server.py
  python/nameko/server.py
Due: python

Disable logging for automate test
  java/act/src/main/resources/logback.xml
Due: java

[F#] Specify version in fsproj definition (#3048)
  .gitignore
  fsharp/falco/Program.fs
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/saturn/web.fsproj
  fsharp/suave/web.fsproj
  fsharp/websharper/web.fsproj
Due: fsharp

Update dependency nanoexpress-pro to ~2.1.0
  javascript/nanoexpress-pro/package.json
Due: javascript

jooby: disable logging
  java/jooby/pom.xml
  kotlin/kooby/build.gradle
Due: kotlin, java

Sunrise Router with default strategy was added
  php/sunrise-router/composer.json
  php/sunrise-router/config.yaml
  php/sunrise-router/public/index.php
Due: php

Sunrise Router with annotation strategy was added
  php/sunrise-router-annotations/composer.json
  php/sunrise-router-annotations/config.yaml
  php/sunrise-router-annotations/public/index.php
  php/sunrise-router-annotations/src/Controller/HomeController.php
  php/sunrise-router-annotations/src/Controller/User/UserListController.php
  php/sunrise-router-annotations/src/Controller/User/UserReadController.php
Due: php

Info about annotations cache was added
  php/sunrise-router-annotations/public/index.php
Due: php

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
