Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore: Update results
  README.md
Due: none

fix(javascript): Ensure deps installation
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

chore(elixir): No need for compilation script
  elixir/.gitignore
Due: elixir

chore: Avoid double sleep for containers
  config.yaml
Due: none

feat(ice): Use old version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

chore(rust): Add build directory to ignore file
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/script/.gitignore
  elixir/phoenix/script/.gitignore
  elixir/plug/script/.gitignore
  rust/.gitignore
Due: rust, elixir

chore: Enfore styles
  dart/aqueduct/main.dart
Due: dart

fix(fastsitephp): Use new config.yaml directives
  php/fastsitephp/config.yaml
  php/fastsitephp/config/.gitignore
Due: php

docs(python): Update hug website
  python/hug/config.yaml
Due: python

chore(ci): Update config
  .semaphore/semaphore.yml
Due: none

chore(haskell): Stabilize build
  haskell/.build/digitalocean/Dockerfile
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

chore: Create neph log directory before each commands
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore(swift): Do not version lock files
  swift/.gitignore
Due: swift

fix: Remove unsed config
  dart/aqueduct/main.dart
Due: dart

fix(agoo): Wrong startup command
  ruby/agoo/config.yaml
Due: ruby

chore: Update results [skip ci]
  README.md
Due: none

feat: Allow file or folder upload, alongside glob pattern
  Rakefile
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
  crystal/config.yaml
Due: crystal, cpp

fix: Wrong condition
  Rakefile
Due: none

fix(apidaor): Avoid evaluatable variable in bootstrap
  python/apidaora/config.yaml
Due: python

chore(ci): Restore config
  .semaphore/semaphore.yml
Due: none

chore: Specify extension for clang-format
  .restyled.yaml
Due: none

fix(scala): Add application.conf and routes file for play
  scala/Dockerfile
  scala/play/config.yaml
Due: scala

chore: Add F# results
  README.md
Due: none

chore(clojure): Increase docker pause
  clojure/luminus/config.yaml
Due: clojure

chore: Add nim results
  README.md
Due: none

chore: Add c frameworks to results [skip ci]
  README.md
Due: none

chore(fsharp): Use fantomas to lint source code
  .restyled.yaml
Due: none

chore:Add clojure results
  README.md
Due: none

chore(scala): Wrong binary path for play
  scala/play/config.yaml
Due: scala

chore: Add pony results
  README.md
Due: none

chore: Add elixir results
  README.md
Due: none

chore: Use restyled to format json / yaml configurations
  .restyled.yaml
Due: none

feat: Use dockerfile for docker-machine
  Rakefile
Due: none

fix: Wrong rebase
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell
