Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: javascript, 0http, express, fastify, feathersjs, foxify, fyrejet, hapi, iotjs-express, koa, moleculer, muneem, nanoexpress, naturaljs-router, nestjs-express, nestjs-fastify, polka, polkadot, rayo, restana, restify, sails, sifrr, tinyhttp, php, antidot, basicphp, bearframework, chubbyphp, codeigniter4, comet, cubex, driftphp, fastsitephp, fatfree, hamlet, hyperf, ice, imi, laminas, laravel, lumen, mark, mezzio, nano, nette, one, phalcon, siler, simps, slim, spiral, sunrise-router, sunrise-router-annotations, sw-fw-less, swoft, swoole, swoole-coroutine, symfony, ubiquity, unic, webman, workerman, yii, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro

Path conditions:
  javascript: any of: javascript/
  0http: any of: javascript/0http
  express: any of: javascript/express
  fastify: any of: javascript/fastify
  feathersjs: any of: javascript/feathersjs
  foxify: any of: javascript/foxify
  fyrejet: any of: javascript/fyrejet
  hapi: any of: javascript/hapi
  iotjs-express: any of: javascript/iotjs-express
  koa: any of: javascript/koa
  moleculer: any of: javascript/moleculer
  muneem: any of: javascript/muneem
  nanoexpress: any of: javascript/nanoexpress
  naturaljs-router: any of: javascript/naturaljs-router
  nestjs-express: any of: javascript/nestjs-express
  nestjs-fastify: any of: javascript/nestjs-fastify
  polka: any of: javascript/polka
  polkadot: any of: javascript/polkadot
  rayo: any of: javascript/rayo
  restana: any of: javascript/restana
  restify: any of: javascript/restify
  sails: any of: javascript/sails
  sifrr: any of: javascript/sifrr
  tinyhttp: any of: javascript/tinyhttp
  php: any of: php/
  antidot: any of: php/antidot
  basicphp: any of: php/basicphp
  bearframework: any of: php/bearframework
  chubbyphp: any of: php/chubbyphp
  codeigniter4: any of: php/codeigniter4
  comet: any of: php/comet
  cubex: any of: php/cubex
  driftphp: any of: php/driftphp
  fastsitephp: any of: php/fastsitephp
  fatfree: any of: php/fatfree
  hamlet: any of: php/hamlet
  hyperf: any of: php/hyperf
  ice: any of: php/ice
  imi: any of: php/imi
  laminas: any of: php/laminas
  laravel: any of: php/laravel
  lumen: any of: php/lumen
  mark: any of: php/mark
  mezzio: any of: php/mezzio
  nano: any of: php/nano
  nette: any of: php/nette
  one: any of: php/one
  phalcon: any of: php/phalcon
  siler: any of: php/siler
  simps: any of: php/simps
  slim: any of: php/slim
  spiral: any of: php/spiral
  sunrise-router: any of: php/sunrise-router
  sunrise-router-annotations: any of: php/sunrise-router-annotations
  sw-fw-less: any of: php/sw-fw-less
  swoft: any of: php/swoft
  swoole: any of: php/swoole
  swoole-coroutine: any of: php/swoole-coroutine
  symfony: any of: php/symfony
  ubiquity: any of: php/ubiquity
  unic: any of: php/unic
  webman: any of: php/webman
  workerman: any of: php/workerman
  yii: any of: php/yii
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro

update version in results
  php/laravel/config.yaml
Due: php, laravel

Add mixphp
  php/mixphp-swoole/composer.json
  php/mixphp-swoole/config.yaml
  php/mixphp-swoole/src/Controller/Benchmark.php
  php/mixphp-swoole/src/Vega.php
  php/mixphp-workerman/composer.json
  php/mixphp-workerman/config.yaml
  php/mixphp-workerman/src/Controller/Benchmark.php
  php/mixphp-workerman/src/Vega.php
  php/mixphp/composer.json
  php/mixphp/config.yaml
  php/mixphp/public/index.php
  php/mixphp/src/Controller/Benchmark.php
  php/mixphp/src/Vega.php
Due: php

Add bin
  php/mixphp-swoole/bin/swoole.php
  php/mixphp-workerman/bin/workerman.php
Due: php

Update composer.json
  php/mixphp-swoole/bin/swoole.php
  php/mixphp-swoole/composer.json
  php/mixphp-workerman/composer.json
  php/mixphp/composer.json
Due: php

Update composer.json
  php/mixphp-swoole/composer.json
  php/mixphp-workerman/composer.json
  php/mixphp/composer.json
Due: php

force ip v4 usage
  nim/httpbeast/server.nim
Due: none

clean dockerfile
  nim/Dockerfile
Due: none

use initSettings
  nim/httpbeast/server.nim
Due: none

[Nim] Update httpbeast to v0.3 (#4554)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
  nim/httpbeast/config.yaml
  nim/httpbeast/server.nim
  nim/httpbeast/server.nimble
Due: none

Update dependency io.quarkus:quarkus-maven-plugin to v2.1.3.Final
  java/quarkus/pom.xml
Due: none

Update dependency markdown-clj:markdown-clj to v1.10.6
  clojure/luminus/project.clj
Due: none

Update .semaphore/
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
Due: none

Update dependency yurunsoft/imi to v2
  php/imi/composer.json
Due: php, imi

limit ci to 50 blocks
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

use 50 last modified frameworks for each blocks
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

update version in results
  php/imi/composer.json
  php/imi/config.yaml
Due: php, imi

update breaking changes
  php/imi/ApiServer/Controller/IndexController.php
  php/imi/ApiServer/Main.php
  php/imi/Main.php
  php/imi/config/beans.php
  php/imi/config/config.php
Due: php, imi

Update quarkus.platform.version to v2.1.3.Final
  java/quarkus/pom.xml
Due: none

wrong command
  php/imi/config.yaml
Due: php, imi

fix load path
  php/imi/ApiServer/Controller/IndexController.php
Due: php, imi

wrong merge for php dockerfile
  php/Dockerfile
Due: php

Update dependency jonase:eastwood to v0.9.7
  clojure/luminus/project.clj
Due: none

Remove imi and Add imi-swoole
  php/imi-swoole/.gitignore
  php/imi-swoole/ApiServer/Controller/IndexController.php
  php/imi-swoole/ApiServer/config/config.php
  php/imi-swoole/composer.json
  php/imi-swoole/config.yaml
  php/imi-swoole/config/beans.php
  php/imi-swoole/config/config.php
  php/imi/.runtime/.gitkeep
  php/imi/ApiServer/Controller/IndexController.php
  php/imi/ApiServer/Main.php
  php/imi/Main.php
  php/imi/config/config.php
Due: php, imi

Add imi-workerman
  php/imi-workerman/.gitignore
  php/imi-workerman/ApiServer/Controller/IndexController.php
  php/imi-workerman/ApiServer/config/config.php
  php/imi-workerman/composer.json
  php/imi-workerman/config.yaml
  php/imi-workerman/config/beans.php
  php/imi-workerman/config/config.php
Due: php

Fix imi
  php/imi/ApiServer/Controller/IndexController.php
Due: php, imi

Fix
  .semaphore/schedule.yml
Due: none

Fix
  .semaphore/semaphore.yml
Due: none

Fix
  php/imi-workerman/config.yaml
Due: php

[PHP] Update imi to v2.0 (#4564)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  php/imi-swoole/.gitignore
  php/imi-swoole/ApiServer/Controller/IndexController.php
  php/imi-swoole/ApiServer/config/config.php
  php/imi-swoole/composer.json
  php/imi-swoole/config.yaml
  php/imi-swoole/config/beans.php
  php/imi-swoole/config/config.php
  php/imi-workerman/.gitignore
  php/imi-workerman/ApiServer/Controller/IndexController.php
  php/imi-workerman/ApiServer/config/config.php
  php/imi-workerman/composer.json
  php/imi-workerman/config.yaml
  php/imi-workerman/config/beans.php
  php/imi-workerman/config/config.php
  php/imi/.runtime/.gitkeep
  php/imi/ApiServer/Controller/IndexController.php
  php/imi/ApiServer/Main.php
  php/imi/Main.php
  php/imi/config/config.php
Due: php, imi

update ci config
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

add libevent-dev to build event php ext
  php/imi-workerman/config.yaml
Due: php

ignore ci config change for change_in
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

use phalcon 4.x
  php/phalcon/composer.json
  php/phalcon/config.yaml
Due: php, phalcon

merge imi
  php/imi-swoole/config.yaml
  php/imi-workerman/.gitignore
  php/imi-workerman/ApiServer/Controller/IndexController.php
  php/imi-workerman/ApiServer/config/config.php
  php/imi-workerman/config.yaml
  php/imi-workerman/config/beans.php
  php/imi-workerman/config/config.php
  php/imi/.gitignore
  php/imi/.workerman/composer.json
  php/imi/ApiServer/Controller/IndexController.php
  php/imi/ApiServer/config/config.php
  php/imi/composer.json
  php/imi/config.yaml
  php/imi/config/beans.php
  php/imi/config/config.php
Due: php, imi

update ci
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
Due: none

Limit CI to 50 frameworks per language (#4566)
  .semaphore/schedule.yml
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/imi-workerman/config.yaml
Due: php
