Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore: Enfore styles
  dart/aqueduct/main.dart
Due: dart

fix: Remove unsed config
  dart/aqueduct/main.dart
Due: dart

fix: Wrong permission on remote droplets
  config.yaml
  elixir/config.yaml
  javascript/config.yaml
Due: javascript, elixir

chore(ci): Update config
  .semaphore/semaphore.yml
Due: none

feat: Create a dedicated user for systemd
  Rakefile
  config.yaml
Due: none

chore(swift): Do not version lock files
  swift/.gitignore
Due: swift

[Python] Avoid gunicorn for sanic (#2685)
  javascript/.config/ecosystem.config.js
  javascript/express/app.js
  javascript/fastify/app.js
  javascript/feathersjs/app.js
  javascript/hapi/app.js
  javascript/iotjs-express/app.js
  javascript/koa/app.js
  javascript/moleculer/app.js
  javascript/muneem/app.js
  javascript/restana/app.js
  javascript/restify/app.js
  javascript/sails/api/controllers/home.js
  javascript/sails/api/controllers/user/get.js
  javascript/sails/api/controllers/user/post.js
  javascript/sails/config/env/production.js
  javascript/sails/config/routes.js
  javascript/sifrr/app.js
  python/django/settings.py
  python/sanic/config.yaml
Due: python, javascript

fix(fastsitephp): Use new config.yaml directives
  php/fastsitephp/config.yaml
  php/fastsitephp/config/.gitignore
Due: php

chore: Create neph log directory before each commands
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore(vapor): Remove lock file
  swift/vapor-framework/Package.resolved
Due: swift

chore(rust): Add build directory to ignore file
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/script/.gitignore
  elixir/phoenix/script/.gitignore
  elixir/plug/script/.gitignore
  rust/.gitignore
Due: rust, elixir

chore(haskell): Stabilize build
  haskell/.build/digitalocean/Dockerfile
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

chore: Revert previous commit
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore: Do not read <lib> directory -> generated by crystal
  Rakefile
Due: none

feat(ruby): Complete ruby based benchmark
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/hanami-api/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

feat: Add command to clean current working directory
  Rakefile
Due: none

fix(agoo): Wrong startup command
  ruby/agoo/config.yaml
Due: ruby

fix(javascript): Ensure deps installation
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

chore(elixir): No need for compilation script
  elixir/.gitignore
Due: elixir

feat: Use private IP (instead of public one) to communicate while bootstraping
  config.yaml
Due: none

docs(python): Update hug website
  python/hug/config.yaml
Due: python

fix: Upload files as root, and set rights on runcmd
  Rakefile
  config.yaml
Due: none

chore: Add rust results
  README.md
Due: none

chore: Keep code style with restyled
  .restyled.yaml
Due: none

chore: Specify extension for clang-format
  .restyled.yaml
Due: none

chore: Simplify cloud-init use creation
  config.yaml
Due: none

chore: Complete restylers list
  .restyled.yaml
Due: none

fix: Wrong rebase
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

feat: Use dockerfile for docker-machine
  Rakefile
Due: none

chore(ci): Restore config
  .semaphore/semaphore.yml
Due: none

chore: Use restyled to format json / yaml configurations
  .restyled.yaml
Due: none

fix(scala): Add application.conf and routes file for play
  scala/Dockerfile
  scala/play/config.yaml
Due: scala

chore(swift): Avoid using command line options for vapor
  swift/Dockerfile
  swift/config.yaml
  swift/vapor-framework/config.yaml
Due: swift

chore: Rebase from master
  .semaphore/semaphore.yml
Due: none

Restyled by prettier-yaml
  swift/config.yaml
Due: swift

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
