Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(ci): Use bundler cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(chubbyphp): Missing roadrunner
  php/chubbyphp-roadrunner/config.yaml
Due: php

chore(ci): Avoid pushing logs
  .semaphore/semaphore.yml
Due: none

chore: Avoid bundle install when using cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(ci): No need of bundler cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Use cache instead of artifact to exchange file between builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Revert previous commit
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Load multiple cache entries at once
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Use cache instead of checkouts
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Avoid sleep after docker build
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Rebase
  .semaphore/semaphore.yml
Due: none

chore(one): Remove unuse commands
  php/one-fpm/config.yaml
Due: php

chore(ci): Restore docker pause
  Rakefile
Due: none

chore(ci): Restore config
  .semaphore/semaphore.yml
Due: none

chore: No before_command in pony
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
Due: pony

chore: Lint config files
  .rubocop.yml
  .semaphore/semaphore.yml
  nim/rosencrantz/config.yaml
  nim/whip/config.yaml
  python/klein/config.yaml
  swift/swifter-framework/config.yaml
  swift/vapor-framework/config.yaml
Due: python, nim, swift

chore: before_command is not use anymore unless compiled
  python/Dockerfile
Due: python

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
