Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Update dependency koa to ~2.13.0
  javascript/koa/package.json
Due: javascript

chore: Update results [skip ci]
  README.md
Due: none

chore: Use last version of crustache
  shard.yml
Due: none

chore(javascript): Update koa to 2.13
  javascript/koa/config.yaml
Due: javascript

[C] Use github to get sources (#3004)
  README.md
  c/kore/config.yaml
Due: c

Add CleverGo
  .travis.yml
  go/clevergo/config.yaml
  go/clevergo/go.mod
  go/clevergo/main.go
Due: go

[Go] Add CleverGo (#3015)
  .travis.yml
  go/clevergo/config.yaml
  go/clevergo/go.mod
  go/clevergo/main.go
Due: go

Uses X.Y version format
  java/struts2/config.yaml
Due: java

Drops logging and uses the provided one
  java/struts2/pom.xml
Due: java

Adds struts2 to Travis config
  .travis.yml
  java/struts2/config.yaml
Due: java

Uses version range
  java/struts2/pom.xml
Due: java

add mark
  .travis.yml
  php/mark/composer.json
  php/mark/config.yaml
  php/mark/start.php
Due: php

Update composer.json
  php/mark/composer.json
Due: php

[PHP] Add Mark (#3016)
  .travis.yml
  php/mark/composer.json
  php/mark/config.yaml
  php/mark/start.php
Due: php

fix(pakyow): Add secret
  ruby/pakyow/config/environment.rb
Due: ruby

feat(ruby): Add pakyow
  ruby/pakyow/Gemfile
  ruby/pakyow/backend/controllers/root.rb
  ruby/pakyow/config.yaml
  ruby/pakyow/config/application.rb
  ruby/pakyow/config/environment.rb
Due: ruby

fix(pakyow): Avoid default command
  ruby/pakyow/config.yaml
Due: ruby

chore(ci): Add pakyow
  .travis.yml
Due: none

chore((pakyow): Add reviewer
  .github/CODEOWNERS
Due: none

chore(mark): Add reviewer
  .github/CODEOWNERS
Due: none

[Ruby] Add pakyow (#3003)
  .github/CODEOWNERS
  .travis.yml
  README.md
  ruby/pakyow/Gemfile
  ruby/pakyow/backend/controllers/root.rb
  ruby/pakyow/config.yaml
  ruby/pakyow/config/application.rb
  ruby/pakyow/config/environment.rb
Due: ruby

chore(perl): Update to 5.32
  perl/config.yaml
Due: perl

Update perl Docker tag to v5.32
  perl/Dockerfile
Due: perl

chore: Add reviewer [skip ci]
  .github/CODEOWNERS
Due: none

chore(php): Update hyperf to 2.0
  php/hyperf/config.yaml
Due: php

Update dependency hyperf/framework to v2
  php/hyperf/composer.json
Due: php

chore(hyperf): Add reviewer
  .github/CODEOWNERS
Due: none

Trims spaces
  java/struts2/src/main/webapp/WEB-INF/web.xml
Due: java

Handles /user endpoint
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/UserAction.java
Due: java

Uses jetty-runner instead of jetty maven plugin
  java/struts2/config.yaml
  java/struts2/pom.xml
Due: java

[Java] Add struts2 (#3005)
  .travis.yml
  java/struts2/.gitignore
  java/struts2/config.yaml
  java/struts2/pom.xml
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/UserAction.java
  java/struts2/src/main/resources/log4j2.xml
  java/struts2/src/main/resources/struts.xml
  java/struts2/src/main/webapp/WEB-INF/index.jsp
  java/struts2/src/main/webapp/WEB-INF/user-id.jsp
  java/struts2/src/main/webapp/WEB-INF/web.xml
Due: java

chore(crystal): Update amber to 0.35
  crystal/amber/config.yaml
  crystal/amber/config/application.cr
  crystal/amber/config/environments/development.yml
  crystal/amber/config/environments/test.yml
  crystal/amber/config/logger.cr
  crystal/amber/shard.yml
Due: crystal

chore(crystal): Update spider-gazelle to 3.1
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

Update Athena to 0.9.0
  README.md
  crystal/Dockerfile
  crystal/athena/athena.yml
  crystal/athena/config.yaml
  crystal/athena/shard.yml
  crystal/athena/src/server.cr
  crystal/config.yaml
Due: crystal

chore(crystal): Remove onyx
  .travis.yml
  crystal/onyx/config.yaml
  crystal/onyx/shard.yml
  crystal/onyx/src/server.cr
Due: crystal

chore(crystal): Add unofficial crystal v0.35 support
  crystal/shivneri/shard.yml
Due: crystal

chore(crystal): Update lucky to 0.22
  crystal/lucky/config.yaml
  crystal/lucky/shard.yml
Due: crystal

chore(crystal): Pin kemal using a pin
  crystal/kemal/shard.yml
Due: crystal

chore(crystal): Remove crystal version info in shard.yml
  crystal/orion/shard.yml
  crystal/shivneri/shard.yml
  crystal/toro/shard.yml
Due: crystal
