Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

fix: Wrong version displayed in results
  go/fiber/config.yaml
Due: go

chore:Add clojure results
  README.md
Due: none

chore: Add C# results
  README.md
Due: none

chore: Add F# results
  README.md
Due: none

chore: Add rust results
  README.md
Due: none

chore: Add nim results
  README.md
Due: none

chore: Add scala results
  README.md
Due: none

chore: Add pony results
  README.md
Due: none

chore: Add elixir results
  README.md
Due: none

Update module bnkamalesh/webgo/v3 to v3.5.4
  go/webgo/go.mod
Due: go

chore(go): Update webgo to 3.5
  go/webgo/config.yaml
Due: go

haskell.scotty framework added.
  haskell/scotty/.gitignore
  haskell/scotty/Main.hs
  haskell/scotty/myproj.cabal
  haskell/scotty/stack.yaml
  haskell/servant/stack.yaml.lock
Due: haskell

Update module gofiber/fiber to v1.10.5
  go/fiber/go.mod
Due: go

chore(haskell): Pin scotty
  haskell/scotty/myproj.cabal
Due: haskell

chore(haskell): Use the same stack config for all framework
  haskell/scotty/stack.yaml
Due: haskell

feat(haskell): Add scotty
  haskell/scotty/config.yaml
Due: haskell

Update dependency selmer:selmer to v1.12.27
  clojure/luminus/project.clj
Due: clojure

chore(haskell): Homogenize executable name
  haskell/Dockerfile
  haskell/scotty/server.cabal
  haskell/servant/server.cabal
Due: haskell

chore(haskell): Format source
  haskell/scotty/Main.hs
  haskell/servant/Setup.hs
  haskell/servant/src/Lib.hs
Due: haskell

chore(haskell): Test restyled
  .restyled.yaml
  haskell/scotty/Main.hs
Due: haskell

Restyled by ormolu
  haskell/scotty/Main.hs
Due: haskell

chore(haskell): Test restyled
  .restyled.yaml
Due: none

chore(haskell): Remove stack lock file
  haskell/servant/stack.yaml.lock
Due: haskell

chore: Keep code style with restyled
  .restyled.yaml
Due: none

chore: Specify extension for clang-format
  .restyled.yaml
Due: none

Restyled by black
  python/django/settings.py
  python/sanic/server.py
Due: python

Restyled by php-cs-fixer
  php/imi/ApiServer/Main.php
  php/one-fpm/App/Config/cache.php
  php/one-fpm/App/Config/crypt.php
Due: php

chore: Complete restylers list
  .restyled.yaml
Due: none

chore: Simplify cloud-init use creation
  config.yaml
Due: none

Restyled by prettier
  README.md
Due: none

chore(ci): Add scotty
  .travis.yml
Due: none

[Haskell] Introduce scotty (#2846)
  .restyled.yaml
  .travis.yml
  haskell/Dockerfile
  haskell/scotty/.gitignore
  haskell/scotty/Main.hs
  haskell/scotty/config.yaml
  haskell/scotty/server.cabal
  haskell/scotty/stack.yaml
  haskell/servant/Setup.hs
  haskell/servant/server.cabal
  haskell/servant/src/Lib.hs
Due: haskell

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
