Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(java): Increase docker pause
  java/blade/config.yaml
  java/config.yaml
Due: java

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
Due: clojure

fix(fsharp): Use multi-stage docker
  fsharp/Dockerfile
  fsharp/config.yaml
Due: fsharp

chore(ci): Save docker layers for faster builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(csharp): Use multi-stage docker
  csharp/Dockerfile
  csharp/aspnetcore/config.yaml
  csharp/config.yaml
Due: csharp

fix: Restore working config
  python/Dockerfile
  python/apidaora/config.yaml
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby, python

chore(elixir): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
  elixir/.build/digitalocean/Dockerfile
  elixir/.script/compile.sh
  elixir/Dockerfile
  elixir/config.yaml
  elixir/cowboy-stream/config.yaml
  elixir/cowboy-stream/lib/application.ex
  elixir/cowboy-stream/lib/server.ex
  elixir/cowboy-stream/mix.exs
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/mix.exs
  elixir/cowboy/script/.gitignore
  elixir/phoenix/mix.exs
  elixir/phoenix/script/.gitignore
  elixir/plug/mix.exs
  elixir/plug/script/.gitignore
Due: elixir

chore(swift): Stabilize builds
  swift/.build/digitalocean/Dockerfile
  swift/Dockerfile
  swift/config.yaml
Due: swift

chore(pony): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
Due: pony

fix(ci): Use name in config if exists
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(kotlin): Stabilize builds
  kotlin/.build/digitalocean/Dockerfile
  kotlin/Dockerfile
  kotlin/config.yaml
  kotlin/kooby/config.yaml
  kotlin/ktor/config.yaml
Due: kotlin

chore(ci): Avoid using docker cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(cpp): Use multi-stage docker
  cpp/Dockerfile
  cpp/config.yaml
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

fix(aspnetcore): Set port
  csharp/Dockerfile
Due: csharp

chore(julia): Stabilized builds
  julia/Dockerfile
  julia/config.yaml
  julia/merly/Project.toml
Due: julia

feat: Add pause to wait for container startup
  Rakefile
  clojure/coast/config.yaml
  clojure/config.yaml
  config.yaml
  csharp/config.yaml
  dart/config.yaml
  elixir/config.yaml
  java/config.yaml
  javascript/config.yaml
  julia/config.yaml
  kotlin/config.yaml
  ruby/grape/config.yaml
  ruby/hanami/config.yaml
  ruby/rails/config.yaml
  scala/config.yaml
Due: scala, ruby, dart, kotlin, julia, javascript, java, elixir, csharp, clojure

chore: Use path like identifier for jobs
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  spec/benchmark_spec.cr
  spec/spec_helper.cr
Due: none

fix(clojure): Use multi-stage docker
  clojure/Dockerfile
  clojure/coast/config.yaml
Due: clojure

chore(fsharp): Stabilized builds
  fsharp/.build/digitalocean/Dockerfile
  fsharp/config.yaml
  fsharp/suave/suaveapp.fsproj
Due: fsharp

chore(perl): Stablize builds
  perl/config.yaml
Due: perl

chore: Always sleep to wait docker container to start
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

fix(scala): Use multi-stage docker
  scala/Dockerfile
  scala/config.yaml
Due: scala

chore(dart): Stabilize builds
  dart/Dockerfile
  dart/config.yaml
Due: dart

chore(ci): Use partial builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Remove unused scripts
  .ci/docker_release.sh
  .ci/has_to_run.sh
Due: none

feat: Switch cloud instances to fedora
  clojure/.build/digitalocean/Dockerfile
  clojure/config.yaml
  clojure/luminus/config.yaml
  crystal/.build/digitalocean/Dockerfile
  crystal/config.yaml
  crystal/onyx/config.yaml
  go/config.yaml
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  nim/.build/digitalocean/Dockerfile
  nim/config.yaml
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/masonite/config.yaml
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
Due: ruby, python, nim, javascript, go, crystal, clojure, pony

chore(csharp): Stablize builds
  csharp/.build/digitalocean/Dockerfile
  csharp/Dockerfile
  csharp/aspnetcore/aspnetcore.csproj
  csharp/config.yaml
Due: csharp

chore: Uniformize pause between docker and droplets
  Rakefile
  config.yaml
Due: none

chore(blade): Add docker pause
  java/blade/config.yaml
Due: java

chore(ci): Use static compilation for built-in tools
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Add stable results
  README.md
Due: none

chore: Ensure cloud version is working equaly than docker version
  kotlin/config.yaml
  kotlin/kooby/config.yaml
  nim/config.yaml
  php/.config/nginx.conf
  php/laravel/config.yaml
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/masonite/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  rust/.build/digitalocean/Dockerfile
  rust/Dockerfile
  rust/config.yaml
  scala/.build/digitalocean/Dockerfile
  scala/Dockerfile
  scala/config.yaml
  swift/.build/digitalocean/Dockerfile
  swift/config.yaml
Due: scala, rust, ruby, python, php, nim, kotlin, swift

chore(ci): Remove unrelevant job
  .semaphore/semaphore.yml
Due: none

fix(julia): Add symlink to ensure compatility with cloud
  julia/Dockerfile
Due: julia

fix(javascript): Need to install git for uWebSocket
  javascript/Dockerfile
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

fix(pony): Update binary path
  pony/Dockerfile
Due: pony

chore(ruby): Use multi-line to define bootstrap instructions
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

fix(fsharp): Wronk workdir
  fsharp/Dockerfile
Due: fsharp

chore(ci): Use default timeout
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(java): Upload all jar/war files in target folder
  java/config.yaml
  java/micronaut/config.yaml
  java/spring-framework/config.yaml
Due: java

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
