Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

fix: Restore working config
  python/Dockerfile
  python/apidaora/config.yaml
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby, python

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
Due: clojure

chore: Ensure cloud version is working equaly than docker version
  kotlin/config.yaml
  kotlin/kooby/config.yaml
  nim/config.yaml
  php/.config/nginx.conf
  php/laravel/config.yaml
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/masonite/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  rust/.build/digitalocean/Dockerfile
  rust/Dockerfile
  rust/config.yaml
  scala/.build/digitalocean/Dockerfile
  scala/Dockerfile
  scala/akkahttp/config.yaml
  scala/config.yaml
  scala/http4s/config.yaml
  swift/.build/digitalocean/Dockerfile
  swift/config.yaml
Due: scala, rust, ruby, python, php, nim, kotlin, swift

chore(julia): Stabilized builds
  julia/Dockerfile
  julia/config.yaml
  julia/merly/Project.toml
Due: julia

fix(csharp): Wronk workdir
  csharp/Dockerfile
Due: csharp

fix(imi): Use php 7.4 instead of 7.3
  php/imi/config.yaml
Due: php

fix(php): Avoid using systemd on containers (bash workaround)
  elixir/.script/compile.sh
  php/Dockerfile
  php/basicphp/config.yaml
  php/chubbyphp/config.yaml
  php/hamlet/config.yaml
  php/ice/config.yaml
  php/laminas/config.yaml
  php/laravel/config.yaml
  php/lumen/config.yaml
  php/mezzio/config.yaml
  php/nette/config.yaml
  php/one-fpm/config.yaml
  php/phalcon/config.yaml
  php/siler/config.yaml
  php/slim/config.yaml
  php/symfony/config.yaml
  php/ubiquity/config.yaml
  php/yii/config.yaml
Due: php, elixir

fix: Allow to upload directory on host
  Rakefile
Due: none

chore(java): Upload all jar/war files in target folder
  java/config.yaml
  java/micronaut/config.yaml
  java/spring-framework/config.yaml
Due: java

chore(javascript): Refactor config file
  javascript/config.yaml
Due: javascript

chore(ci): Use default timeout
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Add rufo linter
  Gemfile
Due: none

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
  clojure/luminus/config.yaml
Due: clojure

chore: Use command to build dockerfile
  c/Dockerfile
  clojure/Dockerfile
  cpp/Dockerfile
  crystal/Dockerfile
  csharp/Dockerfile
  dart/Dockerfile
  elixir/Dockerfile
  fsharp/Dockerfile
  go/Dockerfile
  java/Dockerfile
  javascript/Dockerfile
  julia/Dockerfile
  kotlin/Dockerfile
  nim/Dockerfile
  perl/Dockerfile
  pony/Dockerfile
  python/Dockerfile
  ruby/Dockerfile
  scala/Dockerfile
  swift/Dockerfile
Due: scala, ruby, python, dart, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, pony, swift, fsharp

fix(pony): Update binary path
  pony/Dockerfile
Due: pony

fix(julia): Missing files in container
  julia/Dockerfile
  julia/config.yaml
Due: julia

feat: Upload binary one by one (instead of a whole folder)
  Rakefile
Due: none

chore(ci): Increase build time
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(java): Copy all binaries folder (dockerfile does not support glob pattern)
  java/Dockerfile
Due: java

chore(java): Stabilize builds
  java/.build/digitalocean/Dockerfile
  java/.gitignore
  java/Dockerfile
  java/act/config.yaml
  java/blade/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
Due: java

chore: Add stable results
  README.md
Due: none

chore(perl): Stablize builds
  perl/config.yaml
Due: perl

chore(ci): Retry container creation in case of external error
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(java): Increase docker pause
  java/Dockerfile
  java/config.yaml
Due: java

fix(scala): Missing symlink in container
  java/act/config.yaml
  scala/Dockerfile
Due: scala, java

chore(javascript): Use multu-line to define bootstrap instructions
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

fix(julia): Add symlink to ensure compatility with cloud
  julia/Dockerfile
Due: julia

chore(nestjs): Only one bootstrap is allowed
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

fix(fsharp): Wronk workdir
  fsharp/Dockerfile
Due: fsharp

fix(elixir): Wrong startup command
  elixir/Dockerfile
Due: elixir

chore: Remove exec right
  csharp/aspnetcore/aspnetcore.csproj
  pony/jennet/main.pony
Due: csharp, pony

chore(dart): Stabilize builds
  dart/Dockerfile
  dart/config.yaml
Due: dart

fix(javascript): Need to install git for uWebSocket
  javascript/Dockerfile
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

chore(kotlin): Stabilize builds
  kotlin/.build/digitalocean/Dockerfile
  kotlin/Dockerfile
  kotlin/config.yaml
  kotlin/kooby/config.yaml
  kotlin/ktor/config.yaml
Due: kotlin

chore(ruby): Use multi-line to define bootstrap instructions
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore: Uniformize pause between docker and droplets
  Rakefile
  config.yaml
Due: none

chore: Need to pause for docker based drivers
  Rakefile
  clojure/config.yaml
  config.yaml
  csharp/config.yaml
  elixir/config.yaml
  julia/config.yaml
Due: julia, elixir, csharp, clojure

chore(elixir): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
  elixir/.build/digitalocean/Dockerfile
  elixir/.script/compile.sh
  elixir/Dockerfile
  elixir/config.yaml
  elixir/cowboy-stream/config.yaml
  elixir/cowboy-stream/lib/application.ex
  elixir/cowboy-stream/lib/server.ex
  elixir/cowboy-stream/mix.exs
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/mix.exs
  elixir/cowboy/script/.gitignore
  elixir/phoenix/mix.exs
  elixir/phoenix/script/.gitignore
  elixir/plug/mix.exs
  elixir/plug/script/.gitignore
Due: elixir
