Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Fixes for CodeFactor
  r/plumber/app.R
Due: none

fix match path
  r/httpuv/app.R
Due: none

[Javascript] Add naturaljs (#3327)
  .travis.yml
  javascript/naturaljs-router/app.js
  javascript/naturaljs-router/config.yaml
  javascript/naturaljs-router/package.json
Due: javascript

Update dependency vapor/vapor to from: "4.29.3"
  swift/vapor-framework/Package.swift
Due: swift

[Javascript] Add Fyrejet API mode & Fyrejet on uWebSockets.js
  .travis.yml
  javascript/fyrejet-api/app.js
  javascript/fyrejet-api/config.yaml
  javascript/fyrejet-api/package.json
  javascript/fyrejet-uwebsockets/app.js
  javascript/fyrejet-uwebsockets/config.yaml
  javascript/fyrejet-uwebsockets/package.json
Due: javascript

Fix missing semicolon in fyrejet-api/app.js
  javascript/fyrejet-api/app.js
Due: javascript

Fix spacing in fyrejet-api/config.yaml
  javascript/fyrejet-api/config.yaml
Due: javascript

Fix spacing in fyrejet-uwebsockets/config.yaml
  javascript/fyrejet-uwebsockets/config.yaml
Due: javascript

Apply suggestions from code review
  r/httpuv/config.yaml
  r/plumber/config.yaml
Due: none

Add additional dependencies for uWebSockets.js
  javascript/fyrejet-uwebsockets/config.yaml
Due: javascript

[Javascript] Add Fyrejet API mode & Fyrejet on uWebSockets.js (#3336)
  .travis.yml
  javascript/fyrejet-api/app.js
  javascript/fyrejet-api/config.yaml
  javascript/fyrejet-api/package.json
  javascript/fyrejet-uwebsockets/app.js
  javascript/fyrejet-uwebsockets/config.yaml
  javascript/fyrejet-uwebsockets/package.json
Due: javascript

Add R `plumber` and `httpuv` (#3334)
  .travis.yml
  r/httpuv/DESCRIPTION
  r/httpuv/app.R
  r/httpuv/config.yaml
  r/plumber/DESCRIPTION
  r/plumber/app.R
  r/plumber/config.yaml
  r/plumber/plumber.R
Due: none

[Perl] Fix dancer2 version (#3257)
  perl/dancer2/config.yaml
  perl/dancer2/cpanfile
Due: perl

Update dependency metosin:reitit to v0.5.6
  clojure/luminus/project.clj
Due: clojure

Update ponylang/ponyc Docker tag to v0.38.1
  pony/Dockerfile
Due: pony

Update dependency httpswift/swifter to from: "1.5.0"
  swift/swifter-framework/Package.swift
Due: swift

update version in results
  swift/swifter-framework/config.yaml
Due: swift

update version in results
  pony/config.yaml
Due: pony

update version in results
  go/goyave/config.yaml
Due: go

Update swift Docker tag to v5.3
  swift/Dockerfile
Due: swift

update version in results
  php/spiral/config.yaml
Due: php

update version in results
  php/lumen/config.yaml
Due: php

update version in results
  ruby/roda/config.yaml
Due: ruby

update version in results
  javascript/fastify/config.yaml
Due: javascript

Update Fiber to v1.10.0
  go/fiber/go.mod
  go/fiber/main.go
Due: go

Update config.yaml
  go/fiber/config.yaml
Due: go

Fiber v2
  go/fiber/main.go
Due: go

📦 Remove dependency
  go/fiber/main.go
Due: go

📦 Remove dep
  go/fiber/go.mod
Due: go

📦 Bump Fiber v1.13.1
  go/fiber/go.mod
  go/fiber/main.go
Due: go

👂 Listen on 0.0.0.0
  go/fiber/main.go
Due: go

Fix error
  go/fiber/main.go
Due: go

Update main.go
  go/fiber/main.go
Due: go

Disable pf
  go/fiber/main.go
Due: go

update fixes
  go/fiber/config.yaml
  go/fiber/go.mod
Due: go

Fix go.mod
  go/fiber/go.mod
Due: go

update to 2.0.2
  go/fiber/go.mod
Due: go

add git as build dependency
  go/Dockerfile
  go/fiber/config.yaml
Due: go

Update dependency selmer:selmer to v1.12.29
  clojure/luminus/project.clj
Due: clojure

[Go] Update fiber to v2.0.2 (#3340)
  go/Dockerfile
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Due: go
