Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(csharp): Stablize builds
  csharp/.build/digitalocean/Dockerfile
  csharp/Dockerfile
  csharp/config.yaml
Due: csharp

feat: Add pause to wait for container startup
  Rakefile
  clojure/coast/config.yaml
  clojure/config.yaml
  config.yaml
  csharp/config.yaml
  dart/config.yaml
  elixir/config.yaml
  java/config.yaml
  javascript/config.yaml
  julia/config.yaml
  kotlin/config.yaml
  ruby/grape/config.yaml
  ruby/hanami/config.yaml
  ruby/rails/config.yaml
  scala/config.yaml
Due: scala, ruby, dart, kotlin, julia, javascript, java, elixir, csharp, clojure

fix(ci): Use name in config if exists
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
Due: clojure

chore(ci): Avoid using docker cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(javascript): Use pm2 for nest
  javascript/Dockerfile
  javascript/config.yaml
  javascript/koa/.gitignore
  javascript/nestjs-express/.gitignore
  javascript/nestjs-express/config.yaml
  javascript/nestjs-express/config/.gitignore
  javascript/nestjs-fastify/.gitignore
  javascript/nestjs-fastify/config.yaml
  javascript/nestjs-fastify/config/.gitignore
Due: javascript

fix: Restore working config
  python/Dockerfile
  python/apidaora/config.yaml
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby, python

fix(cpp): Use multi-stage docker
  cpp/Dockerfile
  cpp/config.yaml
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

chore(elixir): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
  elixir/.build/digitalocean/Dockerfile
  elixir/.script/compile.sh
  elixir/Dockerfile
  elixir/config.yaml
  elixir/cowboy-stream/config.yaml
  elixir/cowboy-stream/lib/application.ex
  elixir/cowboy-stream/lib/server.ex
  elixir/cowboy-stream/mix.exs
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/mix.exs
  elixir/cowboy/script/.gitignore
  elixir/phoenix/mix.exs
  elixir/phoenix/script/.gitignore
  elixir/plug/mix.exs
  elixir/plug/script/.gitignore
Due: elixir

feat(ice): Use old version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

fix(julia): Add symlink to ensure compatility with cloud
  julia/Dockerfile
Due: julia

chore(nestjs): Only one bootstrap is allowed
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(javascript): Use multu-line to define bootstrap instructions
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore: Ensure cloud version is working equaly than docker version
  nim/config.yaml
  php/.config/nginx.conf
  php/laravel/config.yaml
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/masonite/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  rust/.build/digitalocean/Dockerfile
  rust/Dockerfile
  rust/config.yaml
  scala/.build/digitalocean/Dockerfile
  scala/Dockerfile
  scala/config.yaml
  swift/.build/digitalocean/Dockerfile
  swift/config.yaml
Due: scala, rust, ruby, python, php, nim, swift

chore(ci): Increase build time
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(hyperf): Add a docker workaround for shortname
  php/hyperf/config.yaml
Due: php

chore(ci): Remove unrelevant job
  .semaphore/semaphore.yml
Due: none

chore(javascript): Refactor config file
  javascript/config.yaml
Due: javascript

chore(dart): Use multi-lines for bootstrap
  dart/Dockerfile
  dart/config.yaml
Due: dart

fix(fsharp): Wronk workdir
  fsharp/Dockerfile
Due: fsharp

fix(imi): Use php 7.4 instead of 7.3
  php/imi/config.yaml
Due: php

chore(dart): Stabilize builds
  dart/Dockerfile
  dart/config.yaml
Due: dart

chore(ruby): Use multi-line to define bootstrap instructions
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore: Uniformize pause between docker and droplets
  Rakefile
  config.yaml
Due: none

chore: Add rufo linter
  Gemfile
Due: none

chore(elixir): Use multi-lines for bootstrap
  elixir/config.yaml
Due: elixir

chore(java): Upload all jar/war files in target folder
  java/config.yaml
  java/micronaut/config.yaml
  java/spring-framework/config.yaml
Due: java

fix(php): use bcmath on containers
  php/Dockerfile
Due: php

fix: Allow to upload directory on host
  Rakefile
Due: none

chore: Need to pause for docker based drivers
  Rakefile
  clojure/config.yaml
  config.yaml
  elixir/config.yaml
  julia/config.yaml
Due: julia, elixir, clojure

chore(java): Increase docker pause
  java/Dockerfile
  java/config.yaml
Due: java

chore(ci): Use default timeout
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(java): Stabilize builds
  java/.build/digitalocean/Dockerfile
  java/.gitignore
  java/Dockerfile
  java/act/config.yaml
  java/blade/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
Due: java

chore(swift): Use multi-lines for bootstrap
  swift/config.yaml
Due: swift

chore(ci): Retry container creation in case of external error
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Use command to build dockerfile
  c/Dockerfile
  clojure/Dockerfile
  cpp/Dockerfile
  crystal/Dockerfile
  csharp/Dockerfile
  csharp/config.yaml
  dart/Dockerfile
  elixir/Dockerfile
  fsharp/Dockerfile
  fsharp/config.yaml
  go/Dockerfile
  java/Dockerfile
  javascript/Dockerfile
  julia/Dockerfile
  kotlin/Dockerfile
  nim/Dockerfile
  perl/Dockerfile
  pony/Dockerfile
  python/Dockerfile
  ruby/Dockerfile
  swift/Dockerfile
  swift/config.yaml
  swift/vapor-framework/config.yaml
Due: ruby, python, dart, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, pony, swift, fsharp

fix(scala): Missing symlink in container
  java/act/config.yaml
Due: java

fix(java): Copy all binaries folder (dockerfile does not support glob pattern)
  java/Dockerfile
Due: java

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
