Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

use uvicorn[standard] instead of uvicorn, changes in 0.12
  .semaphore/semaphore.yml
  Rakefile
  python/apidaora/requirements.txt
  python/asgineer/requirements.txt
  python/blacksheep/requirements.txt
  python/fastapi/requirements.txt
  python/index.py/requirements.txt
  python/quart/requirements.txt
  python/starlette/requirements.txt
  python/tonberry/requirements.txt
Due: python

fix cpp builds
  cpp/Dockerfile
  cpp/config.yaml
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

switch to semaphoreci
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  config.yaml
Due: none

remove trailing plugin for laminas
  php/laminas/composer.json
Due: php

remove trailing plugin for mezzio
  php/mezzio/composer.json
Due: php

update basolato
  nim/Dockerfile
  nim/basolato/config.yaml
  nim/basolato/server.nimble
Due: nim

fix java builds
  java/act/src/main/resources/conf/app.properties
  java/blade/src/main/resources/application.properties
  java/blade/src/resources/application.properties
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/jooby/src/main/java/benchmark/App.java
  java/micronaut/build.gradle
  java/rapidoid/config.yaml
  java/spring-boot/src/main/java/benchmark/springboot/BenchmarkApplication.java
  java/spring-boot/src/main/resources/application.properties
  java/spring-framework/src/main/java/benchmark/springframework/BenchmarkController.java
  java/struts2/pom.xml
  java/struts2/src/main/java/App.java
Due: java

use incremental builds
  Rakefile
Due: none

enable partial builds
  Rakefile
Due: none

remote unuse files
  .ci/docker_release.sh
  .ci/dump.sql
  .ci/has_to_run.sh
  .ci/template.mustache
  .travis.yml
Due: none

🐦[FSharp] Falco - v2.0.3
  fsharp/falco/Program.fs
  fsharp/falco/web.fsproj
Due: fsharp

🐦[FSharp] Falco - v2.0.3
  fsharp/falco/config.yaml
Due: fsharp

missing env var for basolato
  .semaphore/semaphore.yml
  nim/basolato/config.nims
  nim/basolato/server.nim
Due: nim

remove pcre for basolato
  .semaphore/semaphore.yml
  Rakefile
  nim/basolato/config.yaml
Due: nim

pcre headers are required
  nim/basolato/config.yaml
Due: nim

pcre headers are required
  .semaphore/semaphore.yml
  nim/basolato/config.yaml
Due: nim

Add Mike Framework (#3392)
  nim/mike/config.yaml
  nim/mike/server.nim
  nim/mike/server.nimble
Due: nim

Update shard.yml
  crystal/grip/shard.yml
Due: crystal

Update server.cr
  crystal/grip/src/server.cr
Due: crystal

Update config.yaml
  crystal/grip/config.yaml
Due: crystal

update ci
  .semaphore/semaphore.yml
Due: none

Update composer.json
  php/simps/composer.json
Due: php

Update config.yaml
  php/simps/config.yaml
Due: php

update ci config
  .semaphore/semaphore.yml
Due: none

Update dependency fastify to ~3.7.0
  javascript/fastify/package.json
Due: javascript

update version in results
  javascript/fastify/config.yaml
Due: javascript

use kore.io instead of github to download kore source code
  c/kore/config.yaml
Due: c

update results
  README.md
Due: none

use partial builds
  .semaphore/semaphore.yml
  Gemfile
  Rakefile
Due: none

[Crystl] Update grip to v4 (#3388)
  .semaphore/semaphore.yml
  README.md
  crystal/grip/config.yaml
  crystal/grip/shard.yml
  crystal/grip/src/server.cr
Due: crystal

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
