Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

update sails version in results
  javascript/sails/config.yaml
Due: javascript

Update module aofei/air to v0.19.2
  go/air/go.mod
Due: go

Update module vardius/gorouter/v4 to v4.4.7
  go/gorouter-fasthttp/go.mod
  go/gorouter/go.mod
Due: go

Update dependency nrepl:nrepl to v0.8.1
  clojure/luminus/project.clj
Due: clojure

Update module fasthttp/router to v1.3.2
  go/router/go.mod
Due: go

Update dependency sinatra to ~> 2.1.0
  ruby/sinatra/Gemfile
Due: ruby

update version in results
  ruby/sinatra/config.yaml
Due: ruby

update grip to 1.0
  crystal/grip/config.yaml
  crystal/grip/shard.yml
Due: crystal

wrong namespace
  crystal/grip/src/server.cr
Due: crystal

use proper dsl
  crystal/grip/src/server.cr
Due: crystal

[Crystal] Update grip to v1.0 (#3276)
  crystal/grip/config.yaml
  crystal/grip/shard.yml
  crystal/grip/src/server.cr
Due: crystal

chore: Fake commit
  README.md
Due: none

[Python] Disable logging (#3161)
  python/aiohttp/server.py
  python/apidaora/server.py
  python/asgineer/server.py
  python/blacksheep/server.py
  python/bottle/server.py
  python/cherrypy/server.py
  python/clastic/server.py
  python/cyclone/server.py
  python/django/app/wsgi.py
  python/emmett/server.py
  python/falcon/server.py
  python/fastapi/server.py
  python/flask/server.py
  python/hug/server.py
  python/klein/server.py
  python/masonite/wsgi.py
  python/molten/server.py
  python/nameko/server.py
  python/pyramid/server.py
  python/quart/server.py
  python/responder/server.py
  python/sanic/server.py
  python/starlette/server.py
  python/tonberry/server.py
  python/tornado/server.py
Due: python

[Crystal] Disable logging (#3051)
  crystal/amber/config/application.cr
  crystal/amber/config/logger.cr
  crystal/lucky/config/log.cr
  crystal/router.cr/src/server.cr
  crystal/runcobo/config.yaml
  crystal/shivneri/src/server.cr
  crystal/spider-gazelle/src/config.cr
Due: crystal

Disables logging
  java/struts2/src/main/resources/log4j2.xml
Due: java

feat(spring-boot): Disable logging
  java/spring-boot/src/main/resources/application.properties
Due: java

Disable logging for automate test
  java/act/src/main/resources/logback.xml
Due: java

jooby: disable logging
  java/jooby/pom.xml
  kotlin/kooby/build.gradle
Due: kotlin, java

chore: Be relax on slf4j version
  java/jooby/pom.xml
  kotlin/kooby/build.gradle
Due: kotlin, java

disable logging for javalin
  java/javalin/pom.xml
Due: java

disable logging for rapidoid
  java/rapidoid/pom.xml
Due: java

disable logging for spring-framework
  java/spring-framework/src/main/resources/application.properties
Due: java

[Java] Disable logging (#3054)
  java/act/src/main/resources/logback.xml
  java/javalin/pom.xml
  java/jooby/pom.xml
  java/rapidoid/pom.xml
  java/spring-boot/src/main/resources/application.properties
  java/spring-framework/src/main/resources/application.properties
  java/struts2/src/main/resources/log4j2.xml
  kotlin/kooby/build.gradle
Due: kotlin, java

Update dependency laravel/framework to ~7.28.0
  php/laravel/composer.json
Due: php

Update module savsgio/atreugo/v11 to v11.5.2
  go/atreugo/go.mod
Due: go

Update module vardius/gorouter/v4 to v4.5.1
  go/gorouter-fasthttp/go.mod
  go/gorouter/go.mod
Due: go

Update dependency io.undertow:undertow-core to v2.1.4.Final
  java/light-4j/pom.xml
Due: java

Update module savsgio/atreugo/v11 to v11.5.3
  go/atreugo/go.mod
Due: go

Update Rust crate actix-web to v3
  rust/actix/Cargo.toml
Due: rust

Update dependency laravel/framework to v8
  php/laravel/composer.json
Due: php

Update dependency nameko to >=2.12.0,<2.13.1
  python/nameko/requirements.txt
Due: python

Update module gofiber/fiber to v1.14.6
  go/fiber/go.mod
Due: go

Update dependency luminus-jetty:luminus-jetty to v0.2.1
  clojure/luminus/project.clj
Due: clojure

[Rust] Update actix-web to v3.0.0
  rust/actix/Cargo.toml
  rust/actix/config.yaml
  rust/actix/src/main.rs
Due: rust

Update dependency 0http to v3
  javascript/0http/package.json
Due: javascript

update version in results
  javascript/0http/config.yaml
Due: javascript

add reviewer
  .github/CODEOWNERS
Due: none

[Rust] Update actix-web to 3.0 (#3311)
  .github/CODEOWNERS
  rust/actix/Cargo.toml
  rust/actix/config.yaml
  rust/actix/src/main.rs
Due: rust

update version in results
  python/nameko/config.yaml
Due: python

fix range
  python/nameko/requirements.txt
Due: python
