Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

Update module gofiber/fiber/v2 to v2.0.3
  go/fiber/go.mod
Due: go

add reviewer
  .github/CODEOWNERS
Due: none

uypdate version in results
  swift/config.yaml
Due: swift

Update dependency selmer:selmer to v1.12.30
  clojure/luminus/project.clj
Due: clojure

Update dependency sanic to >=20.6.0,<20.10.0
  python/sanic/requirements.txt
Due: python

Update dependency fastify to ~3.5.0
  javascript/fastify/package.json
Due: javascript

update version in results
  javascript/fastify/config.yaml
Due: javascript

update version in results
  python/sanic/config.yaml
Due: python

fix version
  python/sanic/config.yaml
  python/sanic/requirements.txt
Due: python

Update dependency io.jooby:jooby-utow to [2.9,2.10)
  java/jooby/pom.xml
Due: java

Update dependency vapor/vapor to from: "4.29.4"
  swift/vapor-framework/Package.swift
Due: swift

Update google/dart Docker tag to v2.10
  dart/Dockerfile
Due: dart

Update dependency vapor/vapor to from: "4.30.0"
  swift/vapor-framework/Package.swift
Due: swift

update version in results
  swift/vapor-framework/config.yaml
Due: swift

update version
  dart/config.yaml
Due: dart

Update Rust crate actix-web to ~3.1
  rust/actix/Cargo.toml
Due: rust

update version in result
  java/jooby/config.yaml
Due: java

Update jetty.version to v9.4.32.v20200930
  java/struts2/pom.xml
Due: java

Update dependency expound:expound to v0.8.6
  clojure/luminus/project.clj
Due: clojure

Update dependency selmer:selmer to v1.12.31
  clojure/luminus/project.clj
Due: clojure

Update dependency vapor/vapor to from: "4.31.0"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency IBM-Swift/Kitura to from: "2.9.200"
  swift/kitura-nio/Package.swift
  swift/kitura/Package.swift
Due: swift

Update dependency grape to ~> 1.5.0
  ruby/grape/Gemfile
Due: ruby

Update module gofiber/fiber/v2 to v2.0.6
  go/fiber/go.mod
Due: go

Update dependency org.webjars.npm:bulma to v0.9.1
  clojure/luminus/project.clj
Due: clojure

Update dependency ring:ring-core to v1.8.2
  clojure/luminus/project.clj
Due: clojure

Update dependency ring:ring-devel to v1.8.2
  clojure/luminus/project.clj
Due: clojure

add reiewer
  .github/CODEOWNERS
Due: none

update version in result
  ruby/grape/config.yaml
Due: ruby

update version in results
  rust/actix/config.yaml
Due: rust

Update dependency vapor/vapor to from: "4.32.0"
  swift/vapor-framework/Package.swift
Due: swift

Up to date version
  python/django-ninja/requirements.txt
Due: python

Django-ninja version range
  python/django-ninja/requirements.txt
Due: python

update nim basolato
  nim/basolato.bk/.gitignore
  nim/basolato.bk/app/controllers/benchmark_controller.nim
  nim/basolato.bk/config.nims
  nim/basolato.bk/config.yaml
  nim/basolato.bk/server.nim
  nim/basolato.bk/server.nimble
  nim/basolato/app/controllers/benchmark_controller.nim
  nim/basolato/server.nim
Due: nim

update controller
  nim/basolato/app/controllers/benchmark_controller.nim
Due: nim

update basolato infra
  nim/Dockerfile
  nim/basolato/config.yaml
Due: nim

delete basolato 0.5
  nim/basolato.bk/.gitignore
  nim/basolato.bk/app/controllers/benchmark_controller.nim
  nim/basolato.bk/config.nims
  nim/basolato.bk/config.yaml
  nim/basolato.bk/server.nim
  nim/basolato.bk/server.nimble
Due: nim

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
