Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

Update module gofiber/fiber to v1.12.2
  go/fiber/go.mod
Due: go

Update module astaxie/beego to v1.12.2
  go/beego/go.mod
Due: go

minor changes
  php/sunrise-router-roadrunner/composer.json
Due: php

SunriseRouter works with RoadRunner
  .travis.yml
  php/sunrise-router-roadrunner/.rr.yaml
  php/sunrise-router-roadrunner/composer.json
  php/sunrise-router-roadrunner/config.yaml
  php/sunrise-router-roadrunner/worker.php
Due: php

chore: Update results
  README.md
Due: none

[PHP] Add Sunrise Router (#3065)
  .travis.yml
Due: none

[PHP] SunriseRouter with RoadRunner (#3068)
  .travis.yml
  README.md
  php/sunrise-router-roadrunner/.rr.yaml
  php/sunrise-router-roadrunner/composer.json
  php/sunrise-router-roadrunner/config.yaml
  php/sunrise-router-roadrunner/worker.php
Due: php

chore(javascript): Update nest to 7.3
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

Update nest monorepo to ~7.3.0
  javascript/nestjs-express/package.json
  javascript/nestjs-fastify/package.json
Due: javascript

Update dependency rxjs to ~6.6.0
  javascript/nestjs-express/package.json
  javascript/nestjs-fastify/package.json
Due: javascript

Update module savsgio/atreugo/v11 to v11.3.4
  go/atreugo/go.mod
Due: go

chore(javascript): Avoid specifying rxjs version
  javascript/nestjs-express/package.json
  javascript/nestjs-fastify/package.json
Due: javascript

CreateDefaultBuilder instead of WebHostBuilder
  fsharp/falco/Program.fs
Due: fsharp

[fsharp] giraffe - hostbuilder instead of webhostbuilder
  fsharp/falco/Program.fs
  fsharp/giraffe/Program.fs
Due: fsharp

#3076
  fsharp/websharper/Main.fs
Due: fsharp

#3076 websharper build/run
  fsharp/websharper/Main.fs
Due: fsharp

Update dependency org.webjars.npm:bulma to v0.9.0
  clojure/luminus/project.clj
Due: clojure

[F#] User CreateDefaultBuilder instead of WebHostBuilder (#3075)
  fsharp/falco/Program.fs
  fsharp/giraffe/Program.fs
  fsharp/websharper/Main.fs
Due: fsharp

Update module gofiber/fiber to v1.12.3
  go/fiber/go.mod
Due: go

Update module aofei/air to v0.18.0
  go/air/go.mod
Due: go

chore(go): Update air to 0.18
  go/air/config.yaml
Due: go

fix(fiber): Use 0.0.0.0 since default has changed
  go/fiber/main.go
Due: go

Update module gofiber/fiber to v1.12.4
  go/fiber/go.mod
Due: go

Add project code and files generated by light-codegen
  java/light-4j/pom.xml
  java/light-4j/src/main/java/benchmark/light4j/handler/GetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserIdGetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserPostHandler.java
  java/light-4j/src/main/resources/config/audit.yml
  java/light-4j/src/main/resources/config/body.yml
  java/light-4j/src/main/resources/config/client.keystore
  java/light-4j/src/main/resources/config/client.truststore
  java/light-4j/src/main/resources/config/client.yml
  java/light-4j/src/main/resources/config/config.yml
  java/light-4j/src/main/resources/config/correlation.yml
  java/light-4j/src/main/resources/config/handler.yml
  java/light-4j/src/main/resources/config/health.yml
  java/light-4j/src/main/resources/config/info.yml
  java/light-4j/src/main/resources/config/mask.yml
  java/light-4j/src/main/resources/config/metrics.yml
  java/light-4j/src/main/resources/config/openapi-security.yml
  java/light-4j/src/main/resources/config/openapi-validator.yml
  java/light-4j/src/main/resources/config/openapi.yaml
  java/light-4j/src/main/resources/config/primary.crt
  java/light-4j/src/main/resources/config/sanitizer.yml
  java/light-4j/src/main/resources/config/secondary.crt
  java/light-4j/src/main/resources/config/secret.yml
  java/light-4j/src/main/resources/config/server.keystore
  java/light-4j/src/main/resources/config/server.truststore
  java/light-4j/src/main/resources/config/server.yml
  java/light-4j/src/main/resources/config/service.yml
  java/light-4j/src/main/resources/config/traceability.yml
  java/light-4j/src/main/resources/logback.xml
Due: java

Update config.yaml
  java/light-4j/config.yaml
Due: java

Reduce number of non-framework related dependencies in POM
  java/light-4j/pom.xml
Due: java

Add files to generate project
  java/light-4j/project/config.json
  java/light-4j/project/openapi.yaml
Due: java

Remove unneeded files/configuration
  java/light-4j/src/main/resources/config/audit.yml
  java/light-4j/src/main/resources/config/body.yml
  java/light-4j/src/main/resources/config/client.keystore
  java/light-4j/src/main/resources/config/client.truststore
  java/light-4j/src/main/resources/config/client.yml
  java/light-4j/src/main/resources/config/config.yml
  java/light-4j/src/main/resources/config/correlation.yml
  java/light-4j/src/main/resources/config/handler.yml
  java/light-4j/src/main/resources/config/health.yml
  java/light-4j/src/main/resources/config/info.yml
  java/light-4j/src/main/resources/config/mask.yml
  java/light-4j/src/main/resources/config/metrics.yml
  java/light-4j/src/main/resources/config/openapi-security.yml
  java/light-4j/src/main/resources/config/openapi-validator.yml
  java/light-4j/src/main/resources/config/openapi.yaml
  java/light-4j/src/main/resources/config/primary.crt
  java/light-4j/src/main/resources/config/sanitizer.yml
  java/light-4j/src/main/resources/config/secondary.crt
  java/light-4j/src/main/resources/config/secret.yml
  java/light-4j/src/main/resources/config/server.keystore
  java/light-4j/src/main/resources/config/server.truststore
  java/light-4j/src/main/resources/config/service.yml
  java/light-4j/src/main/resources/config/traceability.yml
  java/light-4j/src/main/resources/logback.xml
Due: java

Add light-4j config.yaml
  java/light-4j/config.yaml
Due: java

Update POM configuration
  java/light-4j/pom.xml
Due: java

Include light-4j in CODEOWNERS
  .github/CODEOWNERS
Due: none

Update handlers to return required response bodies
  java/light-4j/src/main/java/benchmark/light4j/handler/GetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserIdGetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserPostHandler.java
Due: java

Update dependency com.typesafe.akka:akka-stream to v2
  scala/akkahttp/build.sbt
Due: scala

Update dependency com.typesafe.play:play-json to v2
  scala/play/build.sbt
Due: scala

[Java] Add light-4j (#3077)
  .github/CODEOWNERS
  README.md
  java/light-4j/config.yaml
  java/light-4j/pom.xml
  java/light-4j/project/config.json
  java/light-4j/project/openapi.yaml
  java/light-4j/src/main/java/benchmark/light4j/handler/GetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserIdGetHandler.java
  java/light-4j/src/main/java/benchmark/light4j/handler/UserPostHandler.java
  java/light-4j/src/main/resources/config/handler.yml
  java/light-4j/src/main/resources/config/server.yml
Due: java

Update dependency io.undertow:undertow-core to v2.1.3.Final
  java/light-4j/pom.xml
Due: java

Update dependency org.apache.maven.plugins:maven-compiler-plugin to v3.8.1
  java/light-4j/pom.xml
Due: java

Update dependency org.apache.maven.plugins:maven-source-plugin to v3.2.1
  java/light-4j/pom.xml
Due: java

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
