Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

user list method was replaced with user create method
  php/sunrise-router-annotations/src/Controller/User/UserCreateController.php
Due: php

user list method was replaced with user create method
  php/sunrise-router/public/index.php
Due: php

error handling was added
  php/sunrise-router-annotations/public/index.php
  php/sunrise-router/public/index.php
Due: php

minor changes
  php/sunrise-router-annotations/public/index.php
  php/sunrise-router/public/index.php
Due: php

chore(javascript): Update nanoexpress-pro to 2.1
  javascript/nanoexpress-pro/config.yaml
Due: javascript

minor changes
  php/sunrise-router-annotations/composer.json
  php/sunrise-router-annotations/config.yaml
  php/sunrise-router/composer.json
  php/sunrise-router/config.yaml
Due: php

code style fix
  php/sunrise-router-annotations/public/index.php
  php/sunrise-router/public/index.php
Due: php

Sunrise Router was added to travis CI
  .travis.yml
Due: none

[PHP] Add Sunrise Router (#3065)
  .travis.yml
  php/sunrise-router-annotations/composer.json
  php/sunrise-router-annotations/config.yaml
  php/sunrise-router-annotations/public/index.php
  php/sunrise-router-annotations/src/Controller/HomeController.php
  php/sunrise-router-annotations/src/Controller/User/UserCreateController.php
  php/sunrise-router-annotations/src/Controller/User/UserReadController.php
  php/sunrise-router/composer.json
  php/sunrise-router/config.yaml
  php/sunrise-router/public/index.php
Due: php

need this cookie file or the app will crash at runtime
  crystal/lucky/config/cookies.cr
Due: crystal

Update dependency sanic to >=20.3.0,<20.7.0
  python/sanic/requirements.txt
Due: python

chore(python): Update sanic to 20.6
  python/sanic/config.yaml
  python/sanic/requirements.txt
Due: python

chore(crystal): Update orion to 3.0
  crystal/orion/config.yaml
  crystal/orion/shard.yml
Due: crystal

chore(orion): Add reviewer
  .github/CODEOWNERS
Due: none

chore(orion): Update syntax
  crystal/orion/server.cr
Due: crystal

[Crystal] Update lucky to 0.23 (#3060)
  crystal/lucky/config.yaml
  crystal/lucky/config/cookies.cr
  crystal/lucky/shard.yml
Due: crystal

chore(ruby): Add puma default config
  Gemfile
  Rakefile
  ruby/.config/puma.rb
  ruby/config.yaml
Due: ruby

chore: Update results
  crystal/digitalocean.Dockerfile
  go/digitalocean.Dockerfile
  go/mars/config.yaml
  ruby/roda/config.yaml
Due: ruby, go, crystal

chore: Add rails to results
  ruby/rails/Rakefile
Due: ruby

feat(ruby): Complete ruby based benchmark
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

feat(python): Add flask support
  Gemfile
  Rakefile
  python/flask/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/flame/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rails/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, python

chore: Pevent user-data versionning
  .gitignore
Due: none

feat: Start gathering result from cloud -> digitalocean
  Gemfile
  Rakefile
  config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  tools/src/client.cr
Due: ruby

chore(ruby): Complete rack based frameworks
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/flame/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.ru
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
Due: ruby

test: Use created container instead of running new one
  .spec/spec_helper.rb
  ruby/rails/config/puma.rb
Due: ruby

chore(php): Add basic setup for standard frameworks
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.ini
  php/config.yaml
  php/laravel/config.yaml
Due: php

chore(javascript): Use absolute path for npm
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore: Always enable collect
  Rakefile
Due: none

chore: Add ignore files to prevent mis-commit
  javascript/.gitignore
  php/.gitignore
  python/.gitignore
  ruby/.gitignore
Due: ruby, python, php, javascript

fix(nestjs): Wrong file name for express manifest
  javascript/nestjs-express/config.yaml
Due: javascript

chore(go): Stabilize build for all providers
  go/.build/digitalocean/Dockerfile
Due: go

test: Allow sleep to let container start
  .spec/spec_helper.rb
  Rakefile
  javascript/Dockerfile
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(crystal): Standardize build
  crystal/orion/shard.yml
  crystal/toro/shard.yml
Due: crystal

chore: Add build docker images for DO
  c/.build/digitalocean/Dockerfile
  clojure/.build/digitalocean/Dockerfile
  cpp/.build/digitalocean/Dockerfile
  crystal/.gitignore
  csharp/.build/digitalocean/Dockerfile
  elixir/.build/digitalocean/Dockerfile
  fsharp/.build/digitalocean/Dockerfile
  go/.gitignore
  java/.build/digitalocean/Dockerfile
  kotlin/.build/digitalocean/Dockerfile
  nim/.build/digitalocean/Dockerfile
  php/.gitignore
  rust/.build/digitalocean/Dockerfile
  scala/.build/digitalocean/Dockerfile
  swift/.build/digitalocean/Dockerfile
Due: scala, rust, php, nim, kotlin, java, go, elixir, csharp, crystal, cpp, clojure, c, swift, fsharp

chore(javascript): Stabilize build for all providers
  .gitignore
  Rakefile
  c/agoo-c/Makefile
  config.yaml
  format.yaml
  go/config.yaml
  go/mars/config.yaml
  javascript/.config/ecosystem.config.js
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nanoexpress-pro/config.yaml
  javascript/sifrr/config.yaml
  php/laminas/composer.json
  php/mezzio/composer.json
  ruby/config.yaml
Due: ruby, php, javascript, go, c

chore: Remove useless utilities
  javascript/config/.gitignore
  javascript/config/config/.gitignore
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.conf
  php/.gitignore
  php/symfony/bin/console
  python/config/.gitignore
  python/config/config/.gitignore
  shard.yml
  tools/src/make.cr
Due: python, php, javascript

fix(ruby): User /usr/local/bin instead of /usr/bin
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore: Use docker-machine on non-linux environments
  Rakefile
  config.yaml
Due: none

chore(crystal): Stabilize build for all providers
  crystal/.build/digitalocean/Dockerfile
  crystal/Dockerfile
  crystal/amber/config.yaml
  crystal/athena/config.yaml
  crystal/config.yaml
  crystal/lucky/config.yaml
Due: crystal
