Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore: Update results [skip ci]
  README.md
Due: none

Update dependency vapor/vapor to from: "4.24.0"
  swift/vapor-framework/Package.swift
Due: swift

[PHP] CodeIgniter config updates
  php/codeigniter4/composer.json
  php/codeigniter4/config.yaml
Due: php

[PHP] CodeIgniter config updates (#3160)
  php/codeigniter4/composer.json
  php/codeigniter4/config.yaml
Due: php

chore(swift): Update vapor to 4.24
  swift/vapor-framework/config.yaml
Due: swift

feat(python): Disable logging on gunicorn
  python/Dockerfile
  python/aiohttp/config.yaml
  python/apidaora/config.yaml
  python/asgineer/config.yaml
  python/blacksheep/config.yaml
  python/bottle/config.yaml
  python/cherrypy/config.yaml
  python/clastic/config.yaml
  python/django/config.yaml
  python/emmett/config.yaml
  python/falcon/config.yaml
  python/fastapi/config.yaml
  python/flask/config.yaml
  python/hug/config.yaml
  python/masonite/config.yaml
  python/molten/config.yaml
  python/pyramid/config.yaml
  python/quart/config.yaml
  python/responder/config.yaml
  python/starlette/config.yaml
  python/tonberry/config.yaml
  python/tornado/config.yaml
Due: python

fix(fastapi): Missing config
  python/fastapi/config.yaml
Due: python

fix(aiohttp): Missing config
  python/aiohttp/config.yaml
Due: python

fix(blacksheep): Missing config
  python/blacksheep/config.yaml
Due: python

chore(python): Disable logging
  python/aiohttp/server.py
  python/apidaora/server.py
  python/asgineer/server.py
  python/blacksheep/server.py
  python/bottle/server.py
  python/cherrypy/server.py
  python/clastic/server.py
  python/cyclone/server.py
  python/django/app/wsgi.py
  python/emmett/server.py
  python/falcon/server.py
  python/fastapi/server.py
  python/flask/server.py
  python/hug/server.py
  python/klein/server.py
  python/masonite/wsgi.py
  python/molten/server.py
  python/nameko/server.py
  python/pyramid/server.py
  python/quart/server.py
  python/responder/server.py
  python/sanic/server.py
  python/starlette/server.py
  python/tonberry/server.py
  python/tornado/server.py
Due: python

chore(python): Remove logconfig option
  python/Dockerfile
  python/aiohttp/config.yaml
  python/apidaora/config.yaml
  python/asgineer/config.yaml
  python/blacksheep/config.yaml
  python/bottle/config.yaml
  python/cherrypy/config.yaml
  python/clastic/config.yaml
  python/django/config.yaml
  python/emmett/config.yaml
  python/falcon/config.yaml
  python/fastapi/config.yaml
  python/flask/config.yaml
  python/hug/config.yaml
  python/masonite/config.yaml
  python/molten/config.yaml
  python/pyramid/config.yaml
  python/quart/config.yaml
  python/responder/config.yaml
  python/starlette/config.yaml
  python/tonberry/config.yaml
  python/tornado/config.yaml
Due: python

Update dependency fastify to ~3.1.0
  javascript/fastify/package.json
Due: javascript

chore(javascript): Update fastify to 3.1
  javascript/fastify/config.yaml
Due: javascript

Update dependency @hapi/hapi to ~19.2.0
  javascript/hapi/package.json
Due: javascript

Update module gofiber/fiber to v1.13.0
  go/fiber/go.mod
Due: go

chore(go): Update fiber to v1.13.0
  go/fiber/config.yaml
Due: go

chore(javascript): Update hapijs to 19.2
  javascript/hapi/config.yaml
Due: javascript

Update dependency vapor/vapor to from: "4.25.0"
  swift/vapor-framework/Package.swift
Due: swift

[Python] Disable logging (#3161)
  python/aiohttp/server.py
  python/apidaora/server.py
  python/asgineer/server.py
  python/blacksheep/server.py
  python/bottle/server.py
  python/cherrypy/server.py
  python/clastic/server.py
  python/cyclone/server.py
  python/django/app/wsgi.py
  python/emmett/server.py
  python/falcon/server.py
  python/fastapi/server.py
  python/flask/server.py
  python/hug/server.py
  python/klein/server.py
  python/masonite/wsgi.py
  python/molten/server.py
  python/nameko/server.py
  python/pyramid/server.py
  python/quart/server.py
  python/responder/server.py
  python/sanic/server.py
  python/starlette/server.py
  python/tonberry/server.py
  python/tornado/server.py
Due: python

chore(swift): Update vapor to 4.25
  swift/vapor-framework/config.yaml
Due: swift

Update dependency luminus-jetty:luminus-jetty to v0.2.0
  clojure/luminus/project.clj
Due: clojure

Update module fasthttp/router to v1.2.3
  go/router/go.mod
Due: go

Update dependency restana to ~4.7.0
  javascript/restana/package.json
Due: javascript

Update dependency spiral/framework to ~2.5.0
  php/spiral/composer.json
Due: php

chore(php): Update spiral to 2.5
  php/spiral/config.yaml
Due: php

Update dependency Falco to v2.0.1
  fsharp/falco/web.fsproj
Due: fsharp

Update dependency fastapi to >=0.59.0,<0.60.1
  python/fastapi/requirements.txt
Due: python

Update dependency vapor/vapor to from: "4.26.0"
  swift/vapor-framework/Package.swift
Due: swift

chore: Update results
  README.md
Due: none

chore(swift): Update vapor to 4.26
  swift/vapor-framework/config.yaml
Due: swift

chore(python): Update fastapi to 0.60
  python/fastapi/config.yaml
  python/fastapi/requirements.txt
Due: python

chore(falco): Less strict constraint
  fsharp/falco/web.fsproj
Due: fsharp

chore(javascript): Update restana to 4.7
  javascript/restana/config.yaml
Due: javascript

Update module savsgio/atreugo/v11 to v11.4.3
  go/atreugo/go.mod
Due: go

created but not success run test
  .travis.yml
  nim/basolato/app/controllers/README.md
  nim/basolato/app/controllers/benchmark_controller.nim
  nim/basolato/app/controllers/welcome_controller.nim
  nim/basolato/app/domain/models/README.md
  nim/basolato/app/domain/models/di_container.nim
  nim/basolato/app/domain/models/value_objects.nim
  nim/basolato/app/domain/usecases/README.md
  nim/basolato/app/middlewares/README.md
  nim/basolato/app/middlewares/custom_headers_middleware.nim
  nim/basolato/app/middlewares/framework_middleware.nim
  nim/basolato/basolato.nimble
  nim/basolato/cid.txt
  nim/basolato/config.yaml
  nim/basolato/ip.txt
  nim/basolato/logs/error.log
  nim/basolato/logs/log.log
  nim/basolato/migrations/README.md
  nim/basolato/migrations/migrate.nim
  nim/basolato/migrations/migration0001sample.nim
  nim/basolato/public/README.md
  nim/basolato/public/basolato.svg
  nim/basolato/public/favicon.ico
  nim/basolato/resources/README.md
  nim/basolato/resources/layouts/application.nim
  nim/basolato/resources/layouts/head.nim
  nim/basolato/resources/pages/welcome_view.nim
  nim/basolato/server.nim
Due: nim

chore(spiral): Add reviewer
  .github/CODEOWNERS
Due: none

Update dependency laravel/framework to ~7.21.0
  php/laravel/composer.json
Due: php

chore(php): Update laravel to 7.21
  php/laravel/config.yaml
Due: php

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
