Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Update dependency fastapi to >=0.59.0,<0.60.1
  python/fastapi/requirements.txt
Due: python

Update dependency vapor/vapor to from: "4.26.1"
  swift/vapor-framework/Package.swift
Due: swift

📦 Bump Fiber v1.13.1
  go/fiber/go.mod
  go/fiber/main.go
Due: go

📦 Remove dependency
  go/fiber/main.go
Due: go

📦 Remove dep
  go/fiber/go.mod
Due: go

Update dependency vapor/vapor to from: "4.26.2"
  swift/vapor-framework/Package.swift
Due: swift

complete basolato
  nim/basolato/.gitignore
  nim/basolato/cid.txt
  nim/basolato/config.nims
  nim/basolato/config.yaml
  nim/basolato/ip.txt
  nim/basolato/logs/log.log
  nim/basolato/server.nim
  nim/basolato/server.nimble
Due: nim

rm error.log
  nim/basolato/logs/error.log
Due: nim

Update module gofiber/fiber to v1.13.3
  go/fiber/go.mod
Due: go

fix to run nim test
  nim/Dockerfile
  nim/akane/server.nimble
  nim/basolato/config.nims
  nim/basolato/config.yaml
Due: nim

rm copy server.nim
  nim/Dockerfile
  nim/akane/cid.txt
  nim/httpbeast/cid.txt
  nim/jester/cid.txt
  nim/rosencrantz/cid.txt
  nim/whip/cid.txt
Due: nim

rm cid
  nim/akane/cid.txt
  nim/httpbeast/cid.txt
  nim/jester/cid.txt
  nim/rosencrantz/cid.txt
  nim/whip/cid.txt
Due: nim

fix for post
  nim/basolato/app/controllers/benchmark_controller.nim
  nim/basolato/server.nim
Due: nim

rm .md .ico
  nim/basolato/app/controllers/README.md
  nim/basolato/app/domain/models/README.md
  nim/basolato/app/domain/usecases/README.md
  nim/basolato/app/middlewares/README.md
  nim/basolato/migrations/README.md
  nim/basolato/public/README.md
  nim/basolato/public/favicon.ico
  nim/basolato/resources/README.md
Due: nim

update version
  nim/basolato/server.nimble
Due: nim

👂 Listen on 0.0.0.0
  go/fiber/main.go
Due: go

Update dependency vapor/vapor to from: "4.27.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.27
  swift/vapor-framework/config.yaml
Due: swift

Update module fasthttp/router to v1.2.4
  go/router/go.mod
Due: go

rm shivneri log
  crystal/shivneri/src/server.cr
Due: crystal

Update module savsgio/atreugo/v11 to v11.5.0
  go/atreugo/go.mod
Due: go

chore(go): Update atreugo to v11.5.0
  go/atreugo/config.yaml
Due: go

rm unnecessary files
  nim/basolato/.gitignore
  nim/basolato/app/controllers/benchmark_controller.nim
  nim/basolato/app/controllers/welcome_controller.nim
  nim/basolato/app/domain/models/di_container.nim
  nim/basolato/app/domain/models/value_objects.nim
  nim/basolato/app/middlewares/custom_headers_middleware.nim
  nim/basolato/app/middlewares/framework_middleware.nim
  nim/basolato/config.nims
  nim/basolato/migrations/migrate.nim
  nim/basolato/migrations/migration0001sample.nim
  nim/basolato/public/basolato.svg
  nim/basolato/resources/layouts/application.nim
  nim/basolato/resources/layouts/head.nim
  nim/basolato/resources/pages/welcome_view.nim
  nim/basolato/server.nim
Due: nim

Update dependency vapor/vapor to from: "4.27.1"
  swift/vapor-framework/Package.swift
Due: swift

Updated to v0.9.4
  php/basicphp/Basic.php
  php/basicphp/app.php
  php/basicphp/config.php
  php/basicphp/public/index.php
Due: php

Delete AppController.php
  php/basicphp/controllers/AppController.php
Due: php

Delete functions.php
  php/basicphp/functions.php
Due: php

fix show controller
  nim/basolato/app/controllers/benchmark_controller.nim
Due: nim

Update module gogearbox/gearbox to v1.1.0
  go/gearbox/go.mod
Due: go

upgrade gearbox to v1.1.0
  go/gearbox/config.yaml
  go/gearbox/go.mod
  go/gearbox/main.go
Due: go

[Go] Update gearbox to v1.1.0 (#3190)
  go/gearbox/config.yaml
  go/gearbox/go.mod
  go/gearbox/main.go
Due: go

[PHP] Update BasicPHP v0.9.4 (#3187)
  php/basicphp/Basic.php
  php/basicphp/app.php
  php/basicphp/config.php
  php/basicphp/controllers/AppController.php
  php/basicphp/functions.php
  php/basicphp/public/index.php
Due: php

[Nim] Add Basolato (#3181)
  .travis.yml
  nim/Dockerfile
  nim/akane/server.nimble
  nim/basolato/.gitignore
  nim/basolato/app/controllers/benchmark_controller.nim
  nim/basolato/config.nims
  nim/basolato/config.yaml
  nim/basolato/server.nim
  nim/basolato/server.nimble
Due: nim

Update dependency laravel/framework to ~7.22.0
  php/laravel/composer.json
Due: php

remove block of open
  crystal/shivneri/src/server.cr
Due: crystal

Fix go.mod
  go/fiber/go.mod
Due: go

Update nest monorepo to ~7.4.0
  javascript/nestjs-express/package.json
  javascript/nestjs-fastify/package.json
Due: javascript

Update module gogf/gf to v1.13.3
  go/gf/go.mod
Due: go

Update jetty.version to v9.4.31.v20200723
  java/struts2/pom.xml
Due: java

Update dependency selmer:selmer to v1.12.28
  clojure/luminus/project.clj
Due: clojure
