Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore: Always sleep to wait docker container to start
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore(python): Stabilize build for all providers
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/django/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/klein/config.yaml
  python/masonite/config.yaml
  python/nameko/config.yaml
Due: python

chore(ci): Create a setup job
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Always enable collect
  Rakefile
Due: none

fix(aspnetcore): Set port
  csharp/Dockerfile
Due: csharp

chore: Add build docker images for DO
  c/.build/digitalocean/Dockerfile
  clojure/.build/digitalocean/Dockerfile
  cpp/.build/digitalocean/Dockerfile
  crystal/.gitignore
  csharp/.build/digitalocean/Dockerfile
  elixir/.build/digitalocean/Dockerfile
  fsharp/.build/digitalocean/Dockerfile
  go/.gitignore
  java/.build/digitalocean/Dockerfile
  kotlin/.build/digitalocean/Dockerfile
  nim/.build/digitalocean/Dockerfile
  php/.gitignore
  rust/.build/digitalocean/Dockerfile
  scala/.build/digitalocean/Dockerfile
  swift/.build/digitalocean/Dockerfile
Due: scala, rust, php, nim, kotlin, java, go, elixir, csharp, crystal, cpp, clojure, c, swift, fsharp

chore(ci): Add a sleep to wait for container startup
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(fsharp): Use multi-stage docker
  fsharp/Dockerfile
  fsharp/config.yaml
Due: fsharp

fix(nest): Require package.json to use cli
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore: Use path like identifier for jobs
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  spec/benchmark_spec.cr
  spec/spec_helper.cr
Due: none

chore(javascript): Use absolute path for npm
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(javascript): Stabilize build for all providers
  .gitignore
  Rakefile
  c/agoo-c/Makefile
  config.yaml
  format.yaml
  go/config.yaml
  go/mars/config.yaml
  javascript/.config/ecosystem.config.js
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/sifrr/config.yaml
  php/laminas/composer.json
  php/mezzio/composer.json
  ruby/config.yaml
Due: ruby, php, javascript, go, c

feat: Add pause to wait for container startup
  Rakefile
  clojure/coast/config.yaml
  clojure/config.yaml
  config.yaml
  csharp/config.yaml
  dart/config.yaml
  elixir/config.yaml
  java/config.yaml
  javascript/config.yaml
  julia/config.yaml
  kotlin/config.yaml
  ruby/grape/config.yaml
  ruby/hanami/config.yaml
  ruby/rails/config.yaml
  scala/config.yaml
Due: scala, ruby, dart, kotlin, julia, javascript, java, elixir, csharp, clojure

fix(scala): Use multi-stage docker
  scala/Dockerfile
  scala/config.yaml
Due: scala

chore(swift): Stabilize builds
  swift/.build/digitalocean/Dockerfile
  swift/Dockerfile
  swift/config.yaml
Due: swift

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
  clojure/luminus/config.yaml
Due: clojure

chore(julia): Stabilized builds
  julia/Dockerfile
  julia/config.yaml
  julia/merly/Project.toml
Due: julia

chore(ci): Use static compilation for built-in tools
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(csharp): Stablize builds
  csharp/.build/digitalocean/Dockerfile
  csharp/Dockerfile
  csharp/aspnetcore/aspnetcore.csproj
  csharp/config.yaml
Due: csharp

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
Due: clojure

chore(perl): Stablize builds
  perl/config.yaml
Due: perl

chore(fsharp): Stabilized builds
  fsharp/.build/digitalocean/Dockerfile
  fsharp/config.yaml
  fsharp/suave/suaveapp.fsproj
Due: fsharp

fix(c): Use multi-stage docker
  c/Dockerfile
  c/agoo-c/config.yaml
  c/config.yaml
  c/kore/config.yaml
Due: c

chore(ci): Increase build time limit
  .semaphore/semaphore.yml
  Rakefile
  java/blade/config.yaml
Due: java

fix: Restore working config
  python/Dockerfile
  python/apidaora/config.yaml
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby, python

chore(blade): Add docker pause
  java/blade/config.yaml
Due: java

chore(ci): Save docker layers for faster builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(cpp): Use multi-stage docker
  cpp/Dockerfile
  cpp/config.yaml
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

feat: Switch cloud instances to fedora
  clojure/.build/digitalocean/Dockerfile
  clojure/config.yaml
  clojure/luminus/config.yaml
  crystal/.build/digitalocean/Dockerfile
  crystal/config.yaml
  crystal/onyx/config.yaml
  go/config.yaml
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  nim/.build/digitalocean/Dockerfile
  nim/config.yaml
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/masonite/config.yaml
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
Due: ruby, python, nim, javascript, go, crystal, clojure, pony

chore(ci): Use partial builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(java): Increase docker pause
  java/blade/config.yaml
  java/config.yaml
Due: java

chore(ci): Avoid using docker cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(dart): Stabilize builds
  dart/Dockerfile
  dart/config.yaml
Due: dart

chore: Uniformize pause between docker and droplets
  Rakefile
  config.yaml
Due: none

chore(kotlin): Stabilize builds
  kotlin/.build/digitalocean/Dockerfile
  kotlin/Dockerfile
  kotlin/config.yaml
  kotlin/kooby/config.yaml
  kotlin/ktor/config.yaml
Due: kotlin

chore(java): Stabilize builds
  java/.build/digitalocean/Dockerfile
  java/.gitignore
  java/Dockerfile
  java/act/config.yaml
  java/blade/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
Due: java

chore(elixir): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
  elixir/.build/digitalocean/Dockerfile
  elixir/.script/compile.sh
  elixir/Dockerfile
  elixir/config.yaml
  elixir/cowboy-stream/config.yaml
  elixir/cowboy-stream/lib/application.ex
  elixir/cowboy-stream/lib/server.ex
  elixir/cowboy-stream/mix.exs
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/mix.exs
  elixir/cowboy/script/.gitignore
  elixir/phoenix/mix.exs
  elixir/phoenix/script/.gitignore
  elixir/plug/mix.exs
  elixir/plug/script/.gitignore
Due: elixir

fix(julia): Missing files in container
  julia/Dockerfile
  julia/config.yaml
Due: julia

chore(nestjs): Only one bootstrap is allowed
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript
