Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore(ruby): Use dynamic number of workers for puma
  ruby/.config/puma.rb
  ruby/config/.gitignore
  ruby/config/config/.gitignore
Due: ruby

fix(ruby): Use non-zero exit code for conditional command -> docker fails otherwise
  ruby/config.yaml
Due: ruby

chore(ruby): Stabilize build for all providers
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore: Remove unused code
  Rakefile
Due: none

fix(nest): Require package.json to use cli
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(python): Stabilize build for all providers
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/django/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/klein/config.yaml
  python/masonite/config.yaml
  python/nameko/config.yaml
Due: python

chore(swift): Stabilize builds
  swift/.build/digitalocean/Dockerfile
  swift/Dockerfile
  swift/config.yaml
Due: swift

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
  clojure/luminus/config.yaml
Due: clojure

chore(java): Increase docker pause
  java/blade/config.yaml
  java/config.yaml
Due: java

chore(pony): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
Due: pony

chore: Always sleep to wait docker container to start
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore(ci): Use static compilation for built-in tools
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Use path like identifier for jobs
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  spec/benchmark_spec.cr
  spec/spec_helper.cr
Due: none

fix(scala): Use multi-stage docker
  scala/Dockerfile
  scala/config.yaml
Due: scala

chore(ci): Create a setup job
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Remove unused scripts
  .ci/docker_release.sh
  .ci/has_to_run.sh
Due: none

chore(ci): Add a sleep to wait for container startup
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(java): Use the new dockerfile format
  java/Dockerfile
  java/act/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
Due: java

chore(perl): Stablize builds
  perl/config.yaml
Due: perl

chore: Increase time waiting for container startup
  .semaphore/semaphore.yml
  config.yaml
Due: none

fix(julia): Missing files in container
  julia/Dockerfile
  julia/config.yaml
Due: julia

fix(fsharp): Use multi-stage docker
  fsharp/Dockerfile
  fsharp/config.yaml
Due: fsharp

fix(csharp): Use multi-stage docker
  csharp/Dockerfile
  csharp/aspnetcore/config.yaml
  csharp/config.yaml
Due: csharp

fix(c): Use multi-stage docker
  c/Dockerfile
  c/agoo-c/config.yaml
  c/config.yaml
  c/kore/config.yaml
Due: c

chore(nim): Stabilize builds
  nim/.build/digitalocean/Dockerfile
  nim/Dockerfile
  nim/config.yaml
Due: nim

chore(ci): Increase build time limit
  .semaphore/semaphore.yml
  Rakefile
  java/blade/config.yaml
Due: java

chore(ci): Use setup at first level
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(blade): Add docker pause
  java/blade/config.yaml
Due: java

feat(ci): Switch to semaphore
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(julia): Stabilized builds
  julia/Dockerfile
  julia/config.yaml
Due: julia

chore(fsharp): Stabilized builds
  fsharp/.build/digitalocean/Dockerfile
  fsharp/config.yaml
Due: fsharp

chore(kotlin): Stabilize builds
  kotlin/.build/digitalocean/Dockerfile
  kotlin/Dockerfile
  kotlin/config.yaml
  kotlin/kooby/config.yaml
Due: kotlin

fix(aspnetcore): Set port
  csharp/Dockerfile
Due: csharp

feat: Switch cloud instances to fedora
  clojure/.build/digitalocean/Dockerfile
  clojure/config.yaml
  clojure/luminus/config.yaml
  crystal/.build/digitalocean/Dockerfile
  crystal/config.yaml
  go/config.yaml
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  nim/.build/digitalocean/Dockerfile
  nim/config.yaml
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
  python/Dockerfile
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/masonite/config.yaml
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
Due: ruby, python, nim, javascript, go, crystal, clojure, pony

fix(clojure): Use multi-stage docker
  clojure/Dockerfile
  clojure/coast/config.yaml
Due: clojure

chore(ci): Use partial builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Increase time waiting for container startup
  .semaphore/semaphore.yml
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

chore(laravel): Remove trailing commands
  php/laravel/config.yaml
Due: php

chore(javascript): npm install should be launched after command
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(ci): Save docker layers for faster builds
  .semaphore/semaphore.yml
  Rakefile
Due: none
