Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Update dependency fastify to ~3.2.0
  javascript/fastify/package.json
Due: javascript

Update Gearbox Init Settings
  go/gearbox/main.go
Due: go

Update dependency fastsitephp/fastsitephp to ~1.4.0
  php/fastsitephp/composer.json
Due: php

Update dependency vapor/vapor to from: "4.27.2"
  swift/vapor-framework/Package.swift
Due: swift

chore(php): Update fastsitephp to 1.4
  php/fastsitephp/config.yaml
Due: php

[Go] Desactivate Prefork for gearbox (#3222)
  go/gearbox/main.go
Due: go

chore(javascript): Update fastify to 3.2
  javascript/fastify/config.yaml
Due: javascript

added to ravis
  .travis.yml
Due: none

add nano
  php/nano/composer.json
  php/nano/config.yaml
  php/nano/start.php
Due: php

[PHP] add nano
  php/nano/config.yaml
  php/nano/index.php
Due: php

feat(config): Add gitlab shortcut
  tools/src/db.cr
Due: none

Add gitlab shortcut (#3227)
  tools/src/db.cr
Due: none

[PHP] Add nano (#3225)
  .travis.yml
  php/nano/composer.json
  php/nano/config.yaml
  php/nano/index.php
Due: php

Django Ninja framework
  python/django-ninja/app/__init__.py
  python/django-ninja/app/asgi.py
  python/django-ninja/app/urls.py
  python/django-ninja/app/views.py
  python/django-ninja/config.yaml
  python/django-ninja/requirements.txt
  python/django-ninja/settings.py
Due: python

requirements polishing
  python/django-ninja/config.yaml
  python/django-ninja/requirements.txt
Due: python

do-not-run-roadrunner-in-debug-mode
  php/chubbyphp-roadrunner/config.yaml
  php/slim-roadrunner/config.yaml
Due: php

[PHP] Do not use debug mode for roadrunner (#3230)
  php/chubbyphp-roadrunner/config.yaml
  php/slim-roadrunner/config.yaml
Due: php

Update dependency fastapi to >=0.60.0,<0.61.1
  python/fastapi/requirements.txt
Due: python

chubbyphp-workerman
  .github/CODEOWNERS
  .travis.yml
  php/chubbyphp-workerman/composer.json
  php/chubbyphp-workerman/config.yaml
  php/chubbyphp-workerman/public/index.php
Due: php

[PHP] Add chubbyphp on workerman (#3231)
  .github/CODEOWNERS
  .travis.yml
  php/chubbyphp-workerman/composer.json
  php/chubbyphp-workerman/config.yaml
  php/chubbyphp-workerman/public/index.php
Due: php

Update dependency scala to v2.13.3
  scala/akkahttp/build.sbt
  scala/http4s/build.sbt
  scala/play/build.sbt
Due: scala

update basolato
  nim/basolato/server.nimble
Due: nim

update basolato nimble
  nim/basolato/server.nimble
Due: nim

Update dependency laravel/framework to ~7.25.0
  php/laravel/composer.json
Due: php

Update dependency @hapi/hapi to v20
  javascript/hapi/package.json
Due: javascript

Update dependency emmett to v2.0.1
  python/emmett/requirements.txt
Due: python

Update golang Docker tag to v1.15
  go/Dockerfile
Due: go

Update dependency vapor/vapor to from: "4.27.3"
  swift/vapor-framework/Package.swift
Due: swift

Update node Docker tag to v14.8
  javascript/Dockerfile
Due: javascript

Update module aofei/air to v0.19.1
  go/air/go.mod
Due: go

[Python] Add index.py
  python/index.py/config.yaml
  python/index.py/requirements.txt
  python/index.py/server.py
Due: python

fix index.py/server.py
  python/index.py/server.py
Due: python

Update index.py to 0.12.2
  python/index.py/config.yaml
Due: python

chore(javascript): Upgrade node to 14.8
  javascript/config.yaml
Due: javascript

chore(go): Upgrade to 1.15
  go/config.yaml
Due: go

chore(emmett): Clarify dependencies manifest
  python/emmett/requirements.txt
Due: python

chore(javascript): Update hapi to 20.0
  javascript/hapi/config.yaml
Due: javascript

chore(python): Update fastapi to 0.61
  python/fastapi/config.yaml
  python/fastapi/requirements.txt
Due: python

chore(php): Update laravel to 7.25
  php/laravel/config.yaml
Due: php
