Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Update dependency org.apache.maven.plugins:maven-jar-plugin to v2.6
  java/struts2/pom.xml
Due: java

Update jetty.version to v9.4.30.v20200611
  java/struts2/pom.xml
Due: java

chore(codeigniter4): Add reviewer
  .github/CODEOWNERS
Due: none

add-chubbyphp-swoole
  .github/CODEOWNERS
  .travis.yml
  php/chubbyphp-swoole/composer.json
  php/chubbyphp-swoole/config.yaml
  php/chubbyphp-swoole/public/index.php
Due: php

chore(php)^CAdd some devel packages on containers
  php/Dockerfile
Due: php

fix(codeigniter4): Change cache path owner
  php/codeigniter4/config.yaml
Due: php

[PHP] Add chubbyphp-swoole (#3138)
  .github/CODEOWNERS
  .travis.yml
  php/chubbyphp-swoole/composer.json
  php/chubbyphp-swoole/config.yaml
  php/chubbyphp-swoole/public/index.php
Due: php

Update dependency gotzmann/comet to ~0.8.0
  php/comet/composer.json
Due: php

chore(php): Update comet to 0.8
  php/comet/config.yaml
Due: php

Update dependency laravel/framework to ~7.20.0
  php/laravel/composer.json
Due: php

Update dependency roda to ~> 3.34.0
  ruby/roda/Gemfile
Due: ruby

chore(php): Update laravel to 7.20
  php/laravel/config.yaml
Due: php

chore(ruby): Update roda to 3.34
  ruby/roda/config.yaml
Due: ruby

Update dependency quart to >=0.12.0,<0.13.1
  python/quart/requirements.txt
Due: python

Update module valyala/fasthttp to v1.15.0
  go/fasthttp/go.mod
  go/fasthttprouter/go.mod
  go/gorouter-fasthttp/go.mod
Due: go

Update dependency vapor/vapor to from: "4.17.0"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency metosin:reitit to v0.5.5
  clojure/luminus/project.clj
Due: clojure

chore(go): Update fasthttp to 1.15
  go/fasthttp/config.yaml
Due: go

chore(swift): Update vapor to 4.17
  swift/vapor-framework/config.yaml
Due: swift

chore(python): Update quart to 0.13
  python/quart/config.yaml
  python/quart/requirements.txt
Due: python

chore(struts2): Remove version for maven-jar-plugin
  java/struts2/pom.xml
Due: java

chore(struts2): Remove version for maven-assembly plugin
  java/struts2/pom.xml
Due: java

Update module gogf/gf to v1.13.2
  go/gf/go.mod
Due: go

chore(swift): Update vapor to 4.18
  swift/vapor-framework/Package.swift
  swift/vapor-framework/config.yaml
Due: swift

Update dependency fastsitephp/fastsitephp to ~1.3.0
  php/fastsitephp/composer.json
Due: php

chore(php): Update fastsitephp to v1.3
  php/fastsitephp/config.yaml
Due: php

chore(fastsitephp): Add reviewer
  .github/CODEOWNERS
  .travis.yml
Due: none

update spider-gazelle
  crystal/spider-gazelle/shard.yml
Due: crystal

fix(config.yaml): spider-gazelle version 3.3
  crystal/spider-gazelle/config.yaml
Due: crystal

Update module valyala/fasthttp to v1.15.1
  go/fasthttp/go.mod
  go/fasthttprouter/go.mod
  go/gorouter-fasthttp/go.mod
Due: go

Update dependency vapor/vapor to from: "4.20.1"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.20
  swift/vapor-framework/config.yaml
Due: swift

[Crystal] Update spider-gazelle to 3.3 (#3148)
  crystal/spider-gazelle/config.yaml
  crystal/spider-gazelle/shard.yml
Due: crystal

Update dependency vapor/vapor to from: "4.23.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.23
  swift/vapor-framework/config.yaml
Due: swift

Update rust Docker tag to v1.45
  rust/Dockerfile
Due: rust

Splits versions for jetty and jetty-jsp
  java/struts2/pom.xml
Due: java

[Java] Splits versions for jetty and jetty-jsp (#3156)
  java/struts2/pom.xml
Due: java

chore(rust): Upgrade to 1.45
  rust/config.yaml
Due: rust
