Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(ruby): Complete rack based frameworks
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/flame/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.ru
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
Due: ruby

chore: Update results
  crystal/digitalocean.Dockerfile
  go/digitalocean.Dockerfile
  go/mars/config.yaml
  ruby/roda/config.yaml
Due: ruby, go, crystal

feat: Start gathering result from cloud -> digitalocean
  Gemfile
  Rakefile
  config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  tools/src/client.cr
Due: ruby

feat(ruby): Complete ruby based benchmark
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

chore: Pevent user-data versionning
  .gitignore
Due: none

chore: Add rails to results
  ruby/rails/Rakefile
Due: ruby

feat(python): Add flask support
  Gemfile
  Rakefile
  python/flask/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/flame/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rails/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, python

chore(ruby): Add puma default config
  Gemfile
  Rakefile
  ruby/.config/puma.rb
  ruby/config.yaml
Due: ruby

chore: Use docker-machine on non-linux environments
  Rakefile
  config.yaml
Due: none

chore: Add ignore files to prevent mis-commit
  javascript/.gitignore
  php/.gitignore
  python/.gitignore
  ruby/.gitignore
Due: ruby, python, php, javascript

test: Allow sleep to let container start
  .spec/spec_helper.rb
  Rakefile
  javascript/Dockerfile
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

test: Use created container instead of running new one
  .spec/spec_helper.rb
  ruby/rails/config/puma.rb
Due: ruby

chore(python): Stabilize build for all providers
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/django/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/klein/config.yaml
  python/masonite/config.yaml
  python/nameko/config.yaml
Due: python

chore(php): Add basic setup for standard frameworks
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.ini
  php/config.yaml
  php/laravel/config.yaml
Due: php

chore(ruby): Stabilize build for all providers
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore(javascript): Stabilize build for all providers
  .gitignore
  Rakefile
  c/agoo-c/Makefile
  config.yaml
  format.yaml
  go/config.yaml
  go/mars/config.yaml
  javascript/.config/ecosystem.config.js
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/sifrr/config.yaml
  php/laminas/composer.json
  php/mezzio/composer.json
  ruby/config.yaml
Due: ruby, php, javascript, go, c

chore(crystal): Standardize build
  crystal/orion/shard.yml
  crystal/toro/shard.yml
Due: crystal

chore(crystal): Stabilize build for all providers
  crystal/.build/digitalocean/Dockerfile
  crystal/Dockerfile
  crystal/amber/config.yaml
  crystal/athena/config.yaml
  crystal/config.yaml
  crystal/lucky/config.yaml
Due: crystal

chore(go): Stabilize build for all providers
  go/.build/digitalocean/Dockerfile
Due: go

fix: Restore removed dependency
  shard.yml
Due: none

chore: Remove unused code
  Rakefile
Due: none

chore: Remove useless utilities
  javascript/config/.gitignore
  javascript/config/config/.gitignore
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.conf
  php/.gitignore
  php/symfony/bin/console
  python/config/.gitignore
  python/config/config/.gitignore
  shard.yml
  tools/src/make.cr
Due: python, php, javascript

chore: Add build docker images for DO
  c/.build/digitalocean/Dockerfile
  clojure/.build/digitalocean/Dockerfile
  cpp/.build/digitalocean/Dockerfile
  crystal/.gitignore
  csharp/.build/digitalocean/Dockerfile
  elixir/.build/digitalocean/Dockerfile
  fsharp/.build/digitalocean/Dockerfile
  go/.gitignore
  java/.build/digitalocean/Dockerfile
  kotlin/.build/digitalocean/Dockerfile
  nim/.build/digitalocean/Dockerfile
  php/.gitignore
  rust/.build/digitalocean/Dockerfile
  scala/.build/digitalocean/Dockerfile
  swift/.build/digitalocean/Dockerfile
Due: scala, rust, php, nim, kotlin, java, go, elixir, csharp, crystal, cpp, clojure, c, swift, fsharp

chore(ruby): Use dynamic number of workers for puma
  ruby/.config/puma.rb
  ruby/config/.gitignore
  ruby/config/config/.gitignore
Due: ruby

fix(nest): Require package.json to use cli
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

fix(ruby): Use non-zero exit code for conditional command -> docker fails otherwise
  ruby/config.yaml
Due: ruby

fix(ruby): User /usr/local/bin instead of /usr/bin
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore(laravel): Remove trailing commands
  php/laravel/config.yaml
Due: php

chore(java): Use the new dockerfile format
  java/Dockerfile
  java/act/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
Due: java

chore: Always sleep to wait docker container to start
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

fix(clojure): Use multi-stage docker
  clojure/Dockerfile
  clojure/coast/config.yaml
Due: clojure

fix(nestjs): Wrong file name for express manifest
  javascript/nestjs-express/config.yaml
Due: javascript

chore: Always enable collect
  Rakefile
Due: none

chore(pony): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
Due: pony

chore(javascript): npm install should be launched after command
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore: Increase time waiting for container startup
  .semaphore/semaphore.yml
  config.yaml
Due: none

feat(ci): Switch to semaphore
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Use setup at first level
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Add a sleep to wait for container startup
  .semaphore/semaphore.yml
  Rakefile
Due: none

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
