Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

fix(tonberry): Missing application attribute
  python/tonberry/server.py
Due: python

feat(ci): Add tonberry
  .travis.yml
  python/tonberry/server.py
Due: python

chore(tonberry): Add reviewer
  .github/CODEOWNERS
Due: none

fix(tonberry): Missing gunicorn
  python/tonberry/requirements.txt
Due: python

chore(tonberry): Remove unused import
  python/tonberry/server.py
Due: python

Remove AddRouting, which is unnecessary
  csharp/aspnetcore/Startup.cs
Due: csharp

[Python] Add Tonberry (#2952)
  .github/CODEOWNERS
  .travis.yml
  python/tonberry/config.yaml
  python/tonberry/requirements.txt
  python/tonberry/server.py
Due: python

[C#] Optimize aspnetcore (#2969)
  csharp/aspnetcore/Startup.cs
Due: csharp

chore(javascript): Remove nanoexpress
  javascript/nanoexpress/app.js
  javascript/nanoexpress/config.yaml
  javascript/nanoexpress/package.json
Due: javascript

chore(ci): Remove nanoexpress
  .travis.yml
Due: none

Update dependency vapor/vapor to from: "4.10.0"
  swift/vapor-framework/Package.swift
Due: swift

chore(swift): Update vapor to 4.10
  swift/vapor-framework/config.yaml
Due: swift

chore: Update results [skip ci]
  README.md
Due: none

[Javascript] Remove nanoexpress (#2970)
  .travis.yml
  README.md
  javascript/nanoexpress/app.js
  javascript/nanoexpress/config.yaml
  javascript/nanoexpress/package.json
Due: javascript

Update dependency laravel/framework to ~7.16.0
  php/laravel/composer.json
Due: php

Update dependency roda to ~> 3.33.0
  ruby/roda/Gemfile
Due: ruby

chore(php): Update laravel to 7.16
  php/laravel/config.yaml
Due: php

chore(ruby): Update roda to 0.33
  ruby/roda/config.yaml
Due: ruby

chore: Fix reviewer syntax
  .github/CODEOWNERS
Due: none

[C#] Add Simplify.Web #2973
  .travis.yml
  csharp/simplify.web/Controllers/HomeController.cs
  csharp/simplify.web/Controllers/UserController.cs
  csharp/simplify.web/Controllers/UserIdController.cs
  csharp/simplify.web/Program.cs
  csharp/simplify.web/Startup.cs
  csharp/simplify.web/config.yaml
  csharp/simplify.web/web.csproj
Due: csharp

Update UserIdController.cs
  csharp/simplify.web/Controllers/UserIdController.cs
Due: csharp

[C#] Add Simplify.Web (#2981)
  .travis.yml
  csharp/simplify.web/Controllers/HomeController.cs
  csharp/simplify.web/Controllers/UserController.cs
  csharp/simplify.web/Controllers/UserIdController.cs
  csharp/simplify.web/Program.cs
  csharp/simplify.web/Startup.cs
  csharp/simplify.web/config.yaml
  csharp/simplify.web/web.csproj
Due: csharp

chore(kotlin): Update ktor to 1.3
  kotlin/ktor/config.yaml
  kotlin/ktor/gradle.properties
Due: kotlin

chore(kotlin): Use gradle clean before build
  kotlin/Dockerfile
Due: kotlin

chore(kotlin): Do not use eap version
  kotlin/ktor/build.gradle
Due: kotlin

chore(kotlin): Update ktor to 1.3.2
  kotlin/ktor/build.gradle
  kotlin/ktor/gradle.properties
Due: kotlin

chore: Lint config files
  kotlin/config.yaml
  kotlin/ktor/config.yaml
Due: kotlin

chore(kotlin): Use dynamic version, except for libs
  kotlin/Dockerfile
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
  kotlin/ktor/gradle.properties
Due: kotlin

Update module savsgio/atreugo/v11 to v11.3.3
  go/atreugo/go.mod
Due: go

chore(ci): Restore config [skip ci]
  .travis.yml
Due: none

Update dependency expound:expound to v0.8.5
  clojure/luminus/project.clj
Due: clojure

Update nest monorepo to ~7.2.0
  javascript/nestjs-express/package.json
  javascript/nestjs-fastify/package.json
Due: javascript

[Kotlin] Update ktor to 1.3 (#2951)
  kotlin/config.yaml
  kotlin/ktor/build.gradle
Due: kotlin

chore(javascript): Update nest to 7.2
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

feat(crystal): Add runcobo
  crystal/runcobo/shard.yml
  crystal/runcobo/src/server.cr
Due: crystal

fix(runcobo): Specify url params
  crystal/runcobo/src/server.cr
Due: crystal

chore(runcobo): Add reviewer
  .github/CODEOWNERS
Due: none

chore(ci): Add runcobo
  .travis.yml
  crystal/runcobo/config.yaml
Due: crystal

Pumped up Gearbox version
  go/gearbox/go.mod
Due: go

Update gearbox code
  go/gearbox/main.go
Due: go

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
