Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore(ci): Remove unrelevant job
  .semaphore/semaphore.yml
Due: none

fix(php): use bcmath on containers
  php/Dockerfile
Due: php

feat: Create a dedicated user for systemd
  Rakefile
  config.yaml
Due: none

fix: Wrong condition
  Rakefile
Due: none

chore: Enfore styles
  dart/aqueduct/main.dart
Due: dart

fix(php): Enable sockets on containers
  php/Dockerfile
Due: php

feat(ruby): Complete ruby based benchmark
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/hanami-api/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

chore: Avoid double sleep for containers
  config.yaml
Due: none

chore(ci): Update config
  .semaphore/semaphore.yml
Due: none

chore(haskell): Stabilize build
  haskell/.build/digitalocean/Dockerfile
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

fix(hyperf): Add a docker workaround for shortname
  php/hyperf/config.yaml
Due: php

chore: Revert previous commit
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore(cpp): Stabilize builds
  cpp/.build/digitalocean/Dockerfile
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

chore: Create neph log directory before each commands
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

fix(apidaor): Avoid evaluatable variable in bootstrap
  python/apidaora/config.yaml
Due: python

chore(c): Stabilize builds
  c/.build/digitalocean/Dockerfile
  c/agoo-c/config.yaml
  c/kore/config.yaml
  c/kore/kore
Due: c

chore(elixir): Use multi-lines for bootstrap
  elixir/config.yaml
Due: elixir

feat: Allow file or folder upload, alongside glob pattern
  Rakefile
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
  crystal/config.yaml
Due: crystal, cpp

[Python] Avoid gunicorn for sanic (#2685)
  javascript/.config/ecosystem.config.js
  javascript/express/app.js
  javascript/fastify/app.js
  javascript/feathersjs/app.js
  javascript/hapi/app.js
  javascript/iotjs-express/app.js
  javascript/koa/app.js
  javascript/moleculer/app.js
  javascript/muneem/app.js
  javascript/restana/app.js
  javascript/restify/app.js
  javascript/sails/api/controllers/home.js
  javascript/sails/api/controllers/user/get.js
  javascript/sails/api/controllers/user/post.js
  javascript/sails/config/env/production.js
  javascript/sails/config/routes.js
  javascript/sifrr/app.js
  python/django/settings.py
  python/sanic/config.yaml
Due: python, javascript

chore(swift): Use multi-lines for bootstrap
  swift/config.yaml
Due: swift

fix: Remove unsed config
  dart/aqueduct/main.dart
Due: dart

chore(dart): Use multi-lines for bootstrap
  dart/Dockerfile
  dart/config.yaml
Due: dart

feat(ice): Use old version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

Update hseeberger/scala-sbt Docker tag to v11.0.7_1.3.12_2.13.2
  scala/Dockerfile
Due: scala

chore: Force style with restyled
  .restyled.yaml
Due: none

Force style with restyled (#2828)
  .restyled.yaml
Due: none

chore(ruby): Stabilize build for all providers
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore: Add rails to results
  ruby/rails/Rakefile
Due: ruby

test: Allow sleep to let container start
  .spec/spec_helper.rb
  Rakefile
  javascript/Dockerfile
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore: Pevent user-data versionning
  .gitignore
Due: none

fix(ruby): Use non-zero exit code for conditional command -> docker fails otherwise
  ruby/config.yaml
Due: ruby

fix: Restore removed dependency
  shard.yml
Due: none

chore(ruby): Use dynamic number of workers for puma
  ruby/.config/puma.rb
  ruby/config/.gitignore
  ruby/config/config/.gitignore
Due: ruby

chore(ruby): Complete rack based frameworks
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/flame/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.ru
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
Due: ruby

chore(javascript): Stabilize build for all providers
  .gitignore
  Rakefile
  c/agoo-c/Makefile
  config.yaml
  format.yaml
  go/config.yaml
  go/mars/config.yaml
  javascript/.config/ecosystem.config.js
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/sifrr/config.yaml
  php/laminas/composer.json
  php/mezzio/composer.json
  ruby/config.yaml
Due: ruby, php, javascript, go, c

chore(crystal): Standardize build
  crystal/orion/shard.yml
  crystal/toro/shard.yml
Due: crystal

fix(ruby): User /usr/local/bin instead of /usr/bin
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

feat(python): Add flask support
  Gemfile
  Rakefile
  python/flask/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/flame/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rails/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, python

chore(ruby): Add puma default config
  Gemfile
  Rakefile
  ruby/.config/puma.rb
  ruby/config.yaml
Due: ruby
