Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(go): Stabilize build for all providers
  go/.build/digitalocean/Dockerfile
Due: go

test: Use created container instead of running new one
  .spec/spec_helper.rb
  ruby/rails/config/puma.rb
Due: ruby

chore: Update results
  crystal/digitalocean.Dockerfile
  go/digitalocean.Dockerfile
  go/mars/config.yaml
  ruby/roda/config.yaml
Due: ruby, go, crystal

chore(crystal): Stabilize build for all providers
  crystal/.build/digitalocean/Dockerfile
  crystal/Dockerfile
  crystal/amber/config.yaml
  crystal/athena/config.yaml
  crystal/config.yaml
  crystal/lucky/config.yaml
Due: crystal

chore: Remove unused code
  Rakefile
Due: none

chore(python): Stabilize build for all providers
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/django/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/klein/config.yaml
  python/masonite/config.yaml
  python/nameko/config.yaml
Due: python

feat: Start gathering result from cloud -> digitalocean
  Gemfile
  Rakefile
  config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  tools/src/client.cr
Due: ruby

chore: Add ignore files to prevent mis-commit
  javascript/.gitignore
  php/.gitignore
  python/.gitignore
  ruby/.gitignore
Due: ruby, python, php, javascript

feat(ruby): Complete ruby based benchmark
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

chore: Remove useless utilities
  javascript/config/.gitignore
  javascript/config/config/.gitignore
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.conf
  php/.gitignore
  php/symfony/bin/console
  python/config/.gitignore
  python/config/config/.gitignore
  shard.yml
  tools/src/make.cr
Due: python, php, javascript

chore: Add build docker images for DO
  c/.build/digitalocean/Dockerfile
  clojure/.build/digitalocean/Dockerfile
  cpp/.build/digitalocean/Dockerfile
  crystal/.gitignore
  csharp/.build/digitalocean/Dockerfile
  elixir/.build/digitalocean/Dockerfile
  fsharp/.build/digitalocean/Dockerfile
  go/.gitignore
  java/.build/digitalocean/Dockerfile
  kotlin/.build/digitalocean/Dockerfile
  nim/.build/digitalocean/Dockerfile
  php/.gitignore
  rust/.build/digitalocean/Dockerfile
  scala/.build/digitalocean/Dockerfile
  swift/.build/digitalocean/Dockerfile
Due: scala, rust, php, nim, kotlin, java, go, elixir, csharp, crystal, cpp, clojure, c, swift, fsharp

chore: Always enable collect
  Rakefile
Due: none

feat(ci): Switch to semaphore
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(ci): Use name in config if exists
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Create a setup job
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Use path like identifier for jobs
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  spec/benchmark_spec.cr
  spec/spec_helper.cr
Due: none

chore(ci): Use partial builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Save docker layers for faster builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Remove unused scripts
  .ci/docker_release.sh
  .ci/has_to_run.sh
Due: none

fix(csharp): Use multi-stage docker
  csharp/Dockerfile
  csharp/aspnetcore/config.yaml
  csharp/config.yaml
Due: csharp

chore(ci): Increase build time limit
  .semaphore/semaphore.yml
  Rakefile
  java/blade/config.yaml
Due: java

chore(javascript): Use absolute path for npm
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

feat: Add pause to wait for container startup
  Rakefile
  clojure/coast/config.yaml
  clojure/config.yaml
  config.yaml
  csharp/config.yaml
  dart/config.yaml
  elixir/config.yaml
  java/config.yaml
  javascript/config.yaml
  julia/config.yaml
  kotlin/config.yaml
  ruby/grape/config.yaml
  ruby/hanami/config.yaml
  ruby/rails/config.yaml
  scala/config.yaml
Due: scala, ruby, dart, kotlin, julia, javascript, java, elixir, csharp, clojure

chore(php): Add basic setup for standard frameworks
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.ini
  php/config.yaml
  php/laravel/config.yaml
Due: php

chore(nim): Stabilize builds
  nim/.build/digitalocean/Dockerfile
  nim/Dockerfile
  nim/config.yaml
Due: nim

chore(ci): Avoid using docker cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(scala): Use multi-stage docker
  scala/Dockerfile
Due: scala

fix(fsharp): Use multi-stage docker
  fsharp/Dockerfile
  fsharp/config.yaml
Due: fsharp

fix(scala): Use multi-stage docker
  scala/akkahttp/config.yaml
  scala/http4s/config.yaml
Due: scala

fix(clojure): Use multi-stage docker
  clojure/Dockerfile
  clojure/coast/config.yaml
Due: clojure

chore(ci): Add a sleep to wait for container startup
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Use setup at first level
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(java): Increase docker pause
  java/blade/config.yaml
  java/config.yaml
Due: java

chore(javascript): npm install should be launched after command
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(blade): Add docker pause
  java/blade/config.yaml
Due: java

fix(c): Use multi-stage docker
  c/Dockerfile
  c/agoo-c/config.yaml
  c/config.yaml
  c/kore/config.yaml
Due: c

chore(laravel): Remove trailing commands
  php/laravel/config.yaml
Due: php

chore: Increase time waiting for container startup
  .semaphore/semaphore.yml
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

fix(cpp): Use multi-stage docker
  cpp/Dockerfile
  cpp/config.yaml
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
