Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

fix(rust): Wrong binary path
  rust/Dockerfile
Due: rust

chore: Add scala results
  README.md
Due: none

chore: Simplify cloud-init use creation
  config.yaml
Due: none

chore: Keep code style with restyled
  .restyled.yaml
Due: none

chore: Add rust results
  README.md
Due: none

fix: Upload files as root, and set rights on runcmd
  Rakefile
  config.yaml
Due: none

chore: Add C# results
  README.md
Due: none

chore: Complete restylers list
  .restyled.yaml
Due: none

chore(swift): Avoid using command line options for vapor
  swift/Dockerfile
  swift/config.yaml
  swift/vapor-framework/config.yaml
Due: swift

chore: Use yaml config for bandit
  .bandit
Due: none

chore: Wrong filename for bandit
  bandit.yaml
Due: none

Restyled by prettier-yaml
  bandit.yaml
Due: none

chore(air): Add codeowner
  .github/CODEOWNERS
Due: none

Bump Falco to stable version and remove WebSharper from build
  .travis.yml
  fsharp/falco/web.fsproj
Due: fsharp

falco v1.1.0
  fsharp/falco/.vs/web/DesignTimeBuild/.dtbcache
  fsharp/falco/.vs/web/config/applicationhost.config
  fsharp/falco/.vs/web/v16/.suo
  fsharp/falco/Program.fs
  fsharp/falco/Properties/launchSettings.json
  fsharp/falco/config.yaml
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfo.fs
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfoInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.assets.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsproj.CoreCompileInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsprojAssemblyReference.cache
  fsharp/falco/obj/fsac.cache
  fsharp/falco/obj/project.assets.json
  fsharp/falco/obj/web.fsproj.nuget.cache
  fsharp/falco/obj/web.fsproj.nuget.dgspec.json
  fsharp/falco/obj/web.fsproj.nuget.g.props
  fsharp/falco/obj/web.fsproj.nuget.g.targets
  fsharp/falco/web.fsproj
  fsharp/falco/web.fsproj.user
Due: fsharp

dotnet cruft removed
  fsharp/falco/Properties/launchSettings.json
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfo.fs
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfoInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.assets.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsproj.CoreCompileInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsprojAssemblyReference.cache
  fsharp/falco/obj/fsac.cache
  fsharp/falco/obj/project.assets.json
  fsharp/falco/obj/web.fsproj.nuget.cache
  fsharp/falco/obj/web.fsproj.nuget.dgspec.json
  fsharp/falco/obj/web.fsproj.nuget.g.props
  fsharp/falco/obj/web.fsproj.nuget.g.targets
  fsharp/falco/web.fsproj.user
Due: fsharp

Complete requested changes
  fsharp/falco/.vs/web/DesignTimeBuild/.dtbcache
  fsharp/falco/.vs/web/config/applicationhost.config
  fsharp/falco/.vs/web/v16/.suo
  fsharp/falco/config.yaml
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
  fsharp/websharper/wsconfig.json
Due: fsharp

Restyled by fantomas
  fsharp/falco/Program.fs
Due: fsharp

Add WebSharper
  .travis.yml
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
  fsharp/websharper/wsconfig.json
Due: fsharp

chore: Update results
  README.md
Due: none

[Scala] Standardize tarball name (#2872)
  README.md
  scala/Dockerfile
  scala/akkahttp/build.sbt
  scala/akkahttp/config.yaml
  scala/config.yaml
  scala/http4s/build.sbt
  scala/http4s/config.yaml
  scala/play/build.sbt
  scala/play/config.yaml
Due: scala

Add Giraffe
  fsharp/giraffe/Program.fs
  fsharp/giraffe/config.yaml
  fsharp/giraffe/giraffeapp.fsproj
Due: fsharp

Fix CodeFactor error
  fsharp/Dockerfile
Due: fsharp

Add path slash to Frank routes
  fsharp/frank/Program.fs
Due: fsharp

Add Falco
  fsharp/falco/Program.fs
  fsharp/falco/config.yaml
  fsharp/falco/falcoapp.fsproj
Due: fsharp

Add Frank #2869
  fsharp/frank/Program.fs
  fsharp/frank/config.yaml
  fsharp/frank/frankapp.fsproj
Due: fsharp

Fix docker builds
  fsharp/Dockerfile
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/suave/web.fsproj
Due: fsharp

Include frameworks in build
  .travis.yml
Due: none

Use port 3000 for F# projects
  fsharp/Dockerfile
Due: fsharp

falco v1.1.0
  fsharp/falco/.vs/web/DesignTimeBuild/.dtbcache
  fsharp/falco/.vs/web/config/applicationhost.config
  fsharp/falco/.vs/web/v16/.suo
  fsharp/falco/Program.fs
  fsharp/falco/Properties/launchSettings.json
  fsharp/falco/config.yaml
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfo.fs
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfoInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.assets.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsproj.CoreCompileInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsprojAssemblyReference.cache
  fsharp/falco/obj/fsac.cache
  fsharp/falco/obj/project.assets.json
  fsharp/falco/obj/web.fsproj.nuget.cache
  fsharp/falco/obj/web.fsproj.nuget.dgspec.json
  fsharp/falco/obj/web.fsproj.nuget.g.props
  fsharp/falco/obj/web.fsproj.nuget.g.targets
  fsharp/falco/web.fsproj.user
Due: fsharp

Add fantomas to restylers
  .restyled.yaml
  fsharp/.config/dotnet-tools.json
Due: fsharp

Update configs
  fsharp/falco/config.yaml
  fsharp/frank/config.yaml
  fsharp/giraffe/config.yaml
Due: fsharp

Format with fantomas
  fsharp/.config/dotnet-tools.json
  fsharp/falco/Program.fs
  fsharp/frank/Program.fs
  fsharp/giraffe/Program.fs
  fsharp/suave/Program.fs
  fsharp/websharper/Main.fs
Due: fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
