Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

update version range for undertow
  java/light-4j/pom.xml
Due: java

update version in results
  go/gorouter/config.yaml
Due: go

update version in results
  php/laravel/config.yaml
Due: php

Update Rust crate gotham to ~0.5
  rust/gotham/Cargo.toml
Due: rust

use latest version of hyper
  rust/gotham/Cargo.toml
Due: rust

add reviwers
  .github/CODEOWNERS
Due: none

ping gotham_derive to the same version as gotham
  rust/gotham/Cargo.toml
Due: rust

Update dependency io.undertow:undertow-core to v2.2.0.Final
  java/light-4j/pom.xml
Due: java

Update dependency fastify to ~3.4.0
  javascript/fastify/package.json
Due: javascript

Fiber v2
  go/fiber/main.go
Due: go

Update dependency roda to ~> 3.36.0
  ruby/roda/Gemfile
Due: ruby

Update dependency nrepl:nrepl to v0.8.2
  clojure/luminus/project.clj
Due: clojure

[Javascript] update restana github repository
  javascript/restana/config.yaml
Due: javascript

[Javascript] Add fyrejet
  javascript/fyrejet/app.js
  javascript/fyrejet/config.yaml
  javascript/fyrejet/package.json
Due: javascript

[Javascript] Add fyrejet
  .travis.yml
  javascript/fyrejet/app.js
  javascript/fyrejet/config.yaml
  javascript/fyrejet/package.json
Due: javascript

Update module gogf/gf to v1.13.6
  go/gf/go.mod
Due: go

Update dependency spiral/framework to ~2.6.0
  php/spiral/composer.json
Due: php

[Go] Add Goyave
  .github/CODEOWNERS
  .travis.yml
  go/goyave/config.json
  go/goyave/config.yaml
  go/goyave/go.mod
  go/goyave/main.go
Due: go

[Go] Add Goyave (#3316)
  .github/CODEOWNERS
  .travis.yml
  go/goyave/config.json
  go/goyave/config.yaml
  go/goyave/go.mod
  go/goyave/main.go
Due: go

[Javascript] Add fyrejet (#3322)
  .travis.yml
  javascript/fyrejet/app.js
  javascript/fyrejet/config.yaml
  javascript/fyrejet/package.json
Due: javascript

feat-add-naturaljs
  .travis.yml
  javascript/naturaljs-router/config.yaml
  javascript/naturaljs-router/index.js
  javascript/naturaljs-router/package.json
Due: javascript

Create api.py
  python/Oreoweb/api.py
Due: python

Create requirements.txt
  python/Oreoweb/requirements.txt
Due: python

Update module gofiber/fiber to v2
  go/fiber/go.mod
Due: go

fix(naturaljs): add app.js
  javascript/naturaljs-router/app.js
  javascript/naturaljs-router/config.yaml
Due: javascript

fix(naturaljs): add deps travis
  javascript/naturaljs-router/config.yaml
Due: javascript

add to ci
  .travis.yml
Due: none

add config
  python/Oreoweb/config.yaml
Due: python

use version range
  python/Oreoweb/requirements.txt
Due: python

Update dependency vapor/vapor to from: "4.29.2"
  swift/vapor-framework/Package.swift
Due: swift

fix(naturaljs): indications
  javascript/naturaljs-router/app.js
  javascript/naturaljs-router/package.json
Due: javascript

Update module System-Glitch/goyave/v3 to v3.1.0
  go/goyave/go.mod
Due: go

Update module gogf/gf to v1.13.7
  go/gf/go.mod
Due: go

Update dependency laravel/lumen-framework to v8
  php/lumen/composer.json
Due: php

Add plumber
  r/plumber/DESCRIPTION
  r/plumber/config.yaml
  r/plumber/plumber.R
Due: none

Add httpuv
  r/httpuv/DESCRIPTION
  r/httpuv/app.R
  r/httpuv/config.yaml
Due: none

Update .travis.yml
  .travis.yml
Due: none

Update plumber.R comment
  r/plumber/plumber.R
Due: none

Use app.R and not a local Dockerfile
  r/plumber/app.R
  r/plumber/plumber.R
Due: none

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
