Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

Update module gogearbox/gearbox to v1.0.2
  go/gearbox/go.mod
Due: go

[Go] Optimize gearbox (#2990)
  go/gearbox/go.mod
  go/gearbox/main.go
Due: go

[Crystal] Add runcobo (#2985)
  .github/CODEOWNERS
  .travis.yml
  crystal/runcobo/config.yaml
  crystal/runcobo/shard.yml
  crystal/runcobo/src/server.cr
Due: crystal

chore(revel): Use tfb dockerfile
  go/revel/Dockerfile
  go/revel/src/app/app/controllers/app.go
  go/revel/src/app/app/init.go
  go/revel/src/app/app/views/App/Index.html
  go/revel/src/app/app/views/debug.html
  go/revel/src/app/app/views/errors/404.html
  go/revel/src/app/app/views/errors/500.html
  go/revel/src/app/app/views/flash.html
  go/revel/src/app/app/views/footer.html
  go/revel/src/app/app/views/header.html
  go/revel/src/app/conf/app.conf
  go/revel/src/app/conf/routes
Due: go

Update nimlang/nim Docker tag to v1.2.2
  nim/Dockerfile
Due: nim

Update module gofiber/fiber to v1.12.0
  go/fiber/go.mod
Due: go

chore(nim): Upgrade to 1.2.2
  nim/Dockerfile
Due: nim

chore(go): Update fiber to 1.12
  go/fiber/config.yaml
Due: go

🪐 Update to Saturn 0.14
  fsharp/saturn/Program.fs
  fsharp/saturn/config.yaml
  fsharp/saturn/web.fsproj
Due: fsharp

[Nim] Upgrade to 1.2.2 (#2989)
  nim/Dockerfile
Due: nim

feat(nim): Add akane
  nim/akane/server.nimble
Due: nim

docs(nim): Fix akane link
  nim/akane/config.yaml
Due: nim

feat(nim): Add akane
  .travis.yml
  nim/akane/config.yaml
  nim/akane/server.nim
  nim/akane/server.nimble
Due: nim

fix(nim): Solve GET route for akane
  nim/akane/server.nim
Due: nim

🪐 Update to Saturn 0.14 (#2995)
  fsharp/saturn/Program.fs
  fsharp/saturn/config.yaml
  fsharp/saturn/web.fsproj
Due: fsharp

[Kotlin] Standardize binary name (#2954)
  kotlin/Dockerfile
  kotlin/kooby/build.gradle
  kotlin/kooby/config.yaml
  kotlin/ktor/build.gradle
  kotlin/ktor/config.yaml
Due: kotlin

chore(php): Standardize swoole config
  php/fastsitephp/public/index.php
  php/hyperf/config/autoload/server.php
  php/imi/config/config.php
  php/one/App/Config/protocol.php
  php/siler-swoole/public/index.php
  php/siler/public/index.php
  php/simps/config/servers.php
  php/sw-fw-less/config/server.php
  php/swoft/app/bean.php
  php/yii-swoole/config/server.php
  php/yii-swoole/config/swoole.php
  php/yii-swoole/server/bootstrap.php
Due: php

style(sw-fw-less): Enhance readability
  php/sw-fw-less/config/server.php
Due: php

Modify configuration information
  php/one/App/Config/protocol.php
Due: php

feat(sw-fw-less): Restore removed config
  php/sw-fw-less/config/server.php
Due: php

chore(php): Use enable_coroutine default
  php/hyperf/config/autoload/server.php
  php/one/App/Config/protocol.php
  php/simps/config/servers.php
  php/sw-fw-less/config/server.php
Due: php

fix(imi): enable_coroutine is not available
  php/imi/config/config.php
Due: php

fix(akane): Specify pcre for static compilation
  nim/Dockerfile
  nim/akane/config.yaml
Due: nim

Update module aofei/air to v0.17.1
  go/air/go.mod
Due: go

[Go] Upgrade Gearbox to v1.0.3
  go/gearbox/go.mod
Due: go

Update module gogearbox/gearbox to v1.0.3
  go/gearbox/go.mod
Due: go

Update dependency fastify to ~2.15.0
  javascript/fastify/package.json
Due: javascript

chore(javascript): Update fastify to 2.15
  javascript/fastify/config.yaml
Due: javascript

chore: Use latest version of shards
  shard.yml
Due: none

chore: Update results
  README.md
Due: none

[PHP] Standardize swool config (#2920)
  README.md
  php/fastsitephp/public/index.php
  php/hyperf/config/autoload/server.php
  php/imi/config/config.php
  php/one/App/Config/protocol.php
  php/siler-swoole/public/index.php
  php/siler/public/index.php
  php/simps/config/servers.php
  php/sw-fw-less/config/server.php
  php/swoft/app/bean.php
  php/yii-swoole/config/server.php
  php/yii-swoole/config/swoole.php
  php/yii-swoole/server/bootstrap.php
Due: php

[Nim] Add akane (#2857)
  .travis.yml
  nim/Dockerfile
  nim/akane/config.yaml
  nim/akane/server.nim
  nim/akane/server.nimble
Due: nim

[Go] Upgrade Gearbox to v1.0.3 (#2997)
  go/gearbox/go.mod
Due: go

chore: Add crustache fix
  shard.yml
Due: none

chore(kore): Use github to avoid rely on kore.io
  c/kore/config.yaml
Due: c

fix(kore): Wrong file name for tarball
  c/kore/config.yaml
Due: c

Defines a simple Struts app Closes #2976
  java/struts2/.gitignore
  java/struts2/config.yaml
  java/struts2/pom.xml
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/UserAction.java
  java/struts2/src/main/resources/log4j2.xml
  java/struts2/src/main/resources/struts.xml
  java/struts2/src/main/webapp/WEB-INF/index.jsp
  java/struts2/src/main/webapp/WEB-INF/user-id.jsp
  java/struts2/src/main/webapp/WEB-INF/web.xml
Due: java

feat(v): Add vex
  .travis.yml
  v/vex/config.yaml
  v/vex/main.v
Due: none

Update dependency io.javalin:javalin to [3.8,3.9.1)
  java/javalin/pom.xml
Due: java

chore(java): Update javalin to 3.9
  java/javalin/config.yaml
  java/javalin/pom.xml
Due: java

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
