Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

fix(pony): Update binary path
  pony/Dockerfile
Due: pony

chore(nestjs): Only one bootstrap is allowed
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

fix(julia): Missing files in container
  julia/Dockerfile
  julia/config.yaml
Due: julia

chore: Add stable results
  README.md
Due: none

feat: Upload binary one by one (instead of a whole folder)
  Rakefile
Due: none

chore: Add rufo linter
  Gemfile
Due: none

chore(java): Stabilize builds
  java/.build/digitalocean/Dockerfile
  java/.gitignore
  java/Dockerfile
  java/act/config.yaml
  java/blade/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
Due: java

chore(java): Upload all jar/war files in target folder
  java/config.yaml
  java/micronaut/config.yaml
  java/spring-framework/config.yaml
Due: java

chore: Use command to build dockerfile
  c/Dockerfile
  clojure/Dockerfile
  cpp/Dockerfile
  crystal/Dockerfile
  csharp/Dockerfile
  dart/Dockerfile
  elixir/Dockerfile
  fsharp/Dockerfile
  go/Dockerfile
  java/Dockerfile
  javascript/Dockerfile
  julia/Dockerfile
  kotlin/Dockerfile
  nim/Dockerfile
  perl/Dockerfile
  pony/Dockerfile
  python/Dockerfile
  ruby/Dockerfile
  scala/Dockerfile
  swift/Dockerfile
Due: scala, ruby, python, dart, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, pony, swift, fsharp

chore(kotlin): Stabilize builds
  kotlin/.build/digitalocean/Dockerfile
  kotlin/Dockerfile
  kotlin/config.yaml
  kotlin/kooby/config.yaml
  kotlin/ktor/config.yaml
Due: kotlin

chore: Need to pause for docker based drivers
  Rakefile
  clojure/config.yaml
  config.yaml
  csharp/config.yaml
  elixir/config.yaml
  julia/config.yaml
Due: julia, elixir, csharp, clojure

fix(hyperf): Add a docker workaround for shortname
  php/hyperf/config.yaml
Due: php

chore: Revert previous commit
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore(swift): Use multi-lines for bootstrap
  swift/config.yaml
Due: swift

chore(dart): Use multi-lines for bootstrap
  dart/Dockerfile
  dart/config.yaml
Due: dart

fix(apidaor): Avoid evaluatable variable in bootstrap
  python/apidaora/config.yaml
Due: python

chore(ruby): Use multi-line to define bootstrap instructions
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore(ci): Update config
  .semaphore/semaphore.yml
Due: none

[Python] Avoid gunicorn for sanic (#2685)
  javascript/.config/ecosystem.config.js
  javascript/express/app.js
  javascript/fastify/app.js
  javascript/feathersjs/app.js
  javascript/hapi/app.js
  javascript/iotjs-express/app.js
  javascript/koa/app.js
  javascript/moleculer/app.js
  javascript/muneem/app.js
  javascript/restana/app.js
  javascript/restify/app.js
  javascript/sails/api/controllers/home.js
  javascript/sails/api/controllers/user/get.js
  javascript/sails/api/controllers/user/post.js
  javascript/sails/config/env/production.js
  javascript/sails/config/routes.js
  javascript/sifrr/app.js
  python/django/settings.py
  python/sanic/config.yaml
Due: python, javascript

fix: Remove unsed config
  dart/aqueduct/main.dart
Due: dart

fix(php): Avoid using systemd on containers (bash workaround)
  elixir/.script/compile.sh
  php/Dockerfile
  php/basicphp/config.yaml
  php/chubbyphp/config.yaml
  php/hamlet/config.yaml
  php/ice/config.yaml
  php/laminas/config.yaml
  php/laravel/config.yaml
  php/lumen/config.yaml
  php/mezzio/config.yaml
  php/nette/config.yaml
  php/one-fpm/config.yaml
  php/phalcon/config.yaml
  php/siler/config.yaml
  php/slim/config.yaml
  php/symfony/config.yaml
  php/ubiquity/config.yaml
  php/yii/config.yaml
Due: php, elixir

feat: Allow file or folder upload, alongside glob pattern
  Rakefile
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
  crystal/config.yaml
Due: crystal, cpp

chore: Avoid double sleep for containers
  config.yaml
Due: none

chore(cpp): Stabilize builds
  cpp/.build/digitalocean/Dockerfile
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

fix(php): Enable sockets on containers
  php/Dockerfile
Due: php

chore(c): Stabilize builds
  c/.build/digitalocean/Dockerfile
  c/agoo-c/config.yaml
  c/kore/config.yaml
  c/kore/kore
Due: c

feat(ruby): Complete ruby based benchmark
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/hanami-api/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

feat: Create a dedicated user for systemd
  Rakefile
  config.yaml
Due: none

fix: Wrong condition
  Rakefile
Due: none

chore: Create neph log directory before each commands
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore(javascript): Use multu-line to define bootstrap instructions
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

fix(php): use bcmath on containers
  php/Dockerfile
Due: php

chore: Enfore styles
  dart/aqueduct/main.dart
Due: dart

chore(elixir): Use multi-lines for bootstrap
  elixir/config.yaml
Due: elixir

chore(haskell): Stabilize build
  haskell/.build/digitalocean/Dockerfile
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

feat(ice): Use old version
  php/Dockerfile
  php/ice/composer.json
  php/ice/config.yaml
Due: php

fix(fastsitephp): Use new config.yaml directives
  php/fastsitephp/config.yaml
  php/fastsitephp/config/.gitignore
Due: php

fix(agoo): Wrong startup command
  ruby/agoo/config.yaml
Due: ruby

chore(elixir): No need for compilation script
  elixir/.gitignore
Due: elixir
