Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: javascript, 0http, express, fastify, feathersjs, foxify, fyrejet, hapi, iotjs-express, koa, moleculer, muneem, nanoexpress, naturaljs-router, nestjs-express, nestjs-fastify, polka, polkadot, rayo, restana, restify, sails, sifrr, tinyhttp, ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, roda, sinatra, syro

javascript:
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
    - createdb -U postgres -h 0.0.0.0 benchmark
    - psql -U postgres -h 0.0.0.0 -d benchmark < dump.sql
  ...

0http:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: 0http
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

express:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: express
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

fastify:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: fastify
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

feathersjs:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: feathersjs
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

foxify:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: foxify
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

fyrejet:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: fyrejet
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

hapi:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: hapi
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

iotjs-express:
  env_vars:
  - name: LANGUAGE
    value: javascript
  - name: FRAMEWORK
    value: iotjs-express
  prologue:
    commands:
    - cache restore $SEMAPHORE_GIT_SHA
    - cache restore wrk
    - sudo install wrk /usr/local/bin
    - cache restore bin
    - cache restore built-in
    - sem-service start postgres
  ...

add run-all wrapper
  Rakefile
  config.yaml
Due: none

introduce variants
  .tasks/collect.rake
  Rakefile
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby

update ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

add sinatra in ruby block
  ruby/rails/.falcon/Gemfile
  ruby/rails/.iodine/Gemfile
Due: ruby, rails

add antidot on react
  .semaphore/semaphore.yml
  .tasks/ci.rake
  php/antidot/config.yaml
Due: none

add all available variants on CI
  .gitignore
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/support.rb
  php/hyperf/config.yaml
Due: none

create configuration for all ruby frameworks
  Rakefile
Due: none

add gemfile for iodine/falcon for all ruby frameworks (except agoo)
  ruby/camping/.falcon/Gemfile
  ruby/camping/.iodine/Gemfile
  ruby/cuba/.falcon/Gemfile
  ruby/cuba/.iodine/Gemfile
  ruby/hanami-api/.falcon/Gemfile
  ruby/hanami-api/.iodine/Gemfile
  ruby/rack-routing/.falcon/Gemfile
  ruby/rack-routing/.iodine/Gemfile
  ruby/rack_app/.falcon/Gemfile
  ruby/rack_app/.iodine/Gemfile
  ruby/roda/.falcon/Gemfile
  ruby/roda/.iodine/Gemfile
  ruby/syro/.falcon/Gemfile
  ruby/syro/.iodine/Gemfile
Due: ruby, camping, cuba, hanami-api, rack-routing, rack_app, roda, syro

use ruby 3 on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

fix laravel
  .tasks/ci.rake
  Rakefile
Due: none

use default engine, if provided
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

auto-generate ci config
  .semaphore/semaphore.yml
  .tasks/ci.rake
  .tasks/db.rake
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
  ruby/rails/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, agoo, camping, cuba, grape, hanami-api, rack-routing, rack_app, rails, sinatra, syro

update ci
  .semaphore/semaphore.yml
Due: none

missing routes file for rack-routing
  ruby/rack-routing/config.yaml
Due: ruby, rack-routing

add clean command
  .gitignore
  .ruby-version
  .talismanrc
  Rakefile
  c/.gitignore
  clojure/.gitignore
  crystal/.gitignore
  dart/.gitignore
  haskell/.gitignore
  javascript/.gitignore
  kotlin/.gitignore
  php/laravel/.swoole/composer.json
  php/laravel/.workerman/composer.json
  php/laravel/bin/laravels
  python/.gitignore
  swift/.gitignore
Due: javascript

add iodine
  Rakefile
  ruby/config.yaml
Due: ruby

specify ruby version
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

missing gemfiles
  ruby/grape/.falcon/Gemfile
  ruby/grape/.iodine/Gemfile
  ruby/sinatra/.falcon/Gemfile
  ruby/sinatra/.iodine/Gemfile
Due: ruby, grape, sinatra

use workdir to run all operations (avoid cd)
  Rakefile
  config.yaml
Due: none

use makefile to clean v1 temp files
  Makefile
Due: none

update crystal gitignore file
  crystal/.gitignore
Due: none

fix ci
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
Due: none

fix ruby dockerfile
  ruby/Dockerfile
Due: ruby

wrong rake tasks on CI
  .semaphore/semaphore.yml
  .tasks/ci.rake
Due: none

Multiple engines, for javascript (#4274)
  .semaphore/semaphore.yml
  .tasks/ci.rake
  Rakefile
  javascript/0http/.uwebsockets/app.js
  javascript/0http/.uwebsockets/package.json
  javascript/0http/config.yaml
  javascript/Dockerfile
  javascript/config.yaml
  javascript/fyrejet-uwebsockets/config.yaml
  javascript/fyrejet/.uwebsockets/app.json
  javascript/fyrejet/.uwebsockets/package.json
  javascript/fyrejet/config.yaml
  javascript/low-http-server/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/naturaljs-router/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/polka/.turbo-net/app.js
  javascript/polka/.turbo-net/package.json
  javascript/sails/config.yaml
  javascript/sifrr/config.yaml
  javascript/turbo_polka/config.yaml
Due: javascript, 0http, fyrejet, nanoexpress, naturaljs-router, nestjs-express, nestjs-fastify, polka, sails, sifrr

remove ruby version file
  .ruby-version
Due: none

fix config parsing
  .semaphore/semaphore.yml
  Rakefile
Due: none

insert variant on collect step
  .tasks/collect.rake
Due: none

add file exclusion ability
  Rakefile
  php/config.yaml
  php/lumen/config.yaml
Due: none

update ci config
  .semaphore/semaphore.yml
Due: none

fix files exlusion list
  php/config.yaml
Due: none

use absolute paths
  .gitignore
  php/antidot/config.yaml
Due: none

no need to set ruby version, use default on ci
  .tasks/ci.rake
Due: none

add cli to for lumen
  Rakefile
  php/lumen/artisan
Due: none

update results
  .tasks/db.rake
  data.json
  data.min.json
Due: none

fix specs
  .spec/spec_helper.rb
Due: none

Path conditions:
  javascript: any of: javascript/
  0http: any of: javascript/0http
  express: any of: javascript/express
  fastify: any of: javascript/fastify
  feathersjs: any of: javascript/feathersjs
  foxify: any of: javascript/foxify
  fyrejet: any of: javascript/fyrejet
  hapi: any of: javascript/hapi
  iotjs-express: any of: javascript/iotjs-express
  koa: any of: javascript/koa
  moleculer: any of: javascript/moleculer
  muneem: any of: javascript/muneem
  nanoexpress: any of: javascript/nanoexpress
  naturaljs-router: any of: javascript/naturaljs-router
  nestjs-express: any of: javascript/nestjs-express
  nestjs-fastify: any of: javascript/nestjs-fastify
  polka: any of: javascript/polka
  polkadot: any of: javascript/polkadot
  rayo: any of: javascript/rayo
  restana: any of: javascript/restana
  restify: any of: javascript/restify
  sails: any of: javascript/sails
  sifrr: any of: javascript/sifrr
  tinyhttp: any of: javascript/tinyhttp
  ruby: any of: ruby/
  agoo: any of: ruby/agoo
  camping: any of: ruby/camping
  cuba: any of: ruby/cuba
  grape: any of: ruby/grape
  hanami-api: any of: ruby/hanami-api
  rack-routing: any of: ruby/rack-routing
  rack_app: any of: ruby/rack_app
  rails: any of: ruby/rails
  roda: any of: ruby/roda
  sinatra: any of: ruby/sinatra
  syro: any of: ruby/syro
