Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(ci): Update config
  .travis.yml
Due: none

chore: Update results
  README.md
Due: none

[F#] Add Frank (#2874)
  .restyled.yaml
  .travis.yml
  README.md
  fsharp/Dockerfile
  fsharp/falco/Program.fs
  fsharp/falco/config.yaml
  fsharp/falco/web.fsproj
  fsharp/frank/Program.fs
  fsharp/frank/config.yaml
  fsharp/frank/web.fsproj
  fsharp/giraffe/Program.fs
  fsharp/giraffe/config.yaml
  fsharp/giraffe/web.fsproj
  fsharp/suave/Program.fs
  fsharp/suave/web.fsproj
Due: fsharp

- Refactored HTTP handlers to use the response writer directly instead of using fmt - updated to latest version of webgo
  go/webgo/go.mod
  go/webgo/main.go
Due: go

[F#] Add Saturn 🪐
  fsharp/.gitignore
  fsharp/saturn/Program.fs
  fsharp/saturn/web.fsproj
Due: fsharp

Restyled by fantomas
  fsharp/saturn/Program.fs
Due: fsharp

Update dependency klein to v20
  python/klein/requirements.txt
Due: python

feat(v): Add valval
  .travis.yml
  v/Dockerfile
  v/config.yaml
  v/valval/config.yaml
  v/valval/main.v
Due: none

chore(python): Update klein to 20.6
  python/klein/config.yaml
  python/klein/requirements.txt
Due: python

chore: Remove restyled
  .restyled.yaml
Due: none

chore: Avoid linting markdown files
  .anylint
Due: none

Restyled by prettier-yaml
  python/klein/config.yaml
Due: python

Update module fasthttp/router to v1.1.7
  go/router/go.mod
Due: go

chore(javascript): Format source code
  javascript/express/app.js
  javascript/fastify/app.js
  javascript/feathersjs/app.js
  javascript/hapi/app.js
  javascript/iotjs-express/app.js
  javascript/koa/app.js
  javascript/moleculer/app.js
  javascript/muneem/app.js
  javascript/nestjs-express/src/app.controller.ts
  javascript/nestjs-express/src/app.module.ts
  javascript/nestjs-express/src/app.ts
  javascript/nestjs-fastify/src/app.controller.ts
  javascript/nestjs-fastify/src/app.module.ts
  javascript/nestjs-fastify/src/app.ts
  javascript/restana/app.js
  javascript/restify/app.js
  javascript/sails/api/controllers/home.js
  javascript/sails/api/controllers/user/get.js
  javascript/sails/api/controllers/user/post.js
  javascript/sails/config/env/production.js
  javascript/sails/config/routes.js
  javascript/sifrr/app.js
Due: javascript

style(hapi): Use form function fot strict mode
  javascript/hapi/app.js
Due: javascript

Update module gofiber/fiber to v1.11.0
  go/fiber/go.mod
Due: go

chore(go): Update fiber to 1.11
  .github/CODEOWNERS
  go/fiber/config.yaml
Due: go

Update module savsgio/atreugo/v11 to v11.3.1
  go/atreugo/go.mod
Due: go

Update module gogf/gf to v1.13.1
  go/gf/go.mod
Due: go

Add rosencrantz framework
  nim/rosencrantz/config.yaml
  nim/rosencrantz/server.nim
  nim/rosencrantz/server.nimble
Due: nim

Update to netcoreapp3.1
  csharp/aspnetcore/aspnetcore.csproj
Due: csharp

feat(v): Use 0.1.27
  v/Dockerfile
Due: none

Requested Changes
  .travis.yml
  nim/rosencrantz/server.nim
  nim/rosencrantz/server.nimble
Due: nim

Fix -> Wrong version for netcoreapp (#2909)
  README.md
  csharp/aspnetcore/aspnetcore.csproj
Due: csharp

Format with fantomas
  fsharp/.config/dotnet-tools.json
  fsharp/websharper/Main.fs
Due: fsharp

Add fantomas to restylers
  fsharp/.config/dotnet-tools.json
Due: fsharp

dotnet cruft removed
  fsharp/falco/Properties/launchSettings.json
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfo.fs
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfoInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.assets.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsproj.CoreCompileInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsprojAssemblyReference.cache
  fsharp/falco/obj/fsac.cache
  fsharp/falco/obj/project.assets.json
  fsharp/falco/obj/web.fsproj.nuget.cache
  fsharp/falco/obj/web.fsproj.nuget.dgspec.json
  fsharp/falco/obj/web.fsproj.nuget.g.props
  fsharp/falco/obj/web.fsproj.nuget.g.targets
  fsharp/falco/web.fsproj.user
Due: fsharp

Add Falco
  fsharp/falco/falcoapp.fsproj
Due: fsharp

Include frameworks in build
  fsharp/giraffe/Program.fs
  fsharp/giraffe/config.yaml
  fsharp2/config.yaml
Due: fsharp

Add WebSharper
  .travis.yml
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
  fsharp/websharper/wsconfig.json
Due: fsharp

falco v1.1.0
  fsharp/falco/.vs/web/DesignTimeBuild/.dtbcache
  fsharp/falco/.vs/web/config/applicationhost.config
  fsharp/falco/.vs/web/v16/.suo
  fsharp/falco/Properties/launchSettings.json
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfo.fs
  fsharp/falco/obj/Debug/netcoreapp3.1/web.AssemblyInfoInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.assets.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsproj.CoreCompileInputs.cache
  fsharp/falco/obj/Debug/netcoreapp3.1/web.fsprojAssemblyReference.cache
  fsharp/falco/obj/fsac.cache
  fsharp/falco/obj/project.assets.json
  fsharp/falco/obj/web.fsproj.nuget.cache
  fsharp/falco/obj/web.fsproj.nuget.dgspec.json
  fsharp/falco/obj/web.fsproj.nuget.g.props
  fsharp/falco/obj/web.fsproj.nuget.g.targets
  fsharp/falco/web.fsproj.user
Due: fsharp

Add Giraffe
  fsharp/giraffe/Program.fs
  fsharp/giraffe/config.yaml
  fsharp/giraffe/giraffeapp.fsproj
Due: fsharp

Complete requested changes
  fsharp/falco/.vs/web/DesignTimeBuild/.dtbcache
  fsharp/falco/.vs/web/config/applicationhost.config
  fsharp/falco/.vs/web/v16/.suo
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
  fsharp/websharper/wsconfig.json
Due: fsharp

Add Frank #2869
  fsharp/frank/frankapp.fsproj
Due: fsharp

Fix docker builds
  fsharp/falco/falcoapp.fsproj
  fsharp/frank/frankapp.fsproj
  fsharp/giraffe/giraffeapp.fsproj
Due: fsharp

Attempt to strip extra char
  fsharp/websharper/Main.fs
Due: fsharp

Add WebSharper
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
  fsharp/websharper/wsconfig.json
Due: fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
