Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore(ci): Use static compilation for built-in tools
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Always sleep to wait docker container to start
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

fix(nestjs): Wrong file name for express manifest
  javascript/nestjs-express/config.yaml
Due: javascript

chore(javascript): Use pm2 for nest
  javascript/Dockerfile
  javascript/config.yaml
  javascript/koa/.gitignore
  javascript/nestjs-express/.gitignore
  javascript/nestjs-express/config.yaml
  javascript/nestjs-express/config/.gitignore
  javascript/nestjs-fastify/.gitignore
  javascript/nestjs-fastify/config.yaml
  javascript/nestjs-fastify/config/.gitignore
Due: javascript

fix(nest): Require package.json to use cli
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

feat: Switch cloud instances to fedora
  clojure/.build/digitalocean/Dockerfile
  clojure/config.yaml
  clojure/luminus/config.yaml
  crystal/.build/digitalocean/Dockerfile
  crystal/config.yaml
  crystal/onyx/config.yaml
  go/config.yaml
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  nim/.build/digitalocean/Dockerfile
  nim/config.yaml
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/masonite/config.yaml
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
Due: ruby, python, nim, javascript, go, crystal, clojure, pony

chore: Use docker-machine on non-linux environments
  Rakefile
  config.yaml
Due: none

chore(pony): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
Due: pony

chore: Increase time waiting for container startup
  .semaphore/semaphore.yml
  config.yaml
Due: none

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
Due: clojure

fix(aspnetcore): Set port
  csharp/Dockerfile
Due: csharp

chore(java): Use the new dockerfile format
  java/Dockerfile
  java/act/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
Due: java

chore(swift): Stabilize builds
  swift/.build/digitalocean/Dockerfile
  swift/Dockerfile
  swift/config.yaml
Due: swift

chore(fsharp): Stabilized builds
  fsharp/.build/digitalocean/Dockerfile
  fsharp/config.yaml
  fsharp/suave/suaveapp.fsproj
Due: fsharp

chore(ci): Retry container creation in case of external error
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Uniformize pause between docker and droplets
  Rakefile
  config.yaml
Due: none

fix(csharp): Wronk workdir
  csharp/Dockerfile
Due: csharp

fix: Restore working config
  python/Dockerfile
  python/apidaora/config.yaml
  ruby/Dockerfile
  ruby/config.yaml
Due: ruby, python

chore: Ensure cloud version is working equaly than docker version
  kotlin/config.yaml
  kotlin/kooby/config.yaml
  nim/config.yaml
  php/.config/nginx.conf
  php/laravel/config.yaml
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/masonite/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  rust/.build/digitalocean/Dockerfile
  rust/Dockerfile
  rust/config.yaml
  scala/.build/digitalocean/Dockerfile
  scala/Dockerfile
  scala/akkahttp/config.yaml
  scala/config.yaml
  scala/http4s/config.yaml
  swift/.build/digitalocean/Dockerfile
  swift/config.yaml
Due: scala, rust, ruby, python, php, nim, kotlin, swift

chore(perl): Stablize builds
  perl/config.yaml
Due: perl

chore(elixir): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
  elixir/.build/digitalocean/Dockerfile
  elixir/.script/compile.sh
  elixir/Dockerfile
  elixir/config.yaml
  elixir/cowboy-stream/config.yaml
  elixir/cowboy-stream/lib/application.ex
  elixir/cowboy-stream/lib/server.ex
  elixir/cowboy-stream/mix.exs
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/mix.exs
  elixir/cowboy/script/.gitignore
  elixir/phoenix/mix.exs
  elixir/phoenix/script/.gitignore
  elixir/plug/mix.exs
  elixir/plug/script/.gitignore
Due: elixir

fix(scala): Missing symlink in container
  java/act/config.yaml
  scala/Dockerfile
Due: scala, java

chore(javascript): Refactor config file
  javascript/config.yaml
Due: javascript

fix(imi): Use php 7.4 instead of 7.3
  php/imi/config.yaml
Due: php

fix(javascript): Need to install git for uWebSocket
  javascript/Dockerfile
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

fix(java): Copy all binaries folder (dockerfile does not support glob pattern)
  java/Dockerfile
Due: java

chore(clojure): Stabilize builds
  clojure/.build/digitalocean/Dockerfile
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
  clojure/luminus/config.yaml
Due: clojure

fix(julia): Add symlink to ensure compatility with cloud
  julia/Dockerfile
Due: julia

fix(fsharp): Wronk workdir
  fsharp/Dockerfile
Due: fsharp

chore(dart): Stabilize builds
  dart/Dockerfile
  dart/config.yaml
Due: dart

chore(ci): Use default timeout
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(elixir): Wrong startup command
  elixir/Dockerfile
Due: elixir

chore(ci): Remove unrelevant job
  .semaphore/semaphore.yml
Due: none

chore(ci): Increase build time
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix: Allow to upload directory on host
  Rakefile
Due: none

chore(java): Increase docker pause
  java/Dockerfile
  java/config.yaml
Due: java

chore(julia): Stabilized builds
  julia/Dockerfile
  julia/config.yaml
  julia/merly/Project.toml
Due: julia

chore(csharp): Stablize builds
  csharp/.build/digitalocean/Dockerfile
  csharp/Dockerfile
  csharp/aspnetcore/aspnetcore.csproj
  csharp/config.yaml
Due: csharp

chore: Remove exec right
  csharp/aspnetcore/aspnetcore.csproj
  pony/jennet/main.pony
Due: csharp, pony
