Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore: Create neph log directory before each commands
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore: Revert previous commit
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

Restyled by black
  python/django/settings.py
  python/sanic/server.py
Due: python

Restyled by clang-format
  javascript/express/app.js
  javascript/fastify/app.js
  javascript/feathersjs/app.js
  javascript/hapi/app.js
  javascript/iotjs-express/app.js
  javascript/koa/app.js
  javascript/moleculer/app.js
  javascript/muneem/app.js
  javascript/restana/app.js
  javascript/restify/app.js
  javascript/sails/api/controllers/home.js
  javascript/sails/api/controllers/user/get.js
  javascript/sails/api/controllers/user/post.js
  javascript/sails/config/env/production.js
  javascript/sails/config/routes.js
  javascript/sifrr/app.js
  javascript/turbo-polka/app.js
Due: javascript

Restyled by isort
  python/blacksheep/server.py
  python/cherrypy/server.py
Due: python

Restyled by php-cs-fixer
  php/imi/ApiServer/Main.php
  php/one-fpm/App/Config/cache.php
  php/one-fpm/App/Config/crypt.php
Due: php

Restyled by prettier-markdown
  README.md
Due: none

Restyled by prettier
  javascript/express/app.js
  javascript/fastify/app.js
  javascript/feathersjs/app.js
  javascript/hapi/app.js
  javascript/iotjs-express/app.js
  javascript/koa/app.js
  javascript/moleculer/app.js
  javascript/muneem/app.js
  javascript/restana/app.js
  javascript/restify/app.js
  javascript/sails/api/controllers/home.js
  javascript/sails/api/controllers/user/get.js
  javascript/sails/api/controllers/user/post.js
  javascript/sails/config/env/production.js
  javascript/sails/config/routes.js
  javascript/sifrr/app.js
  javascript/turbo-polka/app.js
Due: javascript

Restyled by reorder-python-imports
  python/clastic/server.py
Due: python

Restyled by whitespace
  c/Dockerfile
  csharp/Dockerfile
  java/javalin/config.yaml
  java/rapidoid/config.yaml
  java/spring-framework/pom.xml
  julia/merly/Project.toml
  kotlin/Dockerfile
  php/imi/config/beans.php
  pony/Dockerfile
  pony/jennet/main.pony
  python/sanic/requirements.txt
Due: python, php, kotlin, julia, java, csharp, c, pony

Restyled by yapf
  python/cherrypy/server.py
  python/django/settings.py
  python/hug/server.py
  python/sanic/server.py
  python/tornado/server.py
Due: python

Start using restyled (#2824)
  .restyled.yaml
Due: none

chore(javascript): Use absolute path for npm
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

feat(python): Add flask support
  Gemfile
  Rakefile
  python/flask/config.yaml
  ruby/camping/config.yaml
  ruby/cuba/config.yaml
  ruby/flame/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rails/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby, python

test: Allow sleep to let container start
  .spec/spec_helper.rb
  Rakefile
  javascript/Dockerfile
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

fix: Restore removed dependency
  shard.yml
Due: none

chore: Remove useless utilities
  javascript/config/.gitignore
  javascript/config/config/.gitignore
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.conf
  php/.gitignore
  php/symfony/bin/console
  python/config/.gitignore
  python/config/config/.gitignore
  shard.yml
  tools/src/make.cr
Due: python, php, javascript

chore(python): Stabilize build for all providers
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/django/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/klein/config.yaml
  python/masonite/config.yaml
  python/nameko/config.yaml
Due: python

fix(nest): Require package.json to use cli
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore: Update results
  crystal/digitalocean.Dockerfile
  go/digitalocean.Dockerfile
  go/mars/config.yaml
  ruby/roda/config.yaml
Due: ruby, go, crystal

chore: Add rails to results
  ruby/rails/Rakefile
Due: ruby

fix(ruby): User /usr/local/bin instead of /usr/bin
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore: Use docker-machine on non-linux environments
  Rakefile
  config.yaml
Due: none

chore(go): Stabilize build for all providers
  go/.build/digitalocean/Dockerfile
Due: go

chore(crystal): Stabilize build for all providers
  crystal/.build/digitalocean/Dockerfile
  crystal/Dockerfile
  crystal/amber/config.yaml
  crystal/athena/config.yaml
  crystal/config.yaml
  crystal/lucky/config.yaml
Due: crystal

feat(ruby): Complete ruby based benchmark
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

chore(crystal): Standardize build
  crystal/orion/shard.yml
  crystal/toro/shard.yml
Due: crystal

chore: Add ignore files to prevent mis-commit
  javascript/.gitignore
  php/.gitignore
  python/.gitignore
  ruby/.gitignore
Due: ruby, python, php, javascript

chore: Pevent user-data versionning
  .gitignore
Due: none

chore: Remove unused code
  Rakefile
Due: none

chore(php): Add basic setup for standard frameworks
  php/.config/nginx.conf
  php/.config/opcache.ini
  php/.config/php-fpm.ini
  php/config.yaml
  php/laravel/config.yaml
Due: php

chore(ruby): Stabilize build for all providers
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore(ruby): Complete rack based frameworks
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/flame/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.ru
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
Due: ruby

feat: Start gathering result from cloud -> digitalocean
  Gemfile
  Rakefile
  config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  tools/src/client.cr
Due: ruby

test: Use created container instead of running new one
  .spec/spec_helper.rb
  ruby/rails/config/puma.rb
Due: ruby

chore: Add build docker images for DO
  c/.build/digitalocean/Dockerfile
  clojure/.build/digitalocean/Dockerfile
  cpp/.build/digitalocean/Dockerfile
  crystal/.gitignore
  csharp/.build/digitalocean/Dockerfile
  elixir/.build/digitalocean/Dockerfile
  fsharp/.build/digitalocean/Dockerfile
  go/.gitignore
  java/.build/digitalocean/Dockerfile
  kotlin/.build/digitalocean/Dockerfile
  nim/.build/digitalocean/Dockerfile
  php/.gitignore
  rust/.build/digitalocean/Dockerfile
  scala/.build/digitalocean/Dockerfile
  swift/.build/digitalocean/Dockerfile
Due: scala, rust, php, nim, kotlin, java, go, elixir, csharp, crystal, cpp, clojure, c, swift, fsharp

chore(javascript): Stabilize build for all providers
  .gitignore
  Rakefile
  c/agoo-c/Makefile
  config.yaml
  format.yaml
  go/config.yaml
  go/mars/config.yaml
  javascript/.config/ecosystem.config.js
  javascript/Dockerfile
  javascript/config.yaml
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/sifrr/config.yaml
  php/laminas/composer.json
  php/mezzio/composer.json
  ruby/config.yaml
Due: ruby, php, javascript, go, c

chore(ruby): Use dynamic number of workers for puma
  ruby/.config/puma.rb
  ruby/config/.gitignore
  ruby/config/config/.gitignore
Due: ruby
