Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore: Add F# results
  README.md
Due: none

fix: Wrong permission on remote droplets
  config.yaml
  elixir/config.yaml
  javascript/config.yaml
Due: javascript, elixir

chore: Update results [skip ci]
  README.md
Due: none

chore: Keep code style with restyled
  .restyled.yaml
Due: none

feat: Use dockerfile for docker-machine
  Rakefile
Due: none

chore(ci): Update config
  .semaphore/semaphore.yml
Due: none

Restyled by prettier
  scala/config.yaml
Due: scala

chore: Use restyled to format json / yaml configurations
  .restyled.yaml
Due: none

Restyled by prettier-yaml
  scala/config.yaml
Due: scala

fix(scala): Add application.conf and routes file for play
  scala/Dockerfile
  scala/play/config.yaml
Due: scala

Update module aofei/air to v0.17.0
  go/air/go.mod
Due: go

chore(swift): Avoid using command line options for vapor
  swift/Dockerfile
  swift/config.yaml
  swift/vapor-framework/config.yaml
Due: swift

Restyled by prettier-yaml
  scala/play/config.yaml
  swift/config.yaml
Due: scala, swift

chore(scala): Homogenize tarball name
  scala/Dockerfile
  scala/akkahttp/build.sbt
  scala/akkahttp/config.yaml
  scala/config.yaml
  scala/http4s/build.sbt
  scala/http4s/config.yaml
  scala/play/build.sbt
  scala/play/config.yaml
Due: scala

chore(go): Update air to 0.17
  go/air/config.yaml
Due: go

Update module bnkamalesh/webgo/v4 to v4.0.1
  go/webgo/go.mod
Due: go

Format with fantomas
  fsharp/.config/dotnet-tools.json
  fsharp/falco/Program.fs
  fsharp/frank/Program.fs
  fsharp/giraffe/Program.fs
  fsharp/suave/Program.fs
  fsharp/websharper/Main.fs
Due: fsharp

Add fantomas to restylers
  .restyled.yaml
  fsharp/.config/dotnet-tools.json
Due: fsharp

Restyled by fantomas
  fsharp/suave/Program.fs
Due: fsharp

Add Frank #2869
  fsharp/frank/Program.fs
  fsharp/frank/config.yaml
  fsharp/frank/frankapp.fsproj
Due: fsharp

Add path slash to Frank routes
  fsharp/frank/Program.fs
Due: fsharp

Add Giraffe
  fsharp/giraffe/Program.fs
  fsharp/giraffe/config.yaml
  fsharp/giraffe/giraffeapp.fsproj
Due: fsharp

Add Falco
  fsharp/falco/Program.fs
  fsharp/falco/config.yaml
  fsharp/falco/falcoapp.fsproj
Due: fsharp

Include frameworks in build
  .travis.yml
Due: none

Fix docker builds
  fsharp/Dockerfile
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/suave/web.fsproj
Due: fsharp

Fix CodeFactor error
  fsharp/Dockerfile
Due: fsharp

Add WebSharper
  .travis.yml
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
  fsharp/websharper/wsconfig.json
Due: fsharp

Update configs
  fsharp/falco/config.yaml
  fsharp/frank/config.yaml
  fsharp/giraffe/config.yaml
Due: fsharp

Use port 3000 for F# projects
  fsharp/Dockerfile
Due: fsharp

chore(ruby): Complete rack based frameworks
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/flame/config.yaml
  ruby/rack-app/Gemfile
  ruby/rack-app/config.ru
  ruby/rack-app/config.yaml
  ruby/rack-routing/config.yaml
  ruby/rack_app/config.yaml
Due: ruby

chore(ruby): Add puma default config
  Gemfile
  Rakefile
  ruby/.config/puma.rb
  ruby/config.yaml
Due: ruby

chore: Pevent user-data versionning
  .gitignore
Due: none

feat: Start gathering result from cloud -> digitalocean
  Gemfile
  Rakefile
  config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
  tools/src/client.cr
Due: ruby

feat(ruby): Complete ruby based benchmark
  Rakefile
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/config.yaml
  ruby/cuba/config.yaml
  ruby/grape/config.yaml
  ruby/hanami-api/config.yaml
  ruby/hanami/config.yaml
  ruby/rack-app/config.yaml
  ruby/roda/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

fix: Restore removed dependency
  shard.yml
Due: none
