Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(javascript): Update fastify to v3
  javascript/fastify/config.yaml
Due: javascript

chore(python): Update apidaora to 0.27
  python/apidaora/config.yaml
  python/apidaora/requirements.txt
Due: python

chore(php): Update laravel to 7.19
  php/laravel/config.yaml
Due: php

chore(php): Update atreugo to 11.4
  go/atreugo/config.yaml
Due: go

Update dependency markdown-clj:markdown-clj to v1.10.5
  clojure/luminus/project.clj
Due: clojure

Makes a copy of existing PlainResult from Struts 2.6
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/PlainResult.java
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/UserAction.java
Due: java

Uses old API till Struts 2.6 isn't available
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/PlainResult.java
Due: java

Added Bear Framework (PHP)
  php/bearframework/composer.json
  php/bearframework/config.yaml
  php/bearframework/index.php
Due: php

Removed spacing from config.yaml
  php/bearframework/config.yaml
Due: php

Update dependency metosin:reitit to v0.5.3
  clojure/luminus/project.clj
Due: clojure

Update .travis.yml
  .travis.yml
Due: none

Update composer.json
  php/bearframework/composer.json
Due: php

Update dependency nanoexpress-pro to ~2.2.0
  javascript/nanoexpress-pro/package.json
Due: javascript

[PHP] Update config for simps (#3104)
  php/simps/config/servers.php
Due: php

chore(javascript): Update nanoexpress-pro to 2.2
  javascript/nanoexpress-pro/config.yaml
Due: javascript

Update dependency fastapi to >=0.58.0,<0.59.1
  python/fastapi/requirements.txt
Due: python

Update dependency grape to ~> 1.4.0
  ruby/grape/Gemfile
Due: ruby

chore(python): Update fastapi to 0.59
  python/fastapi/config.yaml
  python/fastapi/requirements.txt
Due: python

chore(ruby): Update grape to 1.4
  ruby/grape/config.yaml
Due: ruby

Update dependency vapor/vapor to from: "4.15.1"
  swift/vapor-framework/Package.swift
Due: swift

Moved index.php
  php/bearframework/public/index.php
Due: php

Update config.yaml
  php/bearframework/config.yaml
Due: php

chore(swift): Update vapor to 4.15
  swift/vapor-framework/config.yaml
Due: swift

[PHP] Add Bear Framework (#3116)
  .travis.yml
  php/bearframework/composer.json
  php/bearframework/config.yaml
  php/bearframework/public/index.php
Due: php

Update module gofiber/fiber to v1.12.6
  go/fiber/go.mod
Due: go

Update app.js
  javascript/nanoexpress-pro/app.js
Due: javascript

Update package.json
  javascript/nanoexpress-pro/package.json
Due: javascript

Update config.yaml
  javascript/nanoexpress-pro/config.yaml
Due: javascript

Update dependency vapor/vapor to from: "4.15.2"
  swift/vapor-framework/Package.swift
Due: swift

Update dependency chubbyphp/chubbyphp-framework to ~3.1.0
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp/composer.json
Due: php

[FSharp] Falco - v2.0.0
  fsharp/falco/web.fsproj
Due: fsharp

Update module aofei/air to v0.19.0
  go/air/go.mod
Due: go

[Javascript] Update nanaoexpress to v2.2 (#3127)
  javascript/nanoexpress-pro/app.js
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
Due: javascript

🐦[FSharp] Falco - v2.0.0 (#3109)
  fsharp/falco/Program.fs
  fsharp/falco/web.fsproj
Due: fsharp

[PHP] Add CodeIgniter 4 Framework
  .travis.yml
  php/codeigniter4/app/Common.php
  php/codeigniter4/app/Config/App.php
  php/codeigniter4/app/Config/Autoload.php
  php/codeigniter4/app/Config/Boot/development.php
  php/codeigniter4/app/Config/Boot/production.php
  php/codeigniter4/app/Config/Boot/testing.php
  php/codeigniter4/app/Config/Cache.php
  php/codeigniter4/app/Config/Constants.php
  php/codeigniter4/app/Config/ContentSecurityPolicy.php
  php/codeigniter4/app/Config/Database.php
  php/codeigniter4/app/Config/DocTypes.php
  php/codeigniter4/app/Config/Email.php
  php/codeigniter4/app/Config/Encryption.php
  php/codeigniter4/app/Config/Events.php
  php/codeigniter4/app/Config/Exceptions.php
  php/codeigniter4/app/Config/Filters.php
  php/codeigniter4/app/Config/ForeignCharacters.php
  php/codeigniter4/app/Config/Format.php
  php/codeigniter4/app/Config/Honeypot.php
  php/codeigniter4/app/Config/Images.php
  php/codeigniter4/app/Config/Kint.php
  php/codeigniter4/app/Config/Logger.php
  php/codeigniter4/app/Config/Migrations.php
  php/codeigniter4/app/Config/Mimes.php
  php/codeigniter4/app/Config/Modules.php
  php/codeigniter4/app/Config/Pager.php
  php/codeigniter4/app/Config/Paths.php
  php/codeigniter4/app/Config/Routes.php
  php/codeigniter4/app/Config/Services.php
  php/codeigniter4/app/Config/Toolbar.php
  php/codeigniter4/app/Config/UserAgents.php
  php/codeigniter4/app/Config/Validation.php
  php/codeigniter4/app/Config/View.php
  php/codeigniter4/app/Controllers/BaseController.php
  php/codeigniter4/app/Controllers/Home.php
  php/codeigniter4/app/Controllers/User.php
  php/codeigniter4/composer.json
  php/codeigniter4/config.yaml
  php/codeigniter4/public/index.php
Due: php

chore(go): Update air to 0.19
  go/air/config.yaml
Due: go

chore(php): Update chubbyphp to 3.1
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp/config.yaml
Due: php

[Java] Embedd jetty in struts (#3112)
  java/struts2/config.yaml
  java/struts2/pom.xml
  java/struts2/src/etc/assembly.xml
  java/struts2/src/main/java/App.java
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/PlainResult.java
  java/struts2/src/main/java/org/apache/struts/benchmarker/example/UserAction.java
  java/struts2/src/main/resources/struts.xml
  java/struts2/src/main/webapp/WEB-INF/index.jsp
  java/struts2/src/main/webapp/WEB-INF/user-id.jsp
  java/struts2/src/main/webapp/WEB-INF/web.xml
Due: java

Update dependency org.apache.maven.plugins:maven-assembly-plugin to v3.3.0
  java/struts2/pom.xml
Due: java

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
