Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore(rust): Add build directory to ignore file
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/script/.gitignore
  elixir/phoenix/script/.gitignore
  elixir/plug/script/.gitignore
  rust/.gitignore
Due: rust, elixir

chore(swift): Do not version lock files
  swift/.gitignore
Due: swift

chore: Do not read <lib> directory -> generated by crystal
  Rakefile
Due: none

feat: Add command to clean current working directory
  Rakefile
Due: none

chore(vapor): Remove lock file
  swift/vapor-framework/Package.resolved
Due: swift

chore(vapor): Use environment variable instead of command line params
  swift/Dockerfile
  swift/vapor-framework/config.yaml
Due: swift

go: Add macaron test code
  go/macaron/config.yaml
  go/macaron/go.mod
  go/macaron/main.go
Due: go

chore(ci): Add macaron
  .travis.yml
Due: none

chore(go): No need to provide version in go.mod
  go/macaron/go.mod
Due: go

fix: Wrong permission on remote droplets
  config.yaml
  elixir/config.yaml
  javascript/config.yaml
Due: javascript, elixir

[Go] Introduce macaron (#2832)
  .travis.yml
  go/macaron/config.yaml
  go/macaron/go.mod
  go/macaron/main.go
Due: go

from bionic to xenial for performance
  .travis.yml
Due: none

chore(ci): Reset default
  .ci/template.mustache
  .travis.yml
Due: none

chore(ci): Use bionic
  .ci/template.mustache
  .travis.yml
Due: none

Update module gofiber/fiber to v1.10.3
  go/fiber/go.mod
Due: go

chore(ci): Use xenial
  .ci/template.mustache
  .travis.yml
Due: none

Update dependency vapor/vapor to from: "4.8.0"
  swift/vapor-framework/Package.swift
Due: swift

Use Denial on CI (#2829)
  .ci/template.mustache
  .travis.yml
Due: none

chore(swift): Update vapor to 4.8
  swift/vapor-framework/config.yaml
Due: swift

chore: Add restyled to create ensure code style
  .restyled.yaml
Due: none

Update dependency selmer:selmer to v1.12.26
  clojure/luminus/project.clj
Due: clojure

Update module fasthttp/router to v1.1.6
  go/router/go.mod
Due: go

fix(javascript): Ensure deps installation
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

feat: Use private IP (instead of public one) to communicate while bootstraping
  config.yaml
Due: none

chore: Update results
  README.md
Due: none

docs(python): Update hug website
  python/hug/config.yaml
Due: python

Update module savsgio/atreugo/v11 to v11.3.0
  go/atreugo/go.mod
Due: go

Update module valyala/fasthttp to v1.14.0
  go/fasthttp/go.mod
  go/fasthttprouter/go.mod
  go/gorouter-fasthttp/go.mod
Due: go

Update dependency laravel/framework to ~7.14.0
  php/laravel/composer.json
Due: php

chore(go): Update fasthttp to 1.14
  go/fasthttp/config.yaml
Due: go

chore(go): Update atreugo to 11.3
  go/atreugo/config.yaml
Due: go

chore(php): Update laravel to 7.14
  php/laravel/config.yaml
Due: php

Update module go-chi/chi to v4.1.2
  go/chi/go.mod
Due: go

chore: Update results [skip ci]
  README.md
Due: none

fix: Upload files as root, and set rights on runcmd
  Rakefile
  config.yaml
Due: none

chore: Add c frameworks to results [skip ci]
  README.md
Due: none
