Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Fix versions
  fsharp/websharper/web.fsproj
Due: fsharp

[F#] Optimize Frank (#2924)
  fsharp/frank/Program.fs
Due: fsharp

Try different Text output function
  fsharp/websharper/Main.fs
Due: fsharp

Fix WebSharper submission
  fsharp/websharper/Main.fs
Due: fsharp

[C#] Add Carter (#2922)
  .travis.yml
  csharp/Dockerfile
  csharp/aspnetcore/Startup.cs
  csharp/aspnetcore/web.csproj
  csharp/carter/HomeModule.cs
  csharp/carter/Program.cs
  csharp/carter/Startup.cs
  csharp/carter/UserModule.cs
  csharp/carter/config.yaml
  csharp/carter/web.csproj
Due: csharp

[Swift] Use Environment Variables for Vapor (#2919)
  swift/Dockerfile
  swift/swifter-framework/config.yaml
  swift/vapor-framework/Package.resolved
  swift/vapor-framework/Sources/server/main.swift
  swift/vapor-framework/config.yaml
Due: swift

Update module macaron to v1.3.9
  go/macaron/go.mod
Due: go

[F#] Add WebSharper (#2888)
  .travis.yml
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
Due: fsharp

chore(saturn): Use version range
  fsharp/saturn/web.fsproj
Due: fsharp

[F#] Add Saturn 🪐
  fsharp/.gitignore
  fsharp/saturn/Program.fs
  fsharp/saturn/web.fsproj
Due: fsharp

chore(saturn): Add config
  fsharp/saturn/config.yaml
Due: fsharp

chore(fsharp): Use version ranges
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/saturn/config.yaml
  fsharp/saturn/web.fsproj
  fsharp/suave/web.fsproj
Due: fsharp

chore(fsharp): Do not use loose constraint
  fsharp/falco/web.fsproj
  fsharp/frank/web.fsproj
  fsharp/giraffe/web.fsproj
  fsharp/saturn/web.fsproj
  fsharp/suave/web.fsproj
Due: fsharp

chore: Update results
  README.md
Due: none

chore(saturn): Add to CI
  .travis.yml
Due: none

Update Saturn version
  fsharp/saturn/web.fsproj
Due: fsharp

chore(frank): Wrong version range
  fsharp/frank/web.fsproj
Due: fsharp

chore(saturn): Add reviewer
  .github/CODEOWNERS
Due: none

[F#] Add Saturn 🪐 (#2897)
  .github/CODEOWNERS
  .travis.yml
  README.md
  fsharp/.gitignore
  fsharp/saturn/Program.fs
  fsharp/saturn/config.yaml
  fsharp/saturn/web.fsproj
Due: fsharp

Add Whip Framework
  .travis.yml
  nim/whip/config.yaml
  nim/whip/server.nim
  nim/whip/server.nimble
Due: nim

Change version
  nim/whip/config.yaml
  nim/whip/server.nim
  nim/whip/server.nimble
Due: nim

Requested Fix
  nim/whip/server.nimble
Due: nim

chore(whip): Add reviewer
  .github/CODEOWNERS
Due: none

chore(nim): Update whip to 0.2
  nim/whip/config.yaml
  nim/whip/server.nimble
Due: nim

Correct, production usage of empty body and text encoding
  fsharp/websharper/Main.fs
Due: fsharp

Update Frank to 6.1
  fsharp/frank/Program.fs
  fsharp/frank/config.yaml
  fsharp/frank/web.fsproj
Due: fsharp

Update dependency org.springframework.boot:spring-boot-starter-parent to [2.2,2.3.1.RELEASE)
  java/spring-boot/pom.xml
Due: java

[F#] Correct encoding for websharper #2939)
  fsharp/websharper/Main.fs
Due: fsharp

[F#] Upate Frank to 6.1 (#2940)
  fsharp/frank/Program.fs
  fsharp/frank/config.yaml
  fsharp/frank/web.fsproj
Due: fsharp

[Nim] Add whip (#2928)
  .github/CODEOWNERS
  .travis.yml
  nim/whip/config.yaml
  nim/whip/server.nim
  nim/whip/server.nimble
Due: nim

[V] Add vape
  .travis.yml
  v/Dockerfile
  v/config.yaml
  v/vape/config.yaml
  v/vape/main.v
Due: none

feat(v): Use the latest v version
  v/Dockerfile
Due: none

chore: Add default concurrency levels for bin/db
  tools/src/db.cr
Due: none

fix(vape): Make server mutable
  v/vape/config.yaml
  v/vape/main.v
Due: none

[V] Add vape (#2902)
  .travis.yml
  tools/src/db.cr
  v/Dockerfile
  v/config.yaml
  v/vape/config.yaml
  v/vape/main.v
Due: none

chore(java): Update spring boot to 2.3
  java/spring-boot/config.yaml
  java/spring-boot/pom.xml
Due: java

style: Remove trailing whitespace
  java/spring-boot/config.yaml
Due: java

chubbyphp-roadrunner
  .travis.yml
  php/chubbyphp-roadrunner/.rr.yaml
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp-roadrunner/public/index.php
Due: php

Update dependency vapor/vapor to from: "4.9.0"
  swift/vapor-framework/Package.swift
Due: swift

[PHP] Add roadrunner variant for chubbyphp (#2944)
  .travis.yml
  php/chubbyphp-roadrunner/.rr.yaml
  php/chubbyphp-roadrunner/composer.json
  php/chubbyphp-roadrunner/config.yaml
  php/chubbyphp-roadrunner/public/index.php
Due: php
