Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

chore(ruby): Add puma default config
  Gemfile
  Rakefile
  ruby/.config/puma.rb
  ruby/config.yaml
Due: ruby

fix(ruby): Use non-zero exit code for conditional command -> docker fails otherwise
  ruby/config.yaml
Due: ruby

fix(scala): Use multi-stage docker
  scala/Dockerfile
Due: scala

chore(blade): Add docker pause
  java/blade/config.yaml
Due: java

chore(pony): Stabilize builds
  .semaphore/semaphore.yml
  Rakefile
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
Due: pony

chore: Increase time waiting for container startup
  .semaphore/semaphore.yml
  .spec/spec_helper.rb
  Rakefile
  config.yaml
Due: none

chore(ci): Add a sleep to wait for container startup
  .semaphore/semaphore.yml
  Rakefile
Due: none

feat: Add pause to wait for container startup
  Rakefile
  clojure/coast/config.yaml
  clojure/config.yaml
  config.yaml
  csharp/config.yaml
  dart/config.yaml
  elixir/config.yaml
  java/config.yaml
  javascript/config.yaml
  julia/config.yaml
  kotlin/config.yaml
  ruby/grape/config.yaml
  ruby/hanami/config.yaml
  ruby/rails/config.yaml
  scala/config.yaml
Due: scala, ruby, dart, kotlin, julia, javascript, java, elixir, csharp, clojure

chore(ci): Use partial builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Avoid using docker cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(ci): Use name in config if exists
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(java): Use the new dockerfile format
  java/Dockerfile
  java/act/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
  java/spring-framework/config.yaml
Due: java

chore(laravel): Remove trailing commands
  php/laravel/config.yaml
Due: php

chore(csharp): Stablize builds
  csharp/.build/digitalocean/Dockerfile
  csharp/Dockerfile
  csharp/aspnetcore/aspnetcore.csproj
  csharp/config.yaml
Due: csharp

fix(aspnetcore): Set port
  csharp/Dockerfile
Due: csharp

feat: Switch cloud instances to fedora
  clojure/.build/digitalocean/Dockerfile
  clojure/config.yaml
  clojure/luminus/config.yaml
  crystal/.build/digitalocean/Dockerfile
  crystal/config.yaml
  crystal/onyx/config.yaml
  go/config.yaml
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  nim/.build/digitalocean/Dockerfile
  nim/config.yaml
  pony/.build/digitalocean/Dockerfile
  pony/Dockerfile
  pony/config.yaml
  pony/jennet/config.yaml
  python/Dockerfile
  python/apidaora/config.yaml
  python/config.yaml
  python/cyclone/config.yaml
  python/emmett/config.yaml
  python/hug/config.yaml
  python/masonite/config.yaml
  ruby/Dockerfile
  ruby/agoo/config.yaml
  ruby/config.yaml
  ruby/rails/config.yaml
Due: ruby, python, nim, javascript, go, crystal, clojure, pony

fix(cpp): Use multi-stage docker
  cpp/Dockerfile
  cpp/config.yaml
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

chore(swift): Stabilize builds
  swift/.build/digitalocean/Dockerfile
  swift/Dockerfile
  swift/config.yaml
Due: swift

chore(javascript): Use pm2 for nest
  javascript/Dockerfile
  javascript/config.yaml
  javascript/koa/.gitignore
  javascript/nestjs-express/.gitignore
  javascript/nestjs-express/config.yaml
  javascript/nestjs-express/config/.gitignore
  javascript/nestjs-fastify/.gitignore
  javascript/nestjs-fastify/config.yaml
  javascript/nestjs-fastify/config/.gitignore
Due: javascript

chore(ci): Save docker layers for faster builds
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(fsharp): Use multi-stage docker
  fsharp/Dockerfile
  fsharp/config.yaml
Due: fsharp

chore(ci): Create a setup job
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Increase time waiting for container startup
  .semaphore/semaphore.yml
  config.yaml
Due: none

chore(nim): Stabilize builds
  nim/.build/digitalocean/Dockerfile
  nim/Dockerfile
  nim/config.yaml
Due: nim

chore(javascript): npm install should be launched after command
  javascript/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(java): Increase docker pause
  java/blade/config.yaml
  java/config.yaml
Due: java

chore(ci): Use static compilation for built-in tools
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(nestjs): Wrong file name for express manifest
  javascript/nestjs-express/config.yaml
Due: javascript

chore: Always sleep to wait docker container to start
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

fix(scala): Use multi-stage docker
  scala/akkahttp/config.yaml
  scala/http4s/config.yaml
Due: scala

chore(ci): Increase build time limit
  .semaphore/semaphore.yml
  Rakefile
  java/blade/config.yaml
Due: java

chore: Use path like identifier for jobs
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  spec/benchmark_spec.cr
  spec/spec_helper.cr
Due: none

fix(csharp): Use multi-stage docker
  csharp/Dockerfile
  csharp/aspnetcore/config.yaml
  csharp/config.yaml
Due: csharp

fix(clojure): Use multi-stage docker
  clojure/Dockerfile
  clojure/coast/config.yaml
Due: clojure

fix(c): Use multi-stage docker
  c/Dockerfile
  c/agoo-c/config.yaml
  c/config.yaml
  c/kore/config.yaml
Due: c

chore: Always enable collect
  Rakefile
Due: none

chore(ci): Use setup at first level
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(ci): Remove unused scripts
  .ci/docker_release.sh
  .ci/has_to_run.sh
Due: none

feat(ci): Switch to semaphore
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(fsharp): Stabilized builds
  fsharp/.build/digitalocean/Dockerfile
  fsharp/config.yaml
  fsharp/suave/suaveapp.fsproj
Due: fsharp
