Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

chore(ci): Restore config
  .travis.yml
  fsharp2/Dockerfile
  fsharp2/config.yaml
  fsharp2/websharper/wsconfig.json
Due: none

Use wildcard versions
  fsharp/websharper/web.fsproj
Due: fsharp

Build WebSharper on netcore sdk 2.1
  .travis.yml
  fsharp2/Dockerfile
  fsharp2/websharper/Main.fs
  fsharp2/websharper/config.yaml
  fsharp2/websharper/web.fsproj
  fsharp2/websharper/wsconfig.json
Due: none

fix(fsharp): Switch from alpine to debian for webshaper
  fsharp2/Dockerfile
Due: none

chore(websarper): Remove WebSharper.FSharp to work with dotnetcore3.1
  fsharp2/websharper/Main.fs
  fsharp2/websharper/web.fsproj
Due: none

chore(fsharp): Use websharper with the same version than others
  fsharp/websharper/Main.fs
  fsharp/websharper/config.yaml
  fsharp/websharper/web.fsproj
Due: fsharp

chore(ci): Update config
  .travis.yml
Due: none

Update index.php
  php/siler-swoole/public/index.php
Due: php

chore(siler): Remove unused config
  .github/CODEOWNERS
Due: none

[PHP] Remove redundant config for siler-swoole (#2905)
  .github/CODEOWNERS
  php/siler-swoole/public/index.php
Due: php

[Nim] Add rosencrantz framework (#2910)
  .travis.yml
  nim/rosencrantz/config.yaml
  nim/rosencrantz/server.nim
  nim/rosencrantz/server.nimble
Due: nim

Update module bnkamalesh/webgo/v4 to v4.1.1
  go/webgo/go.mod
Due: go

chore(go): Update webgo to 4.1
  go/webgo/config.yaml
Due: go

Update dependency laravel/framework to ~7.15.0
  php/laravel/composer.json
Due: php

Update module fasthttp/router to v1.2.1
  go/router/go.mod
Due: go

chore(php): Update laravel to 7.15
  php/laravel/config.yaml
Due: php

chore(go): Update router to 1.2
  go/router/config.yaml
Due: go

chore: Update deps
  shard.yml
Due: none

Add compat with crystal 0.35 (#2918)
  shard.yml
Due: none

Pull in changes from remote
  swift/Dockerfile
  swift/vapor-framework/config.yaml
Due: swift

Pull in environment variables if supplied
  swift/vapor-framework/Package.resolved
  swift/vapor-framework/Sources/server/main.swift
Due: swift

Add Whip Framework
  .travis.yml
  nim/whip/config.yaml
  nim/whip/server.nim
  nim/whip/server.nimble
Due: nim

Change version
  nim/whip/config.yaml
  nim/whip/server.nim
  nim/whip/server.nimble
Due: nim

Remove resolved file
  swift/vapor-framework/Package.resolved
Due: swift

Use development by default
  swift/vapor-framework/Sources/server/main.swift
Due: swift

Remove trailing space in config file
  swift/vapor-framework/config.yaml
Due: swift

Requested Fix
  nim/whip/server.nimble
Due: nim

Remove empty line
  swift/vapor-framework/config.yaml
Due: swift

Remove empty line
  swift/swifter-framework/config.yaml
Due: swift

Bring back empty line
  swift/vapor-framework/config.yaml
Due: swift

Update Athena to 0.9.0
  README.md
  crystal/Dockerfile
  crystal/athena/athena.yml
  crystal/athena/config.yaml
  crystal/athena/shard.yml
  crystal/athena/src/server.cr
  crystal/config.yaml
Due: crystal

Use Endpoint routing
  csharp/aspnetcore/Program.cs
  csharp/aspnetcore/Startup.cs
Due: csharp

Add Carter
  .travis.yml
  csharp/Dockerfile
  csharp/aspnetcore/Program.cs
  csharp/aspnetcore/web.csproj
  csharp/carter/HomeModule.cs
  csharp/carter/Program.cs
  csharp/carter/Startup.cs
  csharp/carter/UserModule.cs
  csharp/carter/config.yaml
  csharp/carter/web.csproj
Due: csharp

Fix version ranges
  fsharp/websharper/web.fsproj
Due: fsharp

Name build stage
  csharp/Dockerfile
Due: csharp

Trying without the Content-Type header
  fsharp/websharper/Main.fs
Due: fsharp

Minimal hosting and startup
  csharp/aspnetcore/Program.cs
  csharp/aspnetcore/Startup.cs
  csharp/carter/HomeModule.cs
  csharp/carter/Program.cs
  csharp/carter/UserModule.cs
Due: csharp

Minimal Frank output
  fsharp/frank/Program.fs
Due: fsharp

Fix /user resource post
  fsharp/frank/Program.fs
Due: fsharp

fix(carter): Use the last patch version
  csharp/carter/web.csproj
Due: csharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
