Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

fix(ci): Use bundler to rake commands
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Rebase
  .semaphore/semaphore.yml
Due: none

chore(ci): Use checkout instead of cache
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore: Remove old configuration directive
  clojure/config.yaml
  elixir/config.yaml
  julia/config.yaml
  scala/config.yaml
Due: scala, julia, elixir, clojure

chore(ci): Use cache instead of checkout instead
  .semaphore/semaphore.yml
  Rakefile
Due: none

chore(micronaut): Always use latest gradle
  java/micronaut/config.yaml
Due: java

chore(java): Missings files onto containers
  java/config.yaml
Due: java

chore(java): Clean config file
  java/config.yaml
Due: java

chore: Use curl retry to wait for container startup
  .semaphore/semaphore.yml
  Rakefile
  kotlin/Dockerfile
  kotlin/kooby/settings.gradle
  kotlin/ktor/settings.gradle
Due: kotlin

chore: Temporary fix
  shard.yml
Due: none

fix(pakyow): Add files into container
  ruby/agoo/config.yaml
  ruby/config.yaml
Due: ruby

chore(java): Always specify binaries path for java frameworks
  java/blade/config.yaml
  java/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/rapidoid/config.yaml
  java/spring-boot/config.yaml
Due: java

chore(java): Use framework defined binaries
  java/Dockerfile
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
Due: java

chore(kore): Remove versionned binary
  c/kore/kore
Due: c

chore(tonberry): Add directory for gunicorn config
  python/tonberry/config/.gitignore
Due: python

fix(struts2): Wrong plugin name
  java/config.yaml
  java/struts2/pom.xml
Due: java

chore(kore): Use kore.io for sources download
  c/kore/config.yaml
Due: c

chore(tonberry): Set configuration compatible
  python/tonberry/config.yaml
Due: python

feat(ci): Use container
  .semaphore/semaphore.yml
  Rakefile
  c/kore/config.yaml
  php/mark/config.yaml
Due: php, c

fix(pakyow): Use buil-in binstubs
  ruby/config.yaml
  ruby/pakyow/config.yaml
Due: ruby

chore(java): Do not use multilines commands
  java/blade/config.yaml
  java/javalin/config.yaml
  java/jooby/config.yaml
  java/rapidoid/config.yaml
  java/spring-framework/config.yaml
  java/struts2/config.yaml
Due: java

chore(ruby): Clean config file
  ruby/config.yaml
Due: ruby

chore(java): Use embbed version of jetty runner
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
  java/struts2/config.yaml
  java/struts2/pom.xml
Due: java

chore: Reduce sleep when using containers
  Rakefile
Due: none

fix: Wrong rebase
  java/spring-framework/pom.xml
Due: java

chore: Rebase
  config.yaml
  shard.yml
Due: none

chore(ci): Clean config file
  .semaphore/semaphore.yml
Due: none

feat: Sleep for 30 seconds, if using a non-local provider
  Rakefile
Due: none

chore(ci): Revert using container
  .semaphore/semaphore.yml
  Rakefile
Due: none

fix(sunrise-route): Add nginx config
  php/sunrise-router-annotations/config.yaml
  php/sunrise-router-annotations/config/.gitignore
  php/sunrise-router/config.yaml
  php/sunrise-router/config/.gitignore
Due: php

chore: Update results
  README.md
Due: none

[Crystal] Update orion to 3.0 (#3058)
  .github/CODEOWNERS
  README.md
  crystal/orion/config.yaml
  crystal/orion/server.cr
  crystal/orion/shard.yml
Due: crystal

SunriseRouter works with RoadRunner
  .travis.yml
  php/sunrise-router-roadrunner/.rr.yaml
  php/sunrise-router-roadrunner/composer.json
  php/sunrise-router-roadrunner/config.yaml
  php/sunrise-router-roadrunner/worker.php
Due: php

Update dependency laravel/framework to ~7.18.0
  php/laravel/composer.json
Due: php

chore(php): Update laravel to 7.18
  php/laravel/config.yaml
Due: php

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
