Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

fix(pony): Update binary path
  pony/Dockerfile
Due: pony

chore: Remove exec right
  csharp/aspnetcore/web.csproj
  pony/jennet/main.pony
Due: csharp, pony

fix(elixir): Wrong startup command
  elixir/Dockerfile
Due: elixir

fix(php): Avoid using systemd on containers (bash workaround)
  elixir/.script/compile.sh
  php/Dockerfile
  php/basicphp/config.yaml
  php/chubbyphp/config.yaml
  php/hamlet/config.yaml
  php/ice/config.yaml
  php/laminas/config.yaml
  php/laravel/config.yaml
  php/lumen/config.yaml
  php/mezzio/config.yaml
  php/nette/config.yaml
  php/one-fpm/config.yaml
  php/phalcon/config.yaml
  php/siler/config.yaml
  php/slim/config.yaml
  php/symfony/config.yaml
  php/ubiquity/config.yaml
  php/yii/config.yaml
Due: php, elixir

fix(javascript): Need to install git for uWebSocket
  javascript/Dockerfile
  javascript/nanoexpress-pro/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

feat: Upload binary one by one (instead of a whole folder)
  Rakefile
Due: none

fix(php): Enable sockets on containers
  php/Dockerfile
Due: php

fix: Remove unsed config
  dart/aqueduct/main.dart
Due: dart

fix: Wrong condition
  Rakefile
Due: none

chore: Enfore styles
  dart/aqueduct/main.dart
Due: dart

chore: Avoid double sleep for containers
  config.yaml
Due: none

feat: Allow file or folder upload, alongside glob pattern
  Rakefile
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
  crystal/config.yaml
Due: crystal, cpp

feat: Create a dedicated user for systemd
  Rakefile
  config.yaml
Due: none

chore(cpp): Stabilize builds
  cpp/.build/digitalocean/Dockerfile
  cpp/drogon/config.yaml
  cpp/evhtp/config.yaml
Due: cpp

chore(c): Stabilize builds
  c/.build/digitalocean/Dockerfile
  c/agoo-c/config.yaml
  c/kore/config.yaml
  c/kore/kore
Due: c

[Python] Avoid gunicorn for sanic (#2685)
  javascript/.config/ecosystem.config.js
  python/django/settings.py
Due: python, javascript

chore: Do not read <lib> directory -> generated by crystal
  Rakefile
Due: none

chore(elixir): No need for compilation script
  elixir/.gitignore
Due: elixir

chore(swift): Do not version lock files
  swift/.gitignore
Due: swift

feat: Add command to clean current working directory
  Rakefile
Due: none

chore(ci): Update config
  .semaphore/semaphore.yml
Due: none

chore(haskell): Stabilize build
  haskell/.build/digitalocean/Dockerfile
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

fix(agoo): Wrong startup command
  ruby/agoo/config.yaml
Due: ruby

chore: Revert previous commit
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

chore: Create neph log directory before each commands
  .semaphore/semaphore.yml
  Rakefile
  config.yaml
Due: none

feat(ruby): Complete ruby based benchmark
  ruby/agoo/config.yaml
  ruby/camping/config.yaml
  ruby/hanami-api/config.yaml
  ruby/sinatra/config.yaml
  ruby/syro/config.yaml
Due: ruby

chore(rust): Add build directory to ignore file
  elixir/cowboy-stream/script/.gitignore
  elixir/cowboy/script/.gitignore
  elixir/phoenix/script/.gitignore
  elixir/plug/script/.gitignore
  rust/.gitignore
Due: rust, elixir

fix(fastsitephp): Use new config.yaml directives
  php/fastsitephp/config.yaml
  php/fastsitephp/config/.gitignore
Due: php

feat: Use dockerfile for docker-machine
  Rakefile
Due: none

fix(scala): Add application.conf and routes file for play
  scala/Dockerfile
  scala/play/config.yaml
Due: scala

fix: Upload files as root, and set rights on runcmd
  Rakefile
  config.yaml
Due: none

chore: Simplify cloud-init use creation
  config.yaml
Due: none

fix: Wrong permission on remote droplets
  config.yaml
  elixir/config.yaml
  javascript/config.yaml
Due: javascript, elixir

fix: Wrong rebase
  haskell/Dockerfile
  haskell/config.yaml
Due: haskell

docs(python): Update hug website
  python/hug/config.yaml
Due: python

chore: Keep code style with restyled
  .semaphore/semaphore.yml
Due: none

fix(javascript): Ensure deps installation
  javascript/nanoexpress-pro/config.yaml
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
  javascript/sifrr/config.yaml
Due: javascript

feat: Use private IP (instead of public one) to communicate while bootstraping
  config.yaml
Due: none

chore(swift): Avoid using command line options for vapor
  swift/Dockerfile
  swift/config.yaml
  swift/vapor-framework/config.yaml
Due: swift
