Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/

Update module roblillack/mars to v1.0.3
  go/mars/go.mod
Due: go

chore(spring-framework): Update jetty to 9.4.31.v20200723
  java/spring-framework/config.yaml
Due: java

chore(javascript): Update nest to 7.4
  javascript/nestjs-express/config.yaml
  javascript/nestjs-fastify/config.yaml
Due: javascript

chore(php): Update laravel to 7.22
  php/laravel/config.yaml
Due: php

chore(lucky): Disable logging
  crystal/lucky/config/log.cr
Due: crystal

chore(lucky): Simplify logger config
  crystal/lucky/config/log.cr
Due: crystal

feat(amber): Disable logging
  crystal/amber/config/application.cr
  crystal/amber/config/logger.cr
Due: crystal

chore(mars): Add reviewer
  .github/CODEOWNERS
Due: none

Update ponylang/ponyc Docker tag to v0.36.0
  pony/Dockerfile
Due: pony

Update dependency nrepl:nrepl to v0.8.0
  clojure/luminus/project.clj
Due: clojure

chore(pony): Upgrade to 0.36
  pony/config.yaml
Due: pony

Update nimlang/nim Docker tag to v1.2.6
  nim/Dockerfile
Due: nim

chore(javascript): Remove nanoexpress-pro
  .travis.yml
  javascript/nanoexpress-pro/app.js
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
Due: javascript

chore(javascript): Upgrade node to v14.7
  javascript/Dockerfile
  javascript/config.yaml
Due: javascript

[Javascript] Upgrade node to v14.7 (#3209)
  javascript/Dockerfile
  javascript/config.yaml
Due: javascript

chore(javascript): Allow major upgrade for node
  renovate.json
Due: none

[Javascript] Remove nanoexpress-pro (#3207)
  .travis.yml
  javascript/nanoexpress-pro/app.js
  javascript/nanoexpress-pro/config.yaml
  javascript/nanoexpress-pro/package.json
Due: javascript

Allow major upgrade for node (#3210)
  renovate.json
Due: none

chore: Update results [skip ci]
  README.md
Due: none

Update results (#3211)
  README.md
Due: none

Update dependency django to >=3.0.0,<3.1.1
  python/django/requirements.txt
Due: python

chore(python): Update django to 3.1
  python/django/config.yaml
  python/django/requirements.txt
Due: python

Disable pf
  go/fiber/main.go
Due: go

Update main.go
  go/fiber/main.go
Due: go

Update module gogearbox/gearbox to v1.1.1
  go/gearbox/go.mod
Due: go

Update dependency laravel/framework to ~7.23.0
  php/laravel/composer.json
Due: php

Remove the pakyow metagem from the bundle
  ruby/pakyow/Gemfile
Due: ruby

Boot Pakyow in ludicrous mode
  ruby/pakyow/config.yaml
Due: ruby

slim-roadrunner slim-swoole
  .github/CODEOWNERS
  .travis.yml
  php/slim-roadrunner/.rr.yaml
  php/slim-roadrunner/composer.json
  php/slim-roadrunner/config.yaml
  php/slim-roadrunner/public/index.php
  php/slim-swoole/composer.json
  php/slim-swoole/config.yaml
  php/slim-swoole/public/index.php
Due: php

Update module roblillack/mars to v1.0.4
  go/mars/go.mod
Due: go

Revert "Boot Pakyow in ludicrous mode"
  ruby/pakyow/config.yaml
Due: ruby

[PHP] Add slim roadrunner (#3215)
  .github/CODEOWNERS
  .travis.yml
  README.md
  php/slim-roadrunner/.rr.yaml
  php/slim-roadrunner/composer.json
  php/slim-roadrunner/config.yaml
  php/slim-roadrunner/public/index.php
  php/slim-swoole/composer.json
  php/slim-swoole/config.yaml
  php/slim-swoole/public/index.php
Due: php

chore(php): Update laravel to 7.23
  php/laravel/config.yaml
Due: php

[Ruby] Avoid using assets in pakyow (#3216)
  ruby/pakyow/Gemfile
Due: ruby

[Go] 📦 Bump Fiber v1.13.3 (#3178)
  go/fiber/config.yaml
  go/fiber/go.mod
  go/fiber/main.go
Due: go

Update google/dart Docker tag to v2.9
  dart/Dockerfile
Due: dart

chore(dart): Upgrade to v2.9
  dart/config.yaml
Due: dart

Update results (#3220)
  README.md
Due: none
