Repository the-benchmarker/web-frameworks: changes, and which Semaphore blocks are due for each by the changed paths.
All: scala, rust, ruby, python, dart, php, perl, nim, kotlin, julia, javascript, java, go, elixir, csharp, crystal, cpp, clojure, c, haskell, pony, swift, fsharp

scala:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: http4s
    commands:
    - mkdir -p .neph/scala/http4s
  ...

rust:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: actix
    commands:
    - mkdir -p .neph/rust/actix
  ...

ruby:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: rack-app
    commands:
    - mkdir -p .neph/ruby/rack-app
  ...

python:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: apidaora
    commands:
  ...

dart:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: aqueduct
    commands:
    - mkdir -p .neph/dart/aqueduct
  ...

php:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: fastsitephp
    commands:
  ...

perl:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: dancer2
    commands:
    - mkdir -p .neph/perl/dancer2
  ...

nim:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: jester
    commands:
    - mkdir -p .neph/nim/jester
  ...

javascript:
  prologue:
    commands:
    - checkout
    - cache restore
    - bundle install
    - artifact pull workflow bin
    - find bin -type f -exec chmod +x {} \;
    - rake config
  env_vars:
  - name: COLLECT
    value: 'off'
  - name: CLEAN
    value: 'off'
  jobs:
  - name: turbo-polka
    commands:
  ...

switch to semaphoreci
  .semaphore/semaphore.yml
  Rakefile
Due: none

switch to semaphoreci
  .semaphore/semaphore.yml
  Gemfile
  Rakefile
Due: none

switch to semaphoreci
  .semaphore/semaphore.yml
  Gemfile
  Rakefile
  config.yaml
Due: none

switch to semaphoreci
  .semaphore/semaphore.yml
  Gemfile
  Rakefile
  config.yaml
  spec/route_spec.rb
  spec/spec_helper.cr
Due: none

switch to semaphoreci
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.cr
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  config.yaml
  spec/spec_helper.cr
Due: none

Update shard.yml
  crystal/grip/shard.yml
Due: crystal

Update server.cr
  crystal/grip/src/server.cr
Due: crystal

Update config.yaml
  crystal/grip/config.yaml
Due: crystal

switch to semaphoreci
  .semaphore/semaphore.yml
  .spec/route_spec.rb
  .spec/spec_helper.rb
  Gemfile
  Rakefile
  config.yaml
Due: none

avoid connecting to rubygems.org on non setup tasks
  .semaphore/semaphore.yml
  Rakefile
Due: none

use incremental ci (do not run if no changes are detected)
  .semaphore/semaphore.yml
  Rakefile
Due: none

remove trailing plugin for mezzio
  php/mezzio/composer.json
Due: php

remove trailing plugin for laminas
  php/laminas/composer.json
Due: php

use uvicorn[standard] instead of uvicorn, changes in 0.12
  python/apidaora/requirements.txt
  python/asgineer/requirements.txt
  python/blacksheep/requirements.txt
  python/fastapi/requirements.txt
  python/index.py/requirements.txt
  python/quart/requirements.txt
  python/starlette/requirements.txt
  python/tonberry/requirements.txt
Due: python

use uvicorn[standard] instead of uvicorn, changes in 0.12
  .semaphore/semaphore.yml
  python/apidaora/requirements.txt
  python/asgineer/requirements.txt
  python/blacksheep/requirements.txt
  python/fastapi/requirements.txt
  python/index.py/requirements.txt
  python/quart/requirements.txt
  python/starlette/requirements.txt
  python/tonberry/requirements.txt
Due: python

use uvicorn[standard] instead of uvicorn, changes in 0.12
  .semaphore/semaphore.yml
  Rakefile
  python/apidaora/requirements.txt
  python/asgineer/requirements.txt
  python/blacksheep/requirements.txt
  python/fastapi/requirements.txt
  python/index.py/requirements.txt
  python/quart/requirements.txt
  python/starlette/requirements.txt
  python/tonberry/requirements.txt
Due: python

Update uvicorn extras
  python/index.py/requirements.txt
Due: python

Add R/Rserve
  .travis.yml
  r/rserve/DESCRIPTION
  r/rserve/app.R
  r/rserve/config.yaml
Due: none

Fix typo in Rserve version
  r/rserve/config.yaml
Due: none

Add Mike Framework
  nim/mike/config.yaml
  nim/mike/server.nim
  nim/mike/server.nimble
Due: nim

fix clojure builds
  clojure/Dockerfile
  clojure/coast/config.yaml
  clojure/config.yaml
  clojure/luminus/config.yaml
Due: clojure

fix c builds
  c/Dockerfile
  c/agoo-c/config.yaml
  c/kore/config.yaml
Due: c

fix java builds
  java/Dockerfile
  java/act/config.yaml
  java/act/pom.xml
  java/act/src/main/resources/conf/app.properties
  java/blade/config.yaml
  java/blade/pom.xml
  java/blade/src/main/resources/application.properties
  java/blade/src/resources/application.properties
  java/config.yaml
  java/javalin/config.yaml
  java/javalin/pom.xml
  java/jooby/config.yaml
  java/jooby/src/main/java/benchmark/App.java
  java/light-4j/config.yaml
  java/light-4j/pom.xml
  java/micronaut/build.gradle
  java/micronaut/config.yaml
  java/rapidoid/config.yaml
  java/rapidoid/pom.xml
  java/spring-boot/config.yaml
  java/spring-boot/pom.xml
  java/spring-boot/src/main/java/benchmark/springboot/BenchmarkApplication.java
  java/spring-boot/src/main/resources/application.properties
  java/spring-framework/config.yaml
  java/spring-framework/pom.xml
  java/spring-framework/src/main/java/benchmark/springframework/BenchmarkController.java
  java/struts2/config.yaml
  java/struts2/pom.xml
  java/struts2/src/main/java/App.java
Due: java

Path conditions:
  scala: any of: scala/
  rust: any of: rust/
  ruby: any of: ruby/
  python: any of: python/
  dart: any of: dart/
  php: any of: php/
  perl: any of: perl/
  nim: any of: nim/
  kotlin: any of: kotlin/
  julia: any of: julia/
  javascript: any of: javascript/
  java: any of: java/
  go: any of: go/
  elixir: any of: elixir/
  csharp: any of: csharp/
  crystal: any of: crystal/
  cpp: any of: cpp/
  clojure: any of: clojure/
  c: any of: c/
  haskell: any of: haskell/
  pony: any of: pony/
  swift: any of: swift/
  fsharp: any of: fsharp/
